basePath: /insights/directory/v1/
consumes:
- application/json
definitions:
  ErrorMessage:
    properties:
      message:
        type: string
    type: object
  EventQuery:
    description: |-
      EventQuery is the users' command to search our auth logs
      Limit - row count (validated/repaired)
      SearchTerm - see above
      Projection - list of field names to return from document (not validated)
    properties:
      end_time:
        type: string
      fields:
        items:
          type: string
        type: array
      limit:
        format: int64
        type: integer
      search_after:
        items:
          type: object
        type: array
      search_term:
        $ref: '#/definitions/SearchTerm'
      service:
        items:
          type: string
        type: array
      sort:
        type: string
      start_time:
        type: string
    type: object
  EventResponse:
    description: EventResponse is what we return
    properties:
      timestamp:
        type: string
    type: object
  SearchTerm:
    description: SearchTerm is the filter portion of the query
    properties:
      and:
        additionalProperties:
          $ref: '#/definitions/TermItem'
        type: object
      or:
        additionalProperties:
          $ref: '#/definitions/TermItem'
        type: object
    type: object
  TermItem:
    description: |-
      TermItem  one term in an and/or query, or one in an array of terms
      items in the Terms array can be
      1) a simple KV pair "username": "root"
      2) a key-array pair "username": [ "root", "admin"]
      in every case, they are key-value pairs,
      so they can be stored in a map by their parent object
    properties:
      Key:
        description: what's in it?
        type: string
      Value:
        type: object
      ValueArray:
        items:
          type: object
        type: array
    type: object
host: api.jumpcloud.com
info:
  contact:
    email: support@jumpcloud.com
  description: The purpose of this API is to query Jumpcloud Directory Insights events
  title: Directory Insights API
  version: 0.39.0
paths:
  /events:
    get:
      consumes:
      - application/json
      description: Query the API for Directory Insights events
      operationId: Events_Get
      parameters:
      - description: JSON event query body
        in: body
        name: EventQueryBody
        required: true
        schema:
          $ref: '#/definitions/EventQuery'
      produces:
      - application/json
      responses:
        "200":
          description: Array of Directory Insights events JSON objects
          schema:
            items:
              type: object
              additionalProperties: true
            type: array
        "400":
          description: Invalid/unknown query JSON body
          schema:
            $ref: '#/definitions/ErrorMessage'
        "401":
          description: Unauthorized (Invalid API Key)
          schema:
            $ref: '#/definitions/ErrorMessage'
        "402":
          description: Directory Insights is not enabled for yout organization
          schema:
            $ref: '#/definitions/ErrorMessage'
        "500":
          description: Technical difficulties processing your request
          schema:
            $ref: '#/definitions/ErrorMessage'
      summary: Query Events
      tags:
      - EventQuery
produces:
- application/json
schemes:
- https
swagger: "2.0"

