swagger: "2.0"
info:
  version: "2.0"
  title: JumpCloud APIs
  description: JumpCloud's V2 API. This set of endpoints allows JumpCloud customers to manage objects, groupings and mappings and interact with the JumpCloud Graph.
host: console.jumpcloud.com
basePath: /api/v2/
schemes:
- https
consumes:
- application/json
produces:
- application/json
securityDefinitions:
  x-api-key:
    name: x-api-key
    type: apiKey
    in: header
paths:
  /activedirectories:
    get:
      operationId: List-ActiveDirectory
      summary: List Active Directories
      tags:
      - Active Directory
      description: |-
        This endpoint allows you to list all your Active Directory Instances.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/activedirectories/ \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters:
      - name: fields
        in: query
        description: |
          The comma separated fields included in the returned records.
          If omitted, the default list of fields will be returned.
        required: false
        type: array
        default: []
        items:
          type: string
      - name: filter
        in: query
        description: 'Supported operators are: eq, ne, gt, ge, lt, le, between, search, in'
        required: false
        type: array
        default: []
        items:
          type: string
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      - name: sort
        in: query
        description: |
          The comma separated fields used to sort the collection.
          Default sort is ascending, prefix with `-` to sort descending.
        required: false
        type: array
        default: []
        items:
          type: string
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/active-directory-output'
      security:
      - x-api-key: []
  /activedirectories/{activedirectory_id}/associations:
    get:
      operationId: List-ActiveDirectoryAssociation
      summary: List the associations of an Active Directory instance
      tags:
      - Active Directory
      - Graph
      description: |-
        This endpoint returns the direct associations of this Active Directory instance.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example Active Directory and Users.


        #### Sample Request
        ```
        curl -X GET 'https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}/associations?targets=user \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - name: targets
        in: query
        description: ""
        required: true
        type: array
        items:
          enum:
          - active_directory
          - application
          - command
          - g_suite
          - ldap_server
          - office_365
          - policy
          - radius_server
          - system
          - system_group
          - user
          - user_group
          type: string
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphConnection'
      security:
      - x-api-key: []
    parameters:
    - name: activedirectory_id
      in: path
      required: true
      type: string
  /activedirectories/{activedirectory_id}/usergroups:
    get:
      operationId: List-ActiveDirectoryTraverseUserGroup
      summary: List the User Groups bound to an Active Directory instance
      tags:
      - Active Directory
      - Graph
      description: |-
        This endpoint will return all Users Groups bound to an Active Directory instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the group's type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this Active Directory instance to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this Active Directory instance.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}/usergroups \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      - name: filter
        in: query
        description: 'Supported operators are: eq, ne, gt, ge, lt, le, between, search, in'
        required: false
        type: array
        default: []
        items:
          type: string
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: activedirectory_id
      in: path
      description: ObjectID of the Active Directory instance.
      required: true
      type: string
  /activedirectories/{id}:
    get:
      operationId: Get-ActiveDirectory
      summary: Get an Active Directory
      tags:
      - Active Directory
      description: |-
        This endpoint returns a specific Active Directory.

        #### Sample Request

        ```
        curl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID} \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/active-directory-output'
      security:
      - x-api-key: []
    parameters:
    - name: id
      in: path
      description: ObjectID of this Active Directory instance.
      required: true
      type: string
  /applemdms:
    get:
      operationId: List-AppleMDM
      summary: List Apple MDMs
      tags:
      - Apple MDM
      description: |-
        Get a list of all Apple MDM configurations.  An empty topic indicates that a signed certificate from Apple has not been provided to the PUT endpoint yet.

        Note: currently only one MDM configuration per organization is supported.

        #### Sample Request
        ```
        curl https://console.jumpcloud.com/api/v2/applemdms \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/AppleMDM'
      security:
      - x-api-key: []
  /applemdms/{apple_mdm_id}/csr:
    get:
      operationId: Get-AppleMDMCsr
      summary: Get Apple MDM CSR Plist
      tags:
      - Apple MDM
      description: |-
        Retrieves an Apple MDM CSR Plist for an organization.  The user must supply the returned plist to Apple for signing, and then provide the certificate provided by Apple back into the PUT API.

        #### Sample Request
        ```
          curl -X GET https://console.jumpcloud.com/api/v2/organizations/{Organization_ID}/mdm/{Apple_MDM_ID}/csr \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      produces:
      - application/octet-stream
      parameters: []
      responses:
        "201":
          description: ""
          schema:
            properties:
              signedCsrPlist:
                type: string
            type: object
      security:
      - x-api-key: []
    parameters:
    - name: apple_mdm_id
      in: path
      required: true
      type: string
  /applemdms/{apple_mdm_id}/depkey:
    get:
      operationId: Get-AppleMDMDepKey
      summary: Get Apple MDM DEP Public Key
      tags:
      - Apple MDM
      produces:
      - application/x-pem-file
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/apple-mdm-public-key-cert'
      security:
      - x-api-key: []
    parameters:
    - name: apple_mdm_id
      in: path
      required: true
      type: string
  /applemdms/{apple_mdm_id}/devices:
    get:
      operationId: List-AppleMDMDevice
      summary: List AppleMDM Devices
      tags:
      - Apple MDM
      description: |-
        Lists all Apple MDM devices.

        The filter and sort queries will allow the following fields:
        `createdAt`
        `depRegistered`
        `enrolled`
        `id`
        `osVersion`
        `serialNumber`
        `udid`

        #### Sample Request
        ```
          curl -X GET https://console.jumpcloud.com/api/v2/applemdms/{apple_mdm_id}/devices \
          -H 'accept: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{}'
        ```
      parameters:
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      - name: filter
        in: query
        description: 'Supported operators are: eq, ne, gt, ge, lt, le, between, search, in'
        required: false
        type: array
        default: []
        items:
          type: string
      - name: sort
        in: query
        description: |
          The comma separated fields used to sort the collection.
          Default sort is ascending, prefix with `-` to sort descending.
        required: false
        type: array
        default: []
        items:
          type: string
      - $ref: '#/parameters/trait:listCount:x-total-count'
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/apple-mdm-device'
            type: array
      security:
      - x-api-key: []
    parameters:
    - name: apple_mdm_id
      in: path
      required: true
      type: string
  /applemdms/{apple_mdm_id}/devices/{device_id}/erase:
    parameters:
    - name: apple_mdm_id
      in: path
      required: true
      type: string
    - name: device_id
      in: path
      required: true
      type: string
    post:
      operationId: Erase-AppleMDMDevice
      summary: Erase Device
      tags:
      - Apple MDM
      description: |-
        Erases a DEP-enrolled device.

        #### Sample Request
        ```
          curl -X POST https://console.jumpcloud.com/api/v2/applemdms/{apple_mdm_id}/devices/{device_id}/erase \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{}'
        ```
      parameters:
      - name: body
        in: body
        schema:
          required:
          - pin
          type: object
          properties:
            pin:
              pattern: ^[0-9]{6}$
              type: string
              description: 6-digit PIN required to erase the device
              example: "123456"
      responses:
        "204":
          description: ""
        "400":
          description: ""
          schema:
            properties:
              message:
                type: string
            type: object
        "500":
          description: ""
          schema:
            properties:
              message:
                type: string
            type: object
      security:
      - x-api-key: []
  /applemdms/{apple_mdm_id}/devices/{device_id}/lock:
    parameters:
    - name: apple_mdm_id
      in: path
      required: true
      type: string
    - name: device_id
      in: path
      required: true
      type: string
    post:
      operationId: Lock-AppleMDMDevice
      summary: Lock Device
      tags:
      - Apple MDM
      description: |-
        Locks a DEP-enrolled device.

        #### Sample Request
        ```
          curl -X POST https://console.jumpcloud.com/api/v2/applemdms/{apple_mdm_id}/devices/{device_id}/lock \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{}'
        ```
      parameters:
      - name: body
        in: body
        schema:
          required:
          - pin
          type: object
          properties:
            pin:
              pattern: ^[0-9]{6}$
              type: string
              description: 6-digit PIN required to erase the device
              example: "123456"
      responses:
        "204":
          description: ""
        "400":
          description: ""
          schema:
            properties:
              message:
                type: string
            type: object
        "500":
          description: ""
          schema:
            properties:
              message:
                type: string
            type: object
      security:
      - x-api-key: []
  /applemdms/{apple_mdm_id}/devices/{device_id}/restart:
    parameters:
    - name: apple_mdm_id
      in: path
      required: true
      type: string
    - name: device_id
      in: path
      required: true
      type: string
    post:
      operationId: Restart-AppleMDMDevice
      summary: Restart Device
      tags:
      - Apple MDM
      description: |-
        Restarts a DEP-enrolled device.

        #### Sample Request
        ```
          curl -X POST https://console.jumpcloud.com/api/v2/applemdms/{apple_mdm_id}/devices/{device_id}/restart \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{}'
        ```
      parameters: []
      responses:
        "204":
          description: ""
        "400":
          description: ""
          schema:
            properties:
              message:
                type: string
            type: object
        "500":
          description: ""
          schema:
            properties:
              message:
                type: string
            type: object
      security:
      - x-api-key: []
  /applemdms/{apple_mdm_id}/devices/{device_id}/shutdown:
    parameters:
    - name: apple_mdm_id
      in: path
      required: true
      type: string
    - name: device_id
      in: path
      required: true
      type: string
    post:
      operationId: Shutdown-AppleMDMDevice
      summary: Shut Down Device
      tags:
      - Apple MDM
      description: |-
        Shuts down a DEP-enrolled device.

        #### Sample Request
        ```
          curl -X POST https://console.jumpcloud.com/api/v2/applemdms/{apple_mdm_id}/devices/{device_id}/shutdown \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{}'
        ```
      parameters: []
      responses:
        "204":
          description: ""
        "400":
          description: ""
          schema:
            properties:
              message:
                type: string
            type: object
        "500":
          description: ""
          schema:
            properties:
              message:
                type: string
            type: object
      security:
      - x-api-key: []
  /applemdms/{apple_mdm_id}/enrollmentprofiles:
    get:
      operationId: List-AppleMDMEnrollmentProfile
      summary: List Apple MDM Enrollment Profiles
      tags:
      - Apple MDM
      description: |-
        Get a list of enrollment profiles for an apple mdm.

        Note: currently only one enrollment profile is supported.

        #### Sample Request
        ```
         curl https://console.jumpcloud.com/api/v2/applemdms/{APPLE_MDM_ID}/enrollmentprofiles \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/AppleMDM'
      security:
      - x-api-key: []
    parameters:
    - name: apple_mdm_id
      in: path
      required: true
      type: string
  /applemdms/{apple_mdm_id}/enrollmentprofiles/{id}:
    get:
      operationId: Get-AppleMDMEnrollmentProfile
      summary: Get an Apple MDM Enrollment Profile
      tags:
      - Apple MDM
      description: |-
        Get an enrollment profile

        Currently only requesting the mobileconfig is supported.

        #### Sample Request

        ```
        curl https://console.jumpcloud.com/api/v2/applemdms/{APPLE_MDM_ID}/enrollmentprofiles/{ID} \
          -H 'accept: application/x-apple-aspen-config' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      produces:
      - application/x-apple-aspen-config
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/mobileconfig'
      security:
      - x-api-key: []
    parameters:
    - name: apple_mdm_id
      in: path
      required: true
      type: string
    - name: id
      in: path
      required: true
      type: string
  /applemdms/{apple_mdm_id}/refreshdepdevices:
    parameters:
    - name: apple_mdm_id
      in: path
      required: true
      type: string
    post:
      operationId: Refresh-AppleMDMDevice
      summary: Refresh DEP Devices
      tags:
      - Apple MDM
      description: |-
        Refreshes the list of devices that a JumpCloud admin has added to their virtual MDM in Apple Business Manager - ABM so that they can be DEP enrolled with JumpCloud.

        #### Sample Request
        ```
          curl -X POST https://console.jumpcloud.com/api/v2/applemdms/{apple_mdm_id}/refreshdepdevices \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{}'
        ```
      parameters: []
      responses:
        "204":
          description: ""
        "400":
          description: ""
          schema:
            properties:
              message:
                type: string
            type: object
        "500":
          description: ""
          schema:
            properties:
              message:
                type: string
            type: object
      security:
      - x-api-key: []
  /applemdms/{id}:
    delete:
      operationId: Delete-AppleMDM
      summary: Delete an Apple MDM
      tags:
      - Apple MDM
      description: |-
        Removes an Apple MDM configuration.

        Warning: This is a destructive operation and will remove your Apple Push Certificates.  We will no longer be able to manage your devices and the only recovery option is to re-register all devices into MDM.

        #### Sample Request
        ```
        curl -X DELETE https://console.jumpcloud.com/api/v2/applemdms/{id} \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/AppleMDM'
      security:
      - x-api-key: []
    parameters:
    - name: id
      in: path
      required: true
      type: string
    put:
      operationId: Update-AppleMDM
      summary: Update an Apple MDM
      tags:
      - Apple MDM
      description: |-
        Updates an Apple MDM configuration.  This endpoint is used to supply JumpCloud with a signed certificate from Apple in order to finalize the setup and allow JumpCloud to manage your devices.

        #### Sample Request
        ```
          curl -X PUT https://console.jumpcloud.com/api/v2/applemdms/{ID} \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "name": "MDM name",
            "appleSignedCert": "{CERTIFICATE}",
            "encryptedDepServerToken": "{SERVER_TOKEN}"
          }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/apple-mdm-patch-input'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/AppleMDM'
      security:
      - x-api-key: []
  /applications/{application_id}/associations:
    get:
      operationId: List-ApplicationAssociation
      summary: List the associations of an Application
      tags:
      - Applications
      - Graph
      description: |-
        This endpoint will return the _direct_ associations of an Application. A direct association can be a non-homogeneous relationship between 2 different objects, for example Applications and User Groups.


        #### Sample Request
        ```
        curl -X GET 'https://console.jumpcloud.com/api/v2/applications/{Application_ID}/associations?targets=user_group \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - name: targets
        in: query
        description: ""
        required: true
        type: array
        items:
          enum:
          - active_directory
          - application
          - command
          - g_suite
          - ldap_server
          - office_365
          - policy
          - radius_server
          - system
          - system_group
          - user
          - user_group
          type: string
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphConnection'
      security:
      - x-api-key: []
    parameters:
    - name: application_id
      in: path
      description: ObjectID of the Application.
      required: true
      type: string
    post:
      operationId: Set-ApplicationAssociation
      summary: Manage the associations of an Application
      tags:
      - Applications
      - Graph
      description: |-
        This endpoint allows you to manage the _direct_ associations of an Application. A direct association can be a non-homogeneous relationship between 2 different objects, for example Application and User Groups.

        #### Sample Request
        ```
        curl -X POST 'https://console.jumpcloud.com/api/v2/applications/{Application_ID}/associations' \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "op": "add",
            "type": "user_group",
            "id": "{Group_ID}"
        }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/GraphManagementReq'
      responses:
        "204":
          description: OK
      security:
      - x-api-key: []
  /applications/{application_id}/usergroups:
    get:
      operationId: List-ApplicationTraverseUserGroup
      summary: List the User Groups bound to an Application
      tags:
      - Applications
      - Graph
      description: |-
        This endpoint will return all Users Groups bound to an Application, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the group's type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates  each path from this Application to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this Application.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/applications/{Application_ID}/usergroups \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      - name: filter
        in: query
        description: 'Supported operators are: eq, ne, gt, ge, lt, le, between, search, in'
        required: false
        type: array
        default: []
        items:
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: application_id
      in: path
      description: ObjectID of the Application.
      required: true
      type: string
  /applications/{application_id}/users:
    get:
      operationId: List-ApplicationTraverseUser
      summary: List the Users bound to an Application
      tags:
      - Applications
      - Graph
      description: |-
        This endpoint will return all Users bound to an Application, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this Application to the corresponding User; this array represents all grouping and/or associations that would have to be removed to deprovision the User from this Application.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/applications/{Application_ID}/users \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      - name: filter
        in: query
        description: 'Supported operators are: eq, ne, gt, ge, lt, le, between, search, in'
        required: false
        type: array
        default: []
        items:
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: application_id
      in: path
      description: ObjectID of the Application.
      required: true
      type: string
  /bulk/users:
    patch:
      operationId: Patch-BulkUsers
      summary: Bulk Users Update
      tags:
      - Bulk Job Requests
      description: "The endpoint allows you to create a bulk job to asynchronously update users. See [Update a System User](https://docs.jumpcloud.com/1.0/systemusers/update-a-system-user) for full list of attributes.\n\n#### Sample Request \n```\ncurl -X PATCH https://console.jumpcloud.com/api/v2/bulk/users \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '[\n	{\n	  \"id\":\"5be9fb4ddb01290001e85109\",\n		\"firstname\":\"{UPDATED_FIRSTNAME}\",\n		\"department\":\"{UPDATED_DEPARTMENT}\",\n		\"attributes\":[\n			{\"name\":\"Custom\",\"value\":\"{ATTRIBUTE_VALUE}\"}\n		]\n	},\n	{\n	  \"id\":\"5be9fb4ddb01290001e85109\",\n		\"firstname\":\"{UPDATED_FIRSTNAME}\",\n		\"costCenter\":\"{UPDATED_COST_CENTER}\",\n		\"phoneNumbers\":[\n			{\"type\":\"home\",\"number\":\"{HOME_PHONE_NUMBER}\"},\n			{\"type\":\"work\",\"number\":\"{WORK_PHONE_NUMBER}\"}\n		]\n	}\n]\n```"
      parameters:
      - name: body
        in: body
        schema:
          type: array
          items:
            $ref: '#/definitions/bulk-user-update'
      responses:
        "201":
          description: ""
          schema:
            $ref: '#/definitions/job-id'
      security:
      - x-api-key: []
    post:
      operationId: Create-BulkUsers
      summary: Bulk Users Create
      tags:
      - Bulk Job Requests
      description: "The endpoint allows you to create a bulk job to asynchronously create users. See [Create a System User](https://docs.jumpcloud.com/1.0/systemusers/create-a-system-user) for full list of attributes.\n\n#### Sample Request \n```\ncurl -X POST https://console.jumpcloud.com/api/v2/bulk/users \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '[\n	{\n		\"email\":\"{email}\",\n		\"firstname\":\"{firstname}\",\n		\"lastname\":\"{firstname}\",\n		\"username\":\"{username}\",\n		\"attributes\":[\n			{\"name\":\"EmployeeID\",\"value\":\"0000\"},\n			{\"name\":\"Custom\",\"value\":\"attribute\"}\n		]\n	}\n]\n```"
      parameters:
      - name: body
        in: body
        schema:
          type: array
          items:
            $ref: '#/definitions/bulk-user-create'
      responses:
        "201":
          description: ""
          schema:
            $ref: '#/definitions/job-id'
      security:
      - x-api-key: []
  /bulk/users/{job_id}/results:
    get:
      operationId: Get-BulkUsersResult
      summary: List Bulk Users Results
      tags:
      - Bulk Job Requests
      description: |-
        This endpoint will return the results of particular user import or update job request.

        #### Sample Request
        ```
        curl -X GET \
          https://console.jumpcloud.com/api/v2/bulk/users/{ImportJobID}/results \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters:
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/job-workresult'
      security:
      - x-api-key: []
    parameters:
    - name: job_id
      in: path
      required: true
      type: string
  /commands/{command_id}/associations:
    get:
      operationId: List-CommandAssociation
      summary: List the associations of a Command
      tags:
      - Commands
      - Graph
      description: |-
        This endpoint will return the _direct_ associations of this Command.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example Commands and User Groups.


        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/commands/{Command_ID}/associations?targets=system_group \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - name: targets
        in: query
        description: ""
        required: true
        type: array
        items:
          enum:
          - active_directory
          - application
          - command
          - g_suite
          - ldap_server
          - office_365
          - policy
          - radius_server
          - system
          - system_group
          - user
          - user_group
          type: string
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphConnection'
      security:
      - x-api-key: []
    parameters:
    - name: command_id
      in: path
      description: ObjectID of the Command.
      required: true
      type: string
    post:
      operationId: Set-CommandAssociation
      summary: Manage the associations of a Command
      tags:
      - Commands
      - Graph
      description: |-
        This endpoint will allow you to manage the _direct_ associations of this Command.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example Commands and User Groups.


        #### Sample Request
        ```
         curl -X POST https://console.jumpcloud.com/api/v2/commands/{Command_ID}/associations \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "op": "add",
            "type": "system_group",
            "id": "Group_ID"
        }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/GraphManagementReq'
      responses:
        "204":
          description: OK
      security:
      - x-api-key: []
  /commands/{command_id}/systemgroups:
    get:
      operationId: List-CommandTraverseSystemGroup
      summary: List the System Groups bound to a Command
      tags:
      - Commands
      - Graph
      description: |-
        This endpoint will return all System Groups bound to a Command, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the group's type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this Command to the corresponding System Group; this array represents all grouping and/or associations that would have to be removed to deprovision the System Group from this Command.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/commands/{Command_ID}/systemgroups \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      - name: filter
        in: query
        description: 'Supported operators are: eq, ne, gt, ge, lt, le, between, search, in'
        required: false
        type: array
        default: []
        items:
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: command_id
      in: path
      description: ObjectID of the Command.
      required: true
      type: string
  /commands/{command_id}/systems:
    get:
      operationId: List-CommandTraverseSystem
      summary: List the Systems bound to a Command
      tags:
      - Commands
      - Graph
      description: |-
        This endpoint will return all Systems bound to a Command, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this Command to the corresponding System; this array represents all grouping and/or associations that would have to be removed to deprovision the System from this Command.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/commands/{Command_ID}/systems \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      - name: filter
        in: query
        description: 'Supported operators are: eq, ne, gt, ge, lt, le, between, search, in'
        required: false
        type: array
        default: []
        items:
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: command_id
      in: path
      description: ObjectID of the Command.
      required: true
      type: string
  /directories:
    get:
      operationId: List-Directory
      summary: List All Directories
      tags:
      - Directories
      description: |-
        This endpoint returns all active directories (LDAP, O365 Suite, G-Suite).

        #### Sample Request
        ```
         curl -X GET https://console.jumpcloud.com/api/v2/directories \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - name: fields
        in: query
        description: |
          The comma separated fields included in the returned records.
          If omitted, the default list of fields will be returned.
        required: false
        type: array
        default: []
        items:
          type: string
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: sort
        in: query
        description: |
          The comma separated fields used to sort the collection.
          Default sort is ascending, prefix with `-` to sort descending.
        required: false
        type: array
        default: []
        items:
          type: string
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Directory'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
      - x-api-key: []
  /duo/accounts:
    get:
      operationId: List-DuoAccount
      summary: List Duo Accounts
      tags:
      - Duo
      description: |-
        This endpoint returns all the Duo accounts for your organization. Note: There can currently only be one Duo account for your organization.

        #### Sample Request
        ```
        curl https://console.jumpcloud.com/api/v2/duo/accounts \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/DuoAccount'
      security:
      - x-api-key: []
    post:
      operationId: Create-DuoAccount
      summary: Create Duo Account
      tags:
      - Duo
      description: |-
        Registers a Duo account for an organization. Only one Duo account will be allowed,
        in case an organization has a Duo account already a 409 (Conflict) code will be returned.

        #### Sample Request
        ```
          curl -X POST https://console.jumpcloud.com/api/v2/duo/accounts \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{}'
        ```
      responses:
        "201":
          description: ""
          schema:
            $ref: '#/definitions/DuoAccount'
      security:
      - x-api-key: []
  /duo/accounts/{account_id}/applications:
    get:
      operationId: List-DuoApplication
      summary: List Duo Applications
      tags:
      - Duo
      description: |-
        This endpoint returns all the Duo applications for the specified Duo account. Note: There can currently only be one Duo application for your organization.

        #### Sample Request
        ```
          curl https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/DuoApplication'
      security:
      - x-api-key: []
    parameters:
    - name: account_id
      in: path
      required: true
      type: string
    post:
      operationId: Create-DuoApplication
      summary: Create Duo Application
      tags:
      - Duo
      description: |-
        Creates a Duo application for your organization and the specified account.

        #### Sample Request
        ```
          curl -X POST https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "name": "Application Name",
            "apiHost": "api-1234.duosecurity.com",
            "integrationKey": "1234",
            "secretKey": "5678"
          }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/DuoApplicationReq'
      responses:
        "201":
          description: ""
          schema:
            $ref: '#/definitions/DuoApplication'
      security:
      - x-api-key: []
  /duo/accounts/{account_id}/applications/{application_id}:
    delete:
      operationId: Delete-DuoApplication
      summary: Delete a Duo Application
      tags:
      - Duo
      description: |-
        Deletes the specified Duo application, an error will be returned if the application is used in a protected resource.

        #### Sample Request
        ```
          curl -X DELETE https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications/{APPLICATION_ID} \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}''
        ```
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/DuoApplication'
      security:
      - x-api-key: []
    get:
      operationId: Get-DuoApplication
      summary: Get a Duo application
      tags:
      - Duo
      description: |-
        This endpoint returns a specific Duo application that is associated with the specified Duo account.

        #### Sample Request
        ```
          curl https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications/{APPLICATION_ID} \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/DuoApplication'
      security:
      - x-api-key: []
    parameters:
    - name: account_id
      in: path
      required: true
      type: string
    - name: application_id
      in: path
      required: true
      type: string
    put:
      operationId: Put-DuoApplication
      summary: Update Duo Application
      tags:
      - Duo
      description: |-
        Updates the specified Duo application.

        #### Sample Request
        ```
          curl -X PUT https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications/{APPLICATION_ID} \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "name": "Application Name",
            "apiHost": "api-1234.duosecurity.com",
            "integrationKey": "1234",
            "secretKey": "5678"
          }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/DuoApplicationUpdateReq'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/DuoApplication'
      security:
      - x-api-key: []
  /duo/accounts/{id}:
    delete:
      operationId: Delete-DuoAccount
      summary: Delete a Duo Account
      tags:
      - Duo
      description: |-
        Removes the specified Duo account, an error will be returned if the account has some Duo application used in a protected resource.

        #### Sample Request
        ```
        curl -X DELETE https://console.jumpcloud.com/api/v2/duo/accounts/{id} \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/DuoAccount'
      security:
      - x-api-key: []
    get:
      operationId: Get-DuoAccount
      summary: Get a Duo Acount
      tags:
      - Duo
      description: |-
        This endpoint returns a specific Duo account.

        #### Sample Request
        ```
        curl https://console.jumpcloud.com/api/v2/duo/accounts/{id} \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/DuoAccount'
      security:
      - x-api-key: []
    parameters:
    - name: id
      in: path
      description: ObjectID of the Duo Account
      required: true
      type: string
  /groups:
    get:
      operationId: List-Group
      summary: List All Groups
      tags:
      - Groups
      description: |-
        This endpoint returns all Groups that exist in your organization.

        #### Available filter fields:
          - `name`
          - `disabled`
          - `type`

        #### Sample Request

        ```
          curl -X GET \
          https://console.jumpcloud.com/api/v2/groups \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - name: fields
        in: query
        description: |
          The comma separated fields included in the returned records.
          If omitted, the default list of fields will be returned.
        required: false
        type: array
        default: []
        items:
          type: string
      - name: filter
        in: query
        description: 'Supported operators are: eq, ne, gt, ge, lt, le, between, search, in'
        required: false
        type: array
        default: []
        items:
          type: string
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      - name: sort
        in: query
        description: |
          The comma separated fields used to sort the collection.
          Default sort is ascending, prefix with `-` to sort descending.
        required: false
        type: array
        default: []
        items:
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Group'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
      - x-api-key: []
  /gsuites/{gsuite_id}/associations:
    get:
      operationId: List-GSuiteAssociation
      summary: List the associations of a G Suite instance
      tags:
      - G Suite
      - Graph
      description: |-
        This endpoint returns the _direct_ associations of this G Suite instance.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example G Suite and Users.


        #### Sample Request
        ```
        curl -X GET 'https://console.jumpcloud.com/api/v2/gsuites/{Gsuite_ID}/associations?targets=user_group \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - name: targets
        in: query
        description: ""
        required: true
        type: array
        items:
          enum:
          - active_directory
          - application
          - command
          - g_suite
          - ldap_server
          - office_365
          - policy
          - radius_server
          - system
          - system_group
          - user
          - user_group
          type: string
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphConnection'
      security:
      - x-api-key: []
    parameters:
    - name: gsuite_id
      in: path
      description: ObjectID of the G Suite instance.
      required: true
      type: string
    post:
      operationId: Set-GSuiteAssociation
      summary: Manage the associations of a G Suite instance
      tags:
      - G Suite
      - Graph
      description: |-
        This endpoint returns the _direct_ associations of this G Suite instance.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example G Suite and Users.


        #### Sample Request
        ```
        curl -X POST https://console.jumpcloud.com/api/v2/gsuites/{Gsuite_ID}/associations \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "op": "add",
            "type": "user_group",
            "id": "{Group_ID}"
        }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/GraphManagementReq'
      responses:
        "204":
          description: OK
      security:
      - x-api-key: []
  /gsuites/{gsuite_id}/translationrules:
    get:
      operationId: List-GSuiteTranslationRule
      summary: List all the G Suite Translation Rules
      tags:
      - G Suite
      description: |-
        This endpoint returns all graph translation rules for a specific G Suite instance. These rules specify how JumpCloud attributes translate to [G Suite Admin SDK](https://developers.google.com/admin-sdk/directory/) attributes.

        ##### Sample Request

        ```
         curl -X GET  https://console.jumpcloud.com/api/v2/gsuites/{gsuite_id}/translationrules \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters:
      - name: fields
        in: query
        description: |
          The comma separated fields included in the returned records.
          If omitted, the default list of fields will be returned.
        required: false
        type: array
        default: []
        items:
          type: string
      - name: filter
        in: query
        description: 'Supported operators are: eq, ne, gt, ge, lt, le, between, search, in'
        required: false
        type: array
        default: []
        items:
          type: string
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      - name: sort
        in: query
        description: |
          The comma separated fields used to sort the collection.
          Default sort is ascending, prefix with `-` to sort descending.
        required: false
        type: array
        default: []
        items:
          type: string
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/GSuiteTranslationRule'
          examples:
            application/json:
            - id: object_id_1
              field: g_suite_work_addresses
              source_type: user
      security:
      - x-api-key: []
    parameters:
    - name: gsuite_id
      in: path
      required: true
      type: string
    post:
      operationId: Create-GSuiteTranslationRule
      summary: Create a new G Suite Translation Rule
      tags:
      - G Suite
      description: |-
        This endpoint allows you to create a translation rule for a specific G Suite instance. These rules specify how JumpCloud attributes translate to [G Suite Admin SDK](https://developers.google.com/admin-sdk/directory/) attributes.

        ##### Sample Request
        ```
        curl -X POST https://console.jumpcloud.com/api/v2/gsuites/{gsuite_id}/translationrules \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
          {Translation Rule Parameters}
        }'

        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/GSuiteTranslationRuleRequest'
      responses:
        "201":
          description: ""
          schema:
            $ref: '#/definitions/GSuiteTranslationRule'
      security:
      - x-api-key: []
  /gsuites/{gsuite_id}/translationrules/{id}:
    delete:
      operationId: Delete-GSuiteTranslationRule
      summary: Deletes a G Suite translation rule
      tags:
      - G Suite
      description: |-
        This endpoint allows you to delete a translation rule for a specific G Suite instance. These rules specify how JumpCloud attributes translate to [G Suite Admin SDK](https://developers.google.com/admin-sdk/directory/) attributes.

        #### Sample Request

        ```
        curl -X DELETE https://console.jumpcloud.com/api/v2/gsuites/{gsuite_id}/translationrules/{id} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      responses:
        "204":
          description: ""
      security:
      - x-api-key: []
    get:
      operationId: Get-GSuiteTranslationRule
      summary: Gets a specific G Suite translation rule
      tags:
      - G Suite
      description: |-
        This endpoint returns a specific translation rule for a specific G Suite instance. These rules specify how JumpCloud attributes translate to [G Suite Admin SDK](https://developers.google.com/admin-sdk/directory/) attributes.

        ###### Sample Request

        ```
          curl -X GET https://console.jumpcloud.com/api/v2/gsuites/{gsuite_id}/translationrules/{id} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/GSuiteTranslationRule'
      security:
      - x-api-key: []
    parameters:
    - name: gsuite_id
      in: path
      required: true
      type: string
    - name: id
      in: path
      required: true
      type: string
  /gsuites/{gsuite_id}/usergroups:
    get:
      operationId: List-GSuiteTraverseUserGroup
      summary: List the User Groups bound to a G Suite instance
      tags:
      - G Suite
      - Graph
      description: |-
        This endpoint will return all User Groups bound to an G Suite instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the group's type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this G Suite instance to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this G Suite instance.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
          curl -X GET https://console.jumpcloud.com/api/v2/gsuites/{GSuite_ID}/usergroups \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      - name: filter
        in: query
        description: 'Supported operators are: eq, ne, gt, ge, lt, le, between, search, in'
        required: false
        type: array
        default: []
        items:
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: gsuite_id
      in: path
      description: ObjectID of the G Suite instance.
      required: true
      type: string
  /gsuites/{gsuite_id}/users:
    get:
      operationId: List-GSuiteTraverseUser
      summary: List the Users bound to a G Suite instance
      tags:
      - G Suite
      - Graph
      description: |-
        This endpoint will return all Users bound to a G Suite instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this G Suite instance to the corresponding User; this array represents all grouping and/or associations that would have to be removed to deprovision the User from this G Suite instance.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
          curl -X GET https://console.jumpcloud.com/api/v2/gsuites/{Gsuite_ID}/users \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      - name: filter
        in: query
        description: 'Supported operators are: eq, ne, gt, ge, lt, le, between, search, in'
        required: false
        type: array
        default: []
        items:
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: gsuite_id
      in: path
      description: ObjectID of the G Suite instance.
      required: true
      type: string
  /gsuites/{id}:
    get:
      operationId: Get-GSuite
      summary: Get G Suite
      tags:
      - G Suite
      description: |-
        This endpoint returns a specific G Suite.

        ##### Sample Request

        ```
         curl -X GET https://console.jumpcloud.com/api/v2/gsuites/{GSUITE_ID} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/gsuite-output'
    parameters:
    - name: id
      in: path
      description: Unique identifier of the GSuite.
      required: true
      type: string
    patch:
      operationId: Patch-GSuite
      summary: Update existing G Suite
      tags:
      - G Suite
      description: |-
        This endpoint allows updating some attributes of a G Suite.

        ##### Sample Request

        ```
        curl -X PATCH https://console.jumpcloud.com/api/v2/gsuites/{GSUITE_ID} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "userLockoutAction": "suspend",
            "userPasswordExpirationAction": "maintain"
          }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/gsuite-patch-input'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/gsuite-output'
  /ldapservers:
    get:
      operationId: List-LdapServer
      summary: List LDAP Servers
      tags:
      - LDAP Servers
      description: |-
        This endpoint returns the object IDs of your LDAP servers.


        ##### Sample Request

        ```
          curl -X GET https://console.jumpcloud.com/api/v2/ldapservers/ \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
      parameters:
      - name: fields
        in: query
        description: |
          The comma separated fields included in the returned records.
          If omitted, the default list of fields will be returned.
        required: false
        type: array
        default: []
        items:
          type: string
      - name: filter
        in: query
        description: 'Supported operators are: eq, ne, gt, ge, lt, le, between, search, in'
        required: false
        type: array
        default: []
        items:
          type: string
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      - name: sort
        in: query
        description: |
          The comma separated fields used to sort the collection.
          Default sort is ascending, prefix with `-` to sort descending.
        required: false
        type: array
        default: []
        items:
          type: string
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/ldap-server-output'
      security:
      - x-api-key: []
  /ldapservers/{id}:
    get:
      operationId: Get-LdapServer
      summary: Get LDAP Server
      tags:
      - LDAP Servers
      description: |-
        This endpoint returns a specific LDAP server.

        ##### Sample Request

        ```
         curl -X GET https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/ldap-server-output'
      security:
      - x-api-key: []
    parameters:
    - name: id
      in: path
      description: Unique identifier of the LDAP server.
      required: true
      type: string
    patch:
      operationId: Patch-LdapServer
      summary: Update existing LDAP server
      tags:
      - LDAP Servers
      description: |-
        This endpoint allows updating some attributes of an LDAP server.

        Sample Request

        ```
        curl -X PATCH https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "userLockoutAction": "remove",
            "userPasswordExpirationAction": "disable"
          }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          properties:
            id:
              type: string
            userPasswordExpirationAction:
              $ref: '#/definitions/LdapServerAction'
            userLockoutAction:
              $ref: '#/definitions/LdapServerAction'
          type: object
      responses:
        "200":
          description: ""
          schema:
            properties:
              id:
                type: string
              userPasswordExpirationAction:
                $ref: '#/definitions/LdapServerAction'
              name:
                type: string
              userLockoutAction:
                $ref: '#/definitions/LdapServerAction'
            type: object
        "400":
          description: ""
          schema:
            properties:
              message:
                type: string
            type: object
      security:
      - x-api-key: []
  /ldapservers/{ldapserver_id}/associations:
    get:
      operationId: List-LdapServerAssociation
      summary: List the associations of a LDAP Server
      tags:
      - LDAP Servers
      - Graph
      description: |-
        This endpoint returns the _direct_ associations of this LDAP Server.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example LDAP and Users.

        #### Sample Request

        ```
         curl -X GET 'https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/associations?targets=user_group \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - name: targets
        in: query
        description: ""
        required: true
        type: array
        items:
          enum:
          - active_directory
          - application
          - command
          - g_suite
          - ldap_server
          - office_365
          - policy
          - radius_server
          - system
          - system_group
          - user
          - user_group
          type: string
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphConnection'
      security:
      - x-api-key: []
    parameters:
    - name: ldapserver_id
      in: path
      description: ObjectID of the LDAP Server.
      required: true
      type: string
    post:
      operationId: Set-LdapServerAssociation
      summary: Manage the associations of a LDAP Server
      tags:
      - LDAP Servers
      - Graph
      description: |-
        This endpoint allows you to manage the _direct_ associations of a LDAP Server.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example LDAP and Users.

        #### Sample Request
        ```
        curl -X POST https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/associations \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "op": "add",
            "type": "user",
            "id": "{User_ID}"
        }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/GraphManagementReq'
      responses:
        "204":
          description: OK
      security:
      - x-api-key: []
  /ldapservers/{ldapserver_id}/sambadomains:
    get:
      operationId: List-LdapServerSambaDomain
      summary: List Samba Domains
      tags:
      - Samba Domains
      description: |-
        This endpoint returns all samba domains for an LDAP server.

        ##### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/sambadomains \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters:
      - name: fields
        in: query
        description: |
          The comma separated fields included in the returned records.
          If omitted, the default list of fields will be returned.
        required: false
        type: array
        default: []
        items:
          type: string
      - name: filter
        in: query
        description: 'Supported operators are: eq, ne, gt, ge, lt, le, between, search, in'
        required: false
        type: array
        default: []
        items:
          type: string
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      - name: sort
        in: query
        description: |
          The comma separated fields used to sort the collection.
          Default sort is ascending, prefix with `-` to sort descending.
        required: false
        type: array
        default: []
        items:
          type: string
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/samba-domain-output'
        default:
          description: ""
          schema:
            $ref: '#/definitions/Error'
      security:
      - x-api-key: []
    parameters:
    - name: ldapserver_id
      in: path
      description: Unique identifier of the LDAP server.
      required: true
      type: string
    post:
      operationId: Create-LdapServerSambaDomain
      summary: Create Samba Domain
      tags:
      - Samba Domains
      description: |-
        This endpoint allows you to create a samba domain for an LDAP server.

        ##### Sample Request
        ```
        curl -X POST https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/sambadomains \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
        "sid":"{SID_ID}",
        "name":"{WORKGROUP_NAME}"
        }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/samba-domain-input'
      responses:
        "201":
          description: ""
          schema:
            $ref: '#/definitions/samba-domain-output'
      security:
      - x-api-key: []
  /ldapservers/{ldapserver_id}/sambadomains/{id}:
    delete:
      operationId: Delete-LdapServerSambaDomain
      summary: Delete Samba Domain
      tags:
      - Samba Domains
      description: |-
        This endpoint allows you to delete a samba domain from an LDAP server.

        ##### Sample Request
        ```
        curl -X DELETE https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/sambadomains/{SAMBA_ID} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            type: string
        "204":
          description: ""
      security:
      - x-api-key: []
    get:
      operationId: Get-LdapServerSambaDomain
      summary: Get Samba Domain
      tags:
      - Samba Domains
      description: |-
        This endpoint returns a specific samba domain for an LDAP server.

        ##### Sample Request
        ```
        curl -X GET \
          https://console.jumpcloud.com/api/v2/ldapservers/ldapservers/{LDAP_ID}/sambadomains/{SAMBA_ID} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/samba-domain-output'
      security:
      - x-api-key: []
    parameters:
    - name: ldapserver_id
      in: path
      description: Unique identifier of the LDAP server.
      required: true
      type: string
    - name: id
      in: path
      description: Unique identifier of the samba domain.
      required: true
      type: string
    put:
      operationId: Put-LdapServerSambaDomain
      summary: Update Samba Domain
      tags:
      - Samba Domains
      description: |-
        This endpoint allows you to update the samba domain information for an LDAP server.

        ##### Sample Request
        ```
        curl -X PUT https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/sambadomains/{SAMBA_ID} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
        "sid":"{SID_ID}",
        "name":"{WORKGROUP_NAME}"
        }'

        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/samba-domain-input'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/samba-domain-output'
      security:
      - x-api-key: []
  /ldapservers/{ldapserver_id}/usergroups:
    get:
      operationId: List-LdapServerTraverseUserGroup
      summary: List the User Groups bound to a LDAP Server
      tags:
      - LDAP Servers
      - Graph
      description: |-
        This endpoint will return all Users Groups bound to a LDAP Server, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the group's type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this LDAP server instance to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this LDAP server instance.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/usergroups \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      - name: filter
        in: query
        description: 'Supported operators are: eq, ne, gt, ge, lt, le, between, search, in'
        required: false
        type: array
        default: []
        items:
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: ldapserver_id
      in: path
      description: ObjectID of the LDAP Server.
      required: true
      type: string
  /ldapservers/{ldapserver_id}/users:
    get:
      operationId: List-LdapServerTraverseUser
      summary: List the Users bound to a LDAP Server
      tags:
      - LDAP Servers
      - Graph
      description: |-
        This endpoint will return all Users bound to an LDAP Server, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this LDAP server instance to the corresponding User; this array represents all grouping and/or associations that would have to be removed to deprovision the User from this LDAP server instance.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/users \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      - name: filter
        in: query
        description: 'Supported operators are: eq, ne, gt, ge, lt, le, between, search, in'
        required: false
        type: array
        default: []
        items:
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: ldapserver_id
      in: path
      description: ObjectID of the LDAP Server.
      required: true
      type: string
  /office365s/{office365_id}:
    get:
      operationId: Get-Office365
      summary: Get Office 365 instance
      tags:
      - Office 365
      description: |-
        This endpoint returns a specific Office 365 instance.

        #####

        Sample Request

        ```
        curl -X GET https://console.jumpcloud.com/api/v2/office365s/{O365_ID} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'

        ```
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/office365-output'
      security:
      - x-api-key: []
    parameters:
    - name: office365_id
      in: path
      description: ObjectID of the Office 365 instance.
      required: true
      type: string
    patch:
      operationId: Patch-Office365
      summary: Update existing Office 365 instance.
      tags:
      - Office 365
      description: |-
        This endpoint allows updating some attributes of an Office 365 instance.

        #####

        Sample Request

        ```
        curl -X PATCH https://console.jumpcloud.com/api/v2/office365s/{O365_ID} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "userLockoutAction": "maintain",
            "userPasswordExpirationAction": "suspend"
          }'

        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/office365-patch-input'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/office365-output'
      security:
      - x-api-key: []
  /office365s/{office365_id}/associations:
    get:
      operationId: List-Office365Association
      summary: List the associations of an Office 365 instance
      tags:
      - Office 365
      - Graph
      description: |-
        This endpoint returns _direct_ associations of an Office 365 instance.


        A direct association can be a non-homogeneous relationship between 2 different objects, for example Office 365 and Users.

        #### Sample Request
        ```
        curl -X GET 'https://console.jumpcloud.com/api/v2/office365s/{O365_ID}/associations?targets=user_group' \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'

        ```
      parameters:
      - name: targets
        in: query
        description: ""
        required: true
        type: array
        items:
          enum:
          - active_directory
          - application
          - command
          - g_suite
          - ldap_server
          - office_365
          - policy
          - radius_server
          - system
          - system_group
          - user
          - user_group
          type: string
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphConnection'
      security:
      - x-api-key: []
    parameters:
    - name: office365_id
      in: path
      description: ObjectID of the Office 365 instance.
      required: true
      type: string
    post:
      operationId: Set-Office365Association
      summary: Manage the associations of an Office 365 instance
      tags:
      - Office 365
      - Graph
      description: |-
        This endpoint allows you to manage the _direct_ associations of a Office 365 instance.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example Office 365 and Users.

        #### Sample Request
        ```
        curl -X POST https://console.jumpcloud.com/api/v2/office365s/{O365_ID}/associations \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "op": "add",
            "type": "user_group",
            "id": "{Group_ID}"
        }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/GraphManagementReq'
      responses:
        "204":
          description: OK
      security:
      - x-api-key: []
  /office365s/{office365_id}/translationrules:
    get:
      operationId: List-Office365TranslationRule
      summary: List all the Office 365 Translation Rules
      tags:
      - Office 365
      description: |-
        This endpoint returns all translation rules for a specific Office 365 instance. These rules specify how JumpCloud attributes translate to [Microsoft Graph](https://developer.microsoft.com/en-us/graph) attributes.

        ##### Sample Request

        ```
         curl -X GET  https://console.jumpcloud.com/api/v2/office365s/{office365_id}/translationrules \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters:
      - name: fields
        in: query
        description: |
          The comma separated fields included in the returned records.
          If omitted, the default list of fields will be returned.
        required: false
        type: array
        default: []
        items:
          type: string
      - name: filter
        in: query
        description: 'Supported operators are: eq, ne, gt, ge, lt, le, between, search, in'
        required: false
        type: array
        default: []
        items:
          type: string
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      - name: sort
        in: query
        description: |
          The comma separated fields used to sort the collection.
          Default sort is ascending, prefix with `-` to sort descending.
        required: false
        type: array
        default: []
        items:
          type: string
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/Office365TranslationRule'
          examples:
            application/json:
            - id: object_id_1
              field: office_365_state
              source_type: user
      security:
      - x-api-key: []
    parameters:
    - name: office365_id
      in: path
      required: true
      type: string
    post:
      operationId: Create-Office365TranslationRule
      summary: Create a new Office 365 Translation Rule
      tags:
      - Office 365
      description: |-
        This endpoint allows you to create a translation rule for a specific Office 365 instance. These rules specify how JumpCloud attributes translate to [Microsoft Graph](https://developer.microsoft.com/en-us/graph) attributes.

        ##### Sample Request
        ```
        curl -X POST https://console.jumpcloud.com/api/v2/office365s/{office365_id}/translationrules \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
          {Translation Rule Parameters}
        }'

        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/Office365TranslationRuleRequest'
      responses:
        "201":
          description: ""
          schema:
            $ref: '#/definitions/Office365TranslationRule'
      security:
      - x-api-key: []
  /office365s/{office365_id}/translationrules/{id}:
    delete:
      operationId: Delete-Office365TranslationRule
      summary: Deletes a Office 365 translation rule
      tags:
      - Office 365
      description: |-
        This endpoint allows you to delete a translation rule for a specific Office 365 instance. These rules specify how JumpCloud attributes translate to [Microsoft Graph](https://developer.microsoft.com/en-us/graph) attributes.

        #### Sample Request

        ```
        curl -X DELETE https://console.jumpcloud.com/api/v2/office365s/{office365_id}/translationrules/{id} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      responses:
        "204":
          description: ""
      security:
      - x-api-key: []
    get:
      operationId: Get-Office365TranslationRule
      summary: Gets a specific Office 365 translation rule
      tags:
      - Office 365
      description: |-
        This endpoint returns a specific translation rule for a specific Office 365 instance. These rules specify how JumpCloud attributes translate to [Microsoft Graph](https://developer.microsoft.com/en-us/graph) attributes.

        ###### Sample Request

        ```
          curl -X GET https://console.jumpcloud.com/api/v2/office365s/{office365_id}/translationrules/{id} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/Office365TranslationRule'
      security:
      - x-api-key: []
    parameters:
    - name: office365_id
      in: path
      required: true
      type: string
    - name: id
      in: path
      required: true
      type: string
  /office365s/{office365_id}/usergroups:
    get:
      operationId: List-Office365TraverseUserGroup
      summary: List the User Groups bound to an Office 365 instance
      tags:
      - Office 365
      - Graph
      description: |-
        This endpoint will return all Users Groups bound to an Office 365 instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the group's type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this Office 365 instance to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this Office 365 instance.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
          curl -X GET https://console.jumpcloud.com/api/v2/office365s/{O365_ID/usergroups \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      - name: filter
        in: query
        description: 'Supported operators are: eq, ne, gt, ge, lt, le, between, search, in'
        required: false
        type: array
        default: []
        items:
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: office365_id
      in: path
      description: ObjectID of the Office 365 suite.
      required: true
      type: string
  /office365s/{office365_id}/users:
    get:
      operationId: List-Office365TraverseUser
      summary: List the Users bound to an Office 365 instance
      tags:
      - Office 365
      - Graph
      description: |-
        This endpoint will return all Users bound to an Office 365 instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this Office 365 instance to the corresponding User; this array represents all grouping and/or associations that would have to be removed to deprovision the User from this Office 365 instance.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/office365s/{O365_ID}/users \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      - name: filter
        in: query
        description: 'Supported operators are: eq, ne, gt, ge, lt, le, between, search, in'
        required: false
        type: array
        default: []
        items:
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: office365_id
      in: path
      description: ObjectID of the Office 365 suite.
      required: true
      type: string
  /policies:
    get:
      operationId: List-Policy
      summary: Lists all the Policies
      tags:
      - Policies
      description: |-
        This endpoint returns all policies.

        ##### Sample Request

        ```
         curl -X GET  https://console.jumpcloud.com/api/v2/policies \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters:
      - name: fields
        in: query
        description: |
          The comma separated fields included in the returned records.
          If omitted, the default list of fields will be returned.
        required: false
        type: array
        default: []
        items:
          type: string
      - name: filter
        in: query
        description: 'Supported operators are: eq, ne, gt, ge, lt, le, between, search, in'
        required: false
        type: array
        default: []
        items:
          type: string
      - name: limit
        in: query
        description: The number of records to return at once. Limited to 100.
        required: false
        type: integer
        default: 10
      - name: skip
        in: query
        description: The offset into the records to return.
        required: false
        type: integer
        minimum: 0
        default: 0
      - name: sort
        in: query
        description: |
          The comma separated fields used to sort the collection.
          Default sort is ascending, prefix with `-` to sort descending.
        required: false
        type: array
        default: []
        items:
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Policy'
        "500":
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'
      security:
      - x-api-key: []
    post:
      operationId: Create-Policy
      summary: Create a new Policy
      tags:
      - Policies
      description: |-
        This endpoint allows you to create a policy. Given the amount of configurable parameters required to create a Policy, we suggest you use the JumpCloud Admin Console to create new policies.

        ##### Sample Request
        ```
        curl -X POST https://console.jumpcloud.com/api/v2/policies \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
          {Policy_Parameters}
        }'

        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/PolicyRequest'
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/PolicyWithDetails'
      security:
      - x-api-key: []
  /policies/{id}:
    delete:
      operationId: Delete-Policy
      summary: Deletes a Policy
      tags:
      - Policies
      description: |-
        This endpoint allows you to delete a policy.

        #### Sample Request

        ```
[...]
