{"swagger": "2.0", "info": {"version": "1.0", "title": "JumpCloud APIs", "description": ""}, "host": "console.jumpcloud.com", "basePath": "/api/", "schemes": ["https"], "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"x-api-key": {"name": "x-api-key", "type": "apiKey", "in": "header"}}, "paths": {"/systems/{id}": {"parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}], "put": {"operationId": "System_Put", "summary": "Update a system", "description": "This endpoint allows you to update a system.\n\n#### Sample Request \n```\ncurl -X PUT https://console.jumpcloud.com/api/systems/{SystemID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n\t\"displayName\":\"Name_Update\",\n\t\"allowSshPasswordAuthentication\":\"true\",\n\t\"allowSshRootLogin\":\"true\",\n\t\"allowMultiFactorAuthentication\":\"true\",\n\t\"allowPublicKeyAuthentication\":\"false\"\n}'\n```", "parameters": [{"name": "body", "in": "body", "schema": {"$ref": "#/definitions/systemput"}}, {"$ref": "#/parameters/trait:systemContextAuth:Date"}, {"$ref": "#/parameters/trait:systemContextAuth:Authorization"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/JcSystem"}}}, "security": [{"x-api-key": []}]}, "delete": {"operationId": "System_Delete", "summary": "Delete a System", "description": "This endpoint allows you to delete a system. This command will cause the system to uninstall the JumpCloud agent from its self which can can take about a minute. If the system is not connected to JumpCloud the system record will simply be removed.\n\n#### Sample Request\n```\ncurl -X DELETE https://console.jumpcloud.com/api/systems/{SystemID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```", "parameters": [ {"$ref": "#/parameters/trait:systemContextAuth:Date"}, {"$ref": "#/parameters/trait:systemContextAuth:Authorization"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/JcSystem"}}}, "security": [{"x-api-key": []}]}, "get": {"operationId": "System_Get", "summary": "List an individual system", "description": "This endpoint returns an individual system.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/systems/{SystemID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \n  ```", "parameters": [{"$ref": "#/parameters/trait:fields:fields"}, {"$ref": "#/parameters/trait:filter:filter"}, {"$ref": "#/parameters/trait:systemContextAuth:Date"}, {"$ref": "#/parameters/trait:systemContextAuth:Authorization"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/JcSystem"}}}, "security": [{"x-api-key": []}]}}, "/application-templates/{id}": {"parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}], "get": {"operationId": "ApplicationTemplate_Get", "summary": "Get an Application Template", "description": "The endpoint returns a specific SSO / SAML Application Template.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/application-templates/{id} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \n\n```", "parameters": [{"name": "fields", "in": "query", "description": "The comma separated fields included in the returned records. If omitted the default list of fields will be returned.", "type": "string"}, {"name": "limit", "in": "query", "description": "The number of records to return at once.", "type": "integer"}, {"name": "skip", "in": "query", "description": "The offset into the records to return.", "type": "integer"}, {"name": "sort", "in": "query", "type": "string", "default": "The comma separated fields used to sort the collection. Default sort is ascending, prefix with - to sort descending."}, {"$ref": "#/parameters/trait:filter:filter"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/applicationtemplate"}}}, "security": [{"x-api-key": []}]}}, "/applications": {"get": {"operationId": "Application_List", "summary": "Applications", "description": "The endpoint returns all your SSO / SAML Applications.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/applications \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \n\n```", "parameters": [{"name": "fields", "in": "query", "description": "The comma separated fields included in the returned records. If omitted the default list of fields will be returned.", "type": "string"}, {"name": "limit", "in": "query", "description": "The number of records to return at once.", "type": "integer"}, {"name": "skip", "in": "query", "description": "The offset into the records to return.", "type": "integer"}, {"name": "sort", "in": "query", "type": "string", "default": "The comma separated fields used to sort the collection. Default sort is ascending, prefix with - to sort descending."}, {"$ref": "#/parameters/trait:filter:filter"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/applicationslist"}}}, "security": [{"x-api-key": []}]}, "post": {"operationId": "Application_Create", "summary": "Create an Application", "description": "The endpoint adds a new SSO / SAML Applications.", "parameters": [{"name": "body", "in": "body", "schema": {"$ref": "#/definitions/application"}}, {"name": "Content-Type", "in": "header", "type": "string"}, {"name": "Accept", "in": "header", "type": "string"}, {"name": "x-org-id", "in": "header", "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/application"}}}, "security": [{"x-api-key": []}]}}, "/organizations": {"get": {"operationId": "Organization_List", "summary": "Get Organization Details", "description": "This endpoint returns Organization Details.\n\n#### Sample Request \n\n```\ncurl -X GET \\\n  https://console.jumpcloud.com/api/organizations \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```", "parameters": [{"$ref": "#/parameters/trait:fields:fields"}, {"$ref": "#/parameters/trait:filter:filter"}, {"$ref": "#/parameters/trait:limit:limit"}, {"$ref": "#/parameters/trait:skip:skip"}, {"$ref": "#/parameters/trait:sort:sort"}, {"$ref": "#/parameters/trait:search:search"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/organizationslist"}}}, "security": [{"x-api-key": []}]}}, "/applications/{id}": {"parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}], "put": {"operationId": "Application_Put", "summary": "Update an Application", "description": "The endpoint updates a SSO / SAML Application.", "parameters": [{"name": "body", "in": "body", "schema": {"$ref": "#/definitions/application"}}, {"name": "Content-Type", "in": "header", "type": "string"}, {"name": "Accept", "in": "header", "type": "string"}, {"name": "x-org-id", "in": "header", "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/application"}}}, "security": [{"x-api-key": []}]}, "delete": {"operationId": "Application_Delete", "summary": "Delete an Application", "description": "The endpoint deletes an SSO / SAML Application.", "parameters": [{"name": "Content-Type", "in": "header", "type": "string"}, {"name": "Accept", "in": "header", "type": "string"}, {"name": "x-org-id", "in": "header", "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/application"}}}, "security": [{"x-api-key": []}]}, "get": {"operationId": "Application_Get", "summary": "Get an Application", "description": "The endpoint retrieves an SSO / SAML Application.", "parameters": [{"name": "Content-Type", "in": "header", "type": "string"}, {"name": "Accept", "in": "header", "type": "string"}, {"name": "x-org-id", "in": "header", "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/application"}}}, "security": [{"x-api-key": []}]}}, "/files/command/{id}": {"parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}], "get": {"operationId": "CommandFile_Get", "summary": "Get a Command File", "description": "This endpoint returns the uploaded file(s) associated with a specific command.\n\n#### Sample Request\n\n```\ncurl -X GET https://console.jumpcloud.com/api/files/command/{commandID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \n  ```", "parameters": [{"$ref": "#/parameters/trait:fields:fields"}, {"$ref": "#/parameters/trait:limit:limit"}, {"$ref": "#/parameters/trait:skip:skip"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/commandfilereturn"}}, "400": {"description": "", "schema": {"type": "object"}}}, "security": [{"x-api-key": []}]}}, "/commandresults/{id}": {"parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}], "delete": {"operationId": "CommandResult_Delete", "summary": "Delete a Command result", "description": "This endpoint deletes a specific command result.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/commandresults/{CommandID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \n  ````", "parameters": [ ], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/commandresult"}}, "401": {"description": "Unauthorized"}}, "security": [{"x-api-key": []}]}, "get": {"operationId": "CommandResult_Get", "summary": "List an individual Command result", "description": "This endpoint returns a specific command result.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/commandresults/{CommandResultID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \n  ```", "parameters": [{"$ref": "#/parameters/trait:fields:fields"}, {"$ref": "#/parameters/trait:filter:filter"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/commandresult"}}, "401": {"description": "Unauthorized"}}, "security": [{"x-api-key": []}]}}, "/systemusers": {"get": {"operationId": "SystemUser_List", "summary": "List all system users", "description": "This endpoint returns all systemusers.\n\n#### Sample Request\n\n```\ncurl -X GET https://console.jumpcloud.com/api/systemusers \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```", "parameters": [{"name": "limit", "in": "query", "description": "The number of records to return at once.", "type": "integer", "default": 10}, {"name": "skip", "in": "query", "description": "The offset into the records to return.", "type": "integer", "default": 0}, {"name": "sort", "in": "query", "description": "The comma separated fields used to sort the collection.\nDefault sort is ascending, prefix with `-` to sort descending.\n", "type": "string", "default": ""}, {"name": "fields", "in": "query", "description": "The comma separated fields included in the returned records.\nIf omitted the default list of fields will be returned.\n", "type": "string", "default": ""}, {"$ref": "#/parameters/trait:search:search"}, {"$ref": "#/parameters/trait:filter:filter"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/systemuserslist"}}, "401": {"description": ""}}, "security": [{"x-api-key": []}]}, "post": {"operationId": "SystemUser_Create", "summary": "Create a system user", "description": "This endpoint allows you to create a new system user.\n\n#### Sample Request\n\n```\ncurl -X POST https://console.jumpcloud.com/api/systemusers \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n\t\"username\":\"{username}\",\n\t\"email\":\"{email_address}\",\n\t\"firstname\":\"{Name}\",\n\t\"lastname\":\"{Name}\"\n}'\n```", "parameters": [{"name": "body", "in": "body", "schema": {"$ref": "#/definitions/systemuserputpost"}}], "responses": {"200": {"description": "User added successfully", "schema": {"$ref": "#/definitions/systemuserreturn"}}, "400": {"description": "User already exists"}, "401": {"description": "Unauthorized"}}, "security": [{"x-api-key": []}]}}, "/search/organizations": {"post": {"operationId": "Organization_Search", "summary": "Search Organizations", "description": "This endpoint will return Organization data based on your search parameters. This endpoint WILL NOT allow you to add a new Organization.\n\nYou can use the supported parameters and pass those in the body of request. \n\nThe parameters must be passed as Content-Type application/json.\n\n\n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/search/organizations \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n  \"search\":{\n    \"fields\" : [\"settings.name\"],\n    \"searchTerm\": \"Second\"\n    },\n  \"fields\": [\"_id\", \"displayName\", \"logoUrl\"],\n  \"limit\" : 0,\n  \"skip\" : 0\n}'\n```", "parameters": [{"name": "body", "in": "body", "schema": {"$ref": "#/definitions/search"}}, {"$ref": "#/parameters/trait:fields:fields"}, {"$ref": "#/parameters/trait:filter:filter"}, {"$ref": "#/parameters/trait:limit:limit"}, {"$ref": "#/parameters/trait:skip:skip"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/organizationslist"}}, "401": {"description": "Unauthorized"}}, "security": [{"x-api-key": []}]}}, "/systemusers/{systemuser_id}/sshkeys/{id}": {"parameters": [{"name": "systemuser_id", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "required": true, "type": "string"}], "delete": {"operationId": "SshKey_Delete", "summary": "Delete a system user's Public SSH Keys", "description": "This endpoint will delete a specific System User's SSH Key.", "parameters": [ ], "responses": {"200": {"description": ""}, "400": {"description": "", "schema": {"type": "object", "description": "Bad Request"}}}, "security": [{"x-api-key": []}]}}, "/systemusers/{id}": {"parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}], "delete": {"operationId": "SystemUser_Delete", "summary": "Delete a system user", "description": "This endpoint allows you to delete a particular system user.\n\n#### Sample Request\n```\ncurl -X DELETE https://console.jumpcloud.com/api/systemusers/{UserID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \n```", "parameters": [ ], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/systemuserreturn"}}, "401": {"description": "Unauthorized"}}, "security": [{"x-api-key": []}]}, "get": {"operationId": "SystemUser_Get", "summary": "List a system user", "description": "This endpoint returns a particular System User.\n\n#### Sample Request\n\n```\ncurl -X GET https://console.jumpcloud.com/api/systemusers/{UserID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```", "parameters": [{"$ref": "#/parameters/trait:fields:fields"}, {"$ref": "#/parameters/trait:filter:filter"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/systemuserreturn"}}, "401": {"description": "Unauthorized"}}, "security": [{"x-api-key": []}]}, "put": {"operationId": "SystemUser_Put", "summary": "Update a system user", "description": "This endpoint allows you to update a system user.\n\n#### Sample Request\n\n```\ncurl -X PUT https://console.jumpcloud.com/api/systemusers/{UserID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n\t\"email\":\"{email_address}\",\n\t\"firstname\":\"{Name}\",\n\t\"lastname\":\"{Name}\"\n}'\n```", "parameters": [{"name": "body", "in": "body", "schema": {"$ref": "#/definitions/systemuserput"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/systemuserreturn"}}, "401": {"description": "Unauthorized"}}, "security": [{"x-api-key": []}]}}, "/radiusservers": {"post": {"operationId": "RadiusServer_Create", "summary": "Create a Radius Server", "description": "This endpoint allows you to create RADIUS servers in your organization.\n\n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/radiusservers/ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"name\": \"{test_radius}\",\n    \"networkSourceIp\": \"{0.0.0.0}\",\n    \"sharedSecret\":\"{secretpassword}\",\n    \"userLockoutAction\": \"REMOVE\",\n    \"userPasswordExpirationAction\": \"MAINTAIN\"\n}'\n```", "parameters": [{"name": "body", "in": "body", "schema": {"$ref": "#/definitions/radiusserverpost"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/radiusserver"}}}, "security": [{"x-api-key": []}]}, "get": {"operationId": "RadiusServer_List", "summary": "List Radius Servers", "description": "This endpoint allows you to get a list of all RADIUS servers in your organization.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/radiusservers/ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n```", "parameters": [{"$ref": "#/parameters/trait:fields:fields"}, {"$ref": "#/parameters/trait:filter:filter"}, {"$ref": "#/parameters/trait:limit:limit"}, {"$ref": "#/parameters/trait:skip:skip"}, {"$ref": "#/parameters/trait:sort:sort"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/radiusserverslist"}}}, "security": [{"x-api-key": []}]}}, "/commands": {"post": {"operationId": "Command_Create", "summary": "Create A Command", "description": "This endpoint allows you to create a new command.\n\n#### Sample Request\n\n```\ncurl -X POST https://console.jumpcloud.com/api/commands/ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n\t\"name\":\"Test API Command\",\n\t\"command\":\"String\",\n\t\"user\":\"{UserID}\",\n\t\"schedule\":\"\",\n\t\"timeout\":\"100\"\n}'\n\n```", "parameters": [{"name": "body", "in": "body", "schema": {"$ref": "#/definitions/command"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/command"}}, "401": {"description": "Unauthorized"}}, "security": [{"x-api-key": []}]}, "get": {"operationId": "Command_List", "summary": "List All Commands", "description": "This endpoint returns all commands.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/commands/ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n\n```", "parameters": [{"$ref": "#/parameters/trait:skip:skip"}, {"$ref": "#/parameters/trait:fields:fields"}, {"$ref": "#/parameters/trait:limit:limit"}, {"$ref": "#/parameters/trait:sort:sort"}, {"$ref": "#/parameters/trait:filter:filter"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/commandslist"}}, "401": {"description": "Unauthorized"}}, "security": [{"x-api-key": []}]}}, "/commands/{id}": {"parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}], "get": {"operationId": "Command_Get", "summary": "List an individual Command", "description": "This endpoint returns a specific command based on the command ID.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/commands/{CommandID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \n```", "parameters": [{"$ref": "#/parameters/trait:fields:fields"}, {"$ref": "#/parameters/trait:filter:filter"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/command"}}, "401": {"description": "Unauthorized"}}, "security": [{"x-api-key": []}]}, "put": {"operationId": "Command_Put", "summary": "Update a Command", "description": "This endpoint Updates a command based on the command ID and returns the modified command record.\n\n#### Sample Request\n```\ncurl -X PUT https://console.jumpcloud.com/api/commands/{CommandID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n\t\"name\":\"Test API Command\",\n\t\"command\":\"String\",\n\t\"user\":\"{UserID}\",\n\t\"schedule\":\"\",\n\t\"timeout\":\"100\"\n}'\n\n```", "parameters": [{"name": "body", "in": "body", "schema": {"$ref": "#/definitions/command"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/command"}}, "401": {"description": "Unauthorized"}}, "security": [{"x-api-key": []}]}, "delete": {"operationId": "Command_Delete", "summary": "Delete a Command", "description": "This endpoint deletes a specific command based on the Command ID.\n\n#### Sample Request\n```\ncurl -X DELETE https://console.jumpcloud.com/api/commands/{CommandID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n\n```", "parameters": [ ], "responses": {"200": {"description": "OK"}, "401": {"description": "Unauthorized"}}, "security": [{"x-api-key": []}]}}, "/systemusers/{id}/sshkeys": {"parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}], "get": {"operationId": "SshKey_List", "summary": "List a system user's public SSH keys", "description": "This endpoint will return a specific System User's public SSH key.", "parameters": [ ], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/sshkeylist"}}}, "400": {"description": "", "schema": {"type": "object", "description": "Bad Request"}}}, "security": [{"x-api-key": []}]}, "post": {"operationId": "SshKey_Create", "summary": "Create a system user's Public SSH Key", "description": "This endpoint will create a specific System User's Public SSH Key.", "parameters": [{"name": "body", "in": "body", "schema": {"$ref": "#/definitions/sshkeypost"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/sshkeylist"}}, "400": {"description": "", "schema": {"type": "object", "description": "Bad Request"}}}, "security": [{"x-api-key": []}]}}, "/commandresults": {"get": {"operationId": "CommandResult_List", "summary": "List all Command Results", "description": "This endpoint returns all command results.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/commandresults \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key:{API_KEY}'\n  ```", "parameters": [{"$ref": "#/parameters/trait:fields:fields"}, {"$ref": "#/parameters/trait:limit:limit"}, {"$ref": "#/parameters/trait:skip:skip"}, {"$ref": "#/parameters/trait:sort:sort"}, {"$ref": "#/parameters/trait:filter:filter"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/commandresultslist"}}, "401": {"description": "Unauthorized"}}, "security": [{"x-api-key": []}]}}, "/systemusers/{id}/resetmfa": {"parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}], "post": {"operationId": "SystemUserMfa_Reset", "summary": "Reset a system user's MFA token", "description": "This endpoint allows you to reset the TOTP key for a specified system user and put them in an TOTP MFA enrollment period. This will result in the user being prompted to setup TOTP MFA when logging into userportal. Please be aware that if the user does not complete TOTP MFA setup before the `exclusionUntil` date, they will be locked out of any resources that require TOTP MFA.\n\nPlease refer to our [Knowledge Base Article](https://support.jumpcloud.com/customer/en/portal/articles/2959138-using-multifactor-authentication-with-jumpcloud) on setting up MFA for more information. \n\n#### Sample Request \n```\ncurl -X POST \\\n  https://console.jumpcloud.com/api/systemusers/{UserID}/resetmfa \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\"exclusion\": true, \"exclusionUntil\": \"{date-time}\"}'\n  \n\n```", "parameters": [{"name": "body", "in": "body", "schema": {"type": "object", "properties": {"exclusion": {"type": "boolean"}, "exclusionUntil": {"type": "string", "format": "date-time"}}}}], "responses": {"200": {"description": ""}, "400": {"$ref": "#/responses/trait:standardErrors:400"}, "401": {"$ref": "#/responses/trait:standardErrors:401"}, "403": {"$ref": "#/responses/trait:standardErrors:403"}, "404": {"$ref": "#/responses/trait:standardErrors:404"}, "409": {"$ref": "#/responses/trait:standardErrors:409"}, "500": {"$ref": "#/responses/trait:standardErrors:500"}}, "security": [{"x-api-key": []}]}}, "/command/trigger/{triggername}": {"parameters": [{"name": "triggername", "in": "path", "required": true, "type": "string"}], "post": {"operationId": "CommandTriggerWebhook_Start", "summary": "Launch a command via a Trigger", "description": "This endpoint allows you to launch a command based on a defined trigger.\n\n#### Sample Requests\n\n**Launch a Command via a Trigger**\n\n```\ncurl --silent \\\n     -X 'POST' \\\n     -H \"x-api-key: {API_KEY}\" \\\n     \"https://console.jumpcloud.com/api/command/trigger/{TriggerName}\"\n```\n**Launch a Command via a Trigger passing a JSON object to the command**\n```\ncurl --silent \\\n     -X 'POST' \\\n     -H \"x-api-key: {API_KEY}\" \\\n     -H 'Accept: application/json' \\\n     -H 'Content-Type: application/json' \\\n     -d '{ \"srcip\":\"192.168.2.32\", \"attack\":\"Cross Site Scripting Attempt\" }' \\\n     \"https://console.jumpcloud.com/api/command/trigger/{TriggerName}\"\n```", "parameters": [ ], "responses": {"200": {"description": "OK"}, "401": {"description": ""}}, "security": [{"x-api-key": []}]}}, "/systems": {"get": {"operationId": "System_List", "summary": "List All Systems", "description": "This endpoint returns all Systems.\n\n#### Sample Requests\n```\ncurl -X GET https://console.jumpcloud.com/api/systems \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \n\n```", "parameters": [{"$ref": "#/parameters/trait:fields:fields"}, {"$ref": "#/parameters/trait:limit:limit"}, {"$ref": "#/parameters/trait:search:search"}, {"$ref": "#/parameters/trait:skip:skip"}, {"$ref": "#/parameters/trait:sort:sort"}, {"$ref": "#/parameters/trait:filter:filter"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/systemslist"}}}, "security": [{"x-api-key": []}]}}, "/search/systemusers": {"post": {"operationId": "SystemUser_Search", "summary": "Search System Users", "description": "Return System Users in multi-record format allowing for the passing of the `filter` and `searchFilter` parameters. This WILL NOT allow you to add a new system user.\n\nTo support advanced filtering you can use the `filter` and `searchFilter` parameters that can only be passed in the body of POST /api/search/* routes. The `filter` and `searchFilter` parameters must be passed as Content-Type application/json.\n\nThe `filter` parameter is an object with a single property, either `and` or `or` with the value of the property being an array of query expressions. \n\nThis allows you to filter records using the logic of matching ALL or ANY records in the array of query expressions. If the `and` or `or` are not included the default behavior is to match ALL query expressions.\n\nThe `searchFilter` parameter allows text searching on supported fields by specifying a `searchTerm` and a list of `fields` to query on. If any `field` has a partial text match on the`searchTerm` the record will be returned.\n\n\n#### Sample Request\n\nExact search for a list of system users in a department\n```\ncurl -X POST https://console.jumpcloud.com/api/search/systemusers \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n  \"filter\" : [{\"department\" : \"IT\"}],\n  \"fields\" : \"email username sudo\"\n}'\n```\n\nText search for system users with and email on a domain\n```\ncurl -X POST https://console.jumpcloud.com/api/search/systemusers \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n  \"searchFilter\" : {\n    \"searchTerm\": \"@jumpcloud.com\",\n    \"fields\": [\"email\"]\n  },\n  \"fields\" : \"email username sudo\"\n}'\n```\n\nCombining `filter` and `searchFilter` to text search for system users with and email on a domain who are in a list of departments\n```\ncurl -X POST https://console.jumpcloud.com/api/search/systemusers \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n  \"searchFilter\": {\n    \"searchTerm\": \"@jumpcloud.com\",\n    \"fields\": [\"email\"]\n  },\n  \"filter\": {\n    \"or\": [\n      {\"department\" : \"IT\"},\n      {\"department\" : \"Sales\"}\n    ]\n  },\n  \"fields\" : \"email username sudo\"\n}'\n```", "parameters": [{"name": "body", "in": "body", "schema": {"$ref": "#/definitions/search"}}, {"$ref": "#/parameters/trait:fields:fields"}, {"$ref": "#/parameters/trait:filter:filter"}, {"$ref": "#/parameters/trait:limit:limit"}, {"$ref": "#/parameters/trait:skip:skip"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/systemuserslist"}}, "401": {"description": "Unauthorized"}}, "security": [{"x-api-key": []}]}}, "/application-templates": {"get": {"operationId": "ApplicationTemplate_List", "summary": "List Application Templates", "description": "The endpoint returns all the SSO / SAML Application Templates.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/application-templates \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \n\n```", "parameters": [{"name": "fields", "in": "query", "description": "The comma separated fields included in the returned records. If omitted the default list of fields will be returned.", "type": "string"}, {"name": "limit", "in": "query", "description": "The number of records to return at once.", "type": "integer"}, {"name": "skip", "in": "query", "description": "The offset into the records to return.", "type": "integer"}, {"name": "sort", "in": "query", "type": "string", "default": "The comma separated fields used to sort the collection. Default sort is ascending, prefix with - to sort descending."}, {"$ref": "#/parameters/trait:filter:filter"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/applicationtemplateslist"}}}, "security": [{"x-api-key": []}]}}, "/search/systems": {"post": {"operationId": "System_Search", "summary": "Search Systems", "description": "Return Systems in multi-record format allowing for the passing of the `filter` and `searchFilter` parameters. This WILL NOT allow you to add a new system.\n\nTo support advanced filtering you can use the `filter` and `searchFilter` parameters that can only be passed in the body of POST /api/search/* routes. The `filter` and `searchFilter` parameters must be passed as Content-Type application/json.\n\nThe `filter` parameter is an object with a single property, either `and` or `or` with the value of the property being an array of query expressions. \n\nThis allows you to filter records using the logic of matching ALL or ANY records in the array of query expressions. If the `and` or `or` are not included the default behavior is to match ALL query expressions.\n\nThe `searchFilter` parameter allows text searching on supported fields by specifying a `searchTerm` and a list of `fields` to query on. If any `field` has a partial text match on the`searchTerm` the record will be returned.\n\n\n#### Sample Request\n\nExact search for a list of hostnames\n```\ncurl -X POST https://console.jumpcloud.com/api/search/systems \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n  \"filter\": {\n    \"or\": [\n      {\"hostname\" : \"my-hostname\"},\n      {\"hostname\" : \"other-hostname\"}\n    ]\n  },\n  \"fields\" : \"os hostname displayName\"\n}'\n```\n\nText search for a hostname or display name\n```\ncurl -X POST https://console.jumpcloud.com/api/search/systems \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n  \"searchFilter\": {\n    \"searchTerm\": \"my-host\",\n    \"fields\": [\"hostname\", \"displayName\"]\n  },\n  \"fields\": \"os hostname displayName\"\n}'\n```\n\nCombining `filter` and `searchFilter` to search for names that match a given OS\n```\ncurl -X POST https://console.jumpcloud.com/api/search/systems \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n  \"searchFilter\": {\n    \"searchTerm\": \"my-host\",\n    \"fields\": [\"hostname\", \"displayName\"]\n  },\n  \"filter\": {\n    \"or\": [\n      {\"os\" : \"Ubuntu\"},\n      {\"os\" : \"Mac OS X\"}\n    ]\n  },\n  \"fields\": \"os hostname displayName\"\n}'\n```", "parameters": [{"name": "body", "in": "body", "schema": {"$ref": "#/definitions/search"}}, {"$ref": "#/parameters/trait:fields:fields"}, {"$ref": "#/parameters/trait:limit:limit"}, {"$ref": "#/parameters/trait:skip:skip"}, {"$ref": "#/parameters/trait:filter:filter"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/systemslist"}}, "401": {"description": "Unauthorized"}}, "security": [{"x-api-key": []}]}}, "/systemusers/{id}/unlock": {"parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}], "post": {"operationId": "SystemUser_Unlock", "summary": "Unlock a system user", "description": "This endpoint allows you to unlock a user's account.", "parameters": [ ], "responses": {"200": {"description": ""}, "400": {"$ref": "#/responses/trait:standardErrors:400"}, "401": {"$ref": "#/responses/trait:standardErrors:401"}, "403": {"$ref": "#/responses/trait:standardErrors:403"}, "404": {"$ref": "#/responses/trait:standardErrors:404"}, "409": {"$ref": "#/responses/trait:standardErrors:409"}, "500": {"$ref": "#/responses/trait:standardErrors:500"}}, "security": [{"x-api-key": []}]}}, "/radiusservers/{id}": {"parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}], "put": {"operationId": "RadiusServer_Put", "summary": "Update Radius Servers", "description": "This endpoint allows you to update RADIUS servers in your organization.\n\n#### \n```\ncurl -X PUT https://console.jumpcloud.com/api/radiusservers/{ServerID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"name\": \"{name_update}\",\n    \"networkSourceIp\": \"{0.0.0.0}\",\n    \"userLockoutAction\": \"REMOVE\",\n    \"userPasswordExpirationAction\": \"MAINTAIN\"\n}'\n```", "parameters": [{"name": "body", "in": "body", "schema": {"type": "object", "properties": {"name": {"type": "string"}, "networkSourceIp": {"type": "string"}, "tags": {"type": "array", "items": {"type": "string"}}, "userLockoutAction": {"type": "string"}, "userPasswordExpirationAction": {"type": "string"}, "mfa": {"type": "string", "enum": ["DISABLED", "ENABLED", "REQUIRED", "ALWAYS"]}}, "required": ["name", "networkSourceIp"], "example": {"name": "test radius", "networkSourceIp": "0.0.0.0", "tagsNames": ["tag1"]}}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/radiusserverput"}}}, "security": [{"x-api-key": []}]}}}, "parameters": {"trait:requestHeaders:Content-Type": {"name": "Content-Type", "in": "header", "required": true, "type": "string", "default": "application/json"}, "trait:requestHeaders:Accept": {"name": "Accept", "in": "header", "required": true, "type": "string", "default": "application/json"}, "trait:sort:sort": {"name": "sort", "in": "query", "description": "Use space separated sort parameters to sort the collection.\nDefault sort is ascending. Prefix with `-` to sort descending.\n", "type": "string", "default": ""}, "trait:systemContextAuth:Date": {"name": "Date", "in": "header", "description": "Current date header for the System Context API", "type": "string"}, "trait:systemContextAuth:Authorization": {"name": "Authorization", "in": "header", "description": "Authorization header for the System Context API", "type": "string"}, "trait:search:search": {"name": "search", "in": "query", "description": "A nested object containing a string `searchTerm` and a list of `fields` to search on.", "type": "string"}, "trait:fields:fields": {"name": "fields", "in": "query", "description": "Use a space seperated string of field parameters to include the data in the response. If omitted, the default list of fields will be returned.\n", "type": "string", "default": ""}, "trait:multiTenantRequestHeaders:x-org-id": {"name": "x-org-id", "in": "header", "description": "", "type": "string", "default": ""}, "trait:filter:filter": {"name": "filter", "in": "query", "description": "A filter to apply to the query.", "type": "string"}, "trait:skip:skip": {"name": "skip", "in": "query", "description": "The offset into the records to return.", "type": "integer", "default": 0, "minimum": 0}, "trait:limit:limit": {"name": "limit", "in": "query", "description": "The number of records to return at once. Limited to 100.", "type": "integer", "default": 10}}, "responses": {"trait:standardErrors:400": {"description": "", "schema": {"$ref": "#/definitions/errorresponse"}}, "trait:standardErrors:401": {"description": "", "schema": {"$ref": "#/definitions/errorresponse"}}, "trait:standardErrors:403": {"description": "", "schema": {"$ref": "#/definitions/errorresponse"}}, "trait:standardErrors:404": {"description": "", "schema": {"$ref": "#/definitions/errorresponse"}}, "trait:standardErrors:409": {"description": "", "schema": {"$ref": "#/definitions/errorresponse"}}, "trait:standardErrors:500": {"description": "", "schema": {"$ref": "#/definitions/errorresponse"}}}, "definitions": {"UserGroupGraphManagementReq": {"title": "UserGroupGraphManagementReq","type": "object","properties": {"attributes": {"type": "object","description": "The graph connection's attributes."},"op": {"type": "string","description": "How to modify the graph connection.","enum": ["add","remove","update"]},"type": {"type": "string","description": "The graph type","enum": ["active_directory","application","command","g_suite","ldap_server","office_365","policy","radius_server","system","system_group"]},"id": {"type": "string","description": "The ObjectID of graph object being added or removed as an association."}},"required": ["op","type","id"]},"SystemGroupGraphManagementReq": {"title": "SystemGroupGraphManagementReq","type": "object","properties": {"attributes": {"type": "object","description": "The graph connection's attributes."},"op": {"type": "string","description": "How to modify the graph connection.","enum": ["add","remove","update"]},"type": {"type": "string","enum": ["active_directory","application","command","g_suite","ldap_server","office_365","policy","radius_server","user","user_group"]},"id": {"type": "string","description": "The ObjectID of graph object being added or removed as an association."}},"required": ["op","type","id"]},"bulk-user-create": {"title": "Bulk User Create","type": "object","description": "See [V1 system user creation](https://docs.jumpcloud.com/1.0/systemusers/create-a-system-user) for full list of attributes.","properties": {"username": {"type": "string"},"firstname": {"type": "string"},"lastname": {"type": "string"},"email": {"type": "string"},"attributes": {"type": "array","description": "Map of additional attributes.","items": {"type": "object"}}}},"gsuite-patch-input": {"title": "GSuite Patch Input","type": "object","properties": {"userLockoutAction": {"type": "string","enum": ["suspend","maintain"]},"userPasswordExpirationAction": {"type": "string","enum": ["suspend","maintain"]}}},"UserGraphManagementReq": {"title": "UserGraphManagementReq","type": "object","properties": {"attributes": {"type": "object","description": "The graph connection's attributes","properties": {"sudo": {"type": "object","properties": {"enabled": {"type": "boolean"},"withoutPassword": {"type": "boolean"}}}}},"op": {"type": "string","description": "How to modify the graph connection.","enum": ["add","remove","update"]},"type": {"type": "string","enum": ["active_directory","application","command","g_suite","ldap_server","office_365","policy","radius_server","system","system_group"]},"id": {"type": "string","description": "The ObjectID of graph object being added or removed as an association."}},"required": ["op","type","id"]},"organizationslist": {"title": "OrganizationList","type": "object","properties": {"totalCount": {"type": "integer","description": "The total number of organizations. "},"results": {"type": "array","description": "The list of organizations.","items": {"type": "object","properties": {"_id": {"type": "string","description": "The ID of the organization."},"displayName": {"type": "string","description": "The name of the organization."},"logoUrl": {"type": "string","description": "The organization logo image URL. "}}}}}},"active-directory-input": {"title": "Active Directory Input","type": "object","properties": {"domain": {"type": "string","description": "Domain name for this Active Directory instance."}}},"sshkeylist": {"title": "SSHKeyList", "type": "object", "properties": {"create_date": {"type": "string", "description": "The date the SSH key was created."}, "_id": {"type": "string", "description": "The ID of the SSH key."}, "public_key": {"type": "string", "description": "The Public SSH key."}, "name": {"type": "string", "description": "The name of the SSH key."}}}, "errorresponse": {"title": "ErrorResponse", "type": "object", "properties": {"message": {"type": "string"}}}, "mfa": {"title": "mfa", "type": "object", "properties": {"exclusion": {"type": "boolean"}, "exclusionUntil": {"type": "string", "format": "date-time"}, "configured": {"type": "boolean"}}}, "systemuser": {"title": "SystemUser", "type": "object", "properties": {"email": {"type": "string", "maxLength": 1024}, "username": {"type": "string", "maxLength": 1024}, "allow_public_key": {"type": "boolean"}, "public_key": {"type": "string"}, "ssh_keys": {"type": "array", "items": {"$ref": "#/definitions/sshkeylist"}}, "sudo": {"type": "boolean"}, "enable_managed_uid": {"type": "boolean"}, "unix_uid": {"type": "integer", "minimum": 1}, "unix_guid": {"type": "integer", "minimum": 1}, "activated": {"type": "boolean"}, "tags": {"type": "array", "items": {"type": "string"}}, "password_expired": {"type": "boolean"}, "account_locked": {"type": "boolean"}, "passwordless_sudo": {"type": "boolean"}, "externally_managed": {"type": "boolean"}, "external_dn": {"type": "string"}, "external_source_type": {"type": "string"}, "firstname": {"type": "string", "maxLength": 1024}, "lastname": {"type": "string", "maxLength": 1024}, "ldap_binding_user": {"type": "boolean"}, "enable_user_portal_multifactor": {"type": "boolean"}, "associatedTagCount": {"type": "integer", "minimum": 0}, "totp_enabled": {"type": "boolean"}, "password_expiration_date": {"type": "string"}, "attributes": {"type": "array", "items": {"type": "object"}}, "created": {"type": "string"}, "samba_service_user": {"type": "boolean"}, "password_never_expires": {"type": "boolean"}, "_id": {"type": "string"}, "middlename": {"type": "string", "maxLength": 1024}, "displayname": {"type": "string", "maxLength": 1024}, "description": {"type": "string", "maxLength": 1024}, "location": {"type": "string", "maxLength": 1024}, "costCenter": {"type": "string", "maxLength": 1024}, "employeeType": {"type": "string", "maxLength": 1024}, "company": {"type": "string", "maxLength": 1024}, "employeeIdentifier": {"type": "string", "maxLength": 256, "description": "Must be unique per user. "}, "jobTitle": {"type": "string", "maxLength": 1024}, "department": {"type": "string", "maxLength": 1024}, "mfa": {"$ref": "#/definitions/mfa"}, "suspended": {"type": "boolean"}}}, "systemuserputpost": {"title": "SystemUserPost", "type": "object", "properties": {"email": {"type": "string", "maxLength": 1024}, "username": {"type": "string"}, "allow_public_key": {"type": "boolean"}, "public_key": {"type": "string"}, "sudo": {"type": "boolean"}, "enable_managed_uid": {"type": "boolean"}, "unix_uid": {"type": "integer", "minimum": 1}, "unix_guid": {"type": "integer", "minimum": 1}, "activated": {"type": "boolean"}, "tags": {"type": "array", "items": {"type": "string"}}, "account_locked": {"type": "boolean"}, "passwordless_sudo": {"type": "boolean"}, "externally_managed": {"type": "boolean"}, "external_dn": {"type": "string"}, "external_source_type": {"type": "string"}, "firstname": {"type": "string"}, "lastname": {"type": "string"}, "ldap_binding_user": {"type": "boolean"}, "enable_user_portal_multifactor": {"type": "boolean"}, "attributes": {"type": "array", "items": {"type": "object"}}, "samba_service_user": {"type": "boolean"}, "addresses": {"type": "array", "items": {"type": "object", "properties": {"type": {"type": "string"}, "poBox": {"type": "string"}, "extendedAddress": {"type": "string"}, "streetAddress": {"type": "string"}, "locality": {"type": "string"}, "region": {"type": "string"}, "postalCode": {"type": "string"}, "country": {"type": "string"}}}}, "jobTitle": {"type": "string"}, "department": {"type": "string"}, "phoneNumbers": {"type": "array", "items": {"type": "object", "properties": {"type": {"type": "string"}, "number": {"type": "string"}}}}, "relationships": {"type": "array", "items": {"type": "object"}}, "password": {"type": "string"}, "password_never_expires": {"type": "boolean"}, "middlename": {"type": "string"}, "displayname": {"type": "string"}, "description": {"type": "string", "maxLength": 1024}, "location": {"type": "string"}, "costCenter": {"type": "string"}, "employeeType": {"type": "string"}, "company": {"type": "string"}, "employeeIdentifier": {"type": "string", "maxLength": 256, "description": "Must be unique per user. "}, "mfa": {"$ref": "#/definitions/mfa"}, "suspended": {"type": "boolean"}}, "required": ["email", "username"]}, "command": {"title": "Command", "type": "object", "properties": {"name": {"type": "string"}, "command": {"type": "string", "description": "The command to execute on the server."}, "commandType": {"type": "string", "description": "The Command OS"}, "commandRunners": {"type": "array", "description": "An array of IDs of the Command Runner Users that can execute this command.", "items": {"type": "string"}}, "user": {"type": "string", "description": "The ID of the system user to run the command as. This field is required when creating a command with a commandType of \"mac\" or \"linux\"."}, "sudo": {"type": "boolean", "description": ""}, "systems": {"type": "array", "description": "An array of system IDs to run the command on. Not available if you are using Groups.", "items": {"type": "string"}}, "launchType": {"type": "string", "description": "How the command will execute."}, "listensTo": {"type": "string", "description": ""}, "scheduleRepeatType": {"type": "string", "description": "When the command will repeat."}, "schedule": {"type": "string", "description": "A crontab that consists of: [ (seconds) (minutes) (hours) (days of month) (months) (weekdays) ] or [ immediate ]. If you send this as an empty string, it will run immediately.\n"}, "files": {"type": "array", "description": "An array of file IDs to include with the command.", "items": {"type": "string"}}, "timeout": {"type": "string", "description": "The time in seconds to allow the command to run for."}, "organization": {"type": "string", "description": "The ID of the organization."}, "trigger": {"type": "string", "description": "The name of the command trigger."}}, "required": ["command"]}, "systemuserbinding": {"title": "SystemUserBinding", "type": "object"}, "commandresultslist": {"title": "CommandResultsList", "type": "object", "properties": {"totalCount": {"type": "integer", "description": "The total number of command results"}, "results": {"type": "array", "description": "The list of command results", "items": {"$ref": "#/definitions/commandresult"}}}}, "JcSystem": {"title": "System", "type": "object", "properties": {"organization": {"type": "string"}, "created": {"type": "string"}, "lastContact": {"type": "string"}, "os": {"type": "string"}, "version": {"type": "string"}, "arch": {"type": "string"}, "networkInterfaces": {"type": "array", "items": {"type": "object", "properties": {"address": {"type": "string"}, "family": {"type": "string"}, "internal": {"type": "boolean"}, "name": {"type": "string"}}}}, "hostname": {"type": "string"}, "displayName": {"type": "string"}, "systemTimezone": {"type": "integer"}, "templateName": {"type": "string"}, "remoteIP": {"type": "string"}, "active": {"type": "boolean"}, "sshdParams": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string"}, "value": {"type": "string"}}}}, "allowSshPasswordAuthentication": {"type": "boolean"}, "allowSshRootLogin": {"type": "boolean"}, "allowMultiFactorAuthentication": {"type": "boolean"}, "allowPublicKeyAuthentication": {"type": "boolean"}, "modifySSHDConfig": {"type": "boolean"}, "agentVersion": {"type": "string"}, "connectionHistory": {"type": "array", "items": {"type": "object"}}, "sshRootEnabled": {"type": "boolean"}, "tags": {"type": "array", "items": {"type": "string"}}, "_id": {"type": "string"}, "fde": {"$ref": "#/definitions/fde"}, "amazonInstanceID": {"type": "string"}, "systemInsights": {"type": "object", "properties": {"state": {"type": "string", "enum": ["enabled", "disabled", "deferred"]}}}}}, "application": {"title": "Application", "type": "object", "properties": {"_id": {"type": "string"}, "beta": {"type": "boolean"}, "name": {"type": "string"}, "displayName": {"type": "string"}, "displayLabel": {"type": "string"}, "organization": {"type": "string"}, "ssoUrl": {"type": "string"}, "learnMore": {"type": "string"}, "config": {"type": "object", "properties": {"idpEntityId": {"type": "object", "properties": {"label": {"type": "string"}, "readOnly": {"type": "boolean"}, "toggle": {"type": "string"}, "tooltip": {"type": "object", "properties": {"template": {"type": "string"}, "variables": {"type": "object", "properties": {"icon": {"type": "string"}, "message": {"type": "string"}}}}}, "type": {"type": "string"}, "value": {"type": "string"}, "visible": {"type": "boolean"}, "options": {"type": "string"}, "required": {"type": "boolean"}, "position": {"type": "integer"}}}, "idpCertificate": {"type": "object", "properties": {"label": {"type": "string"}, "readOnly": {"type": "boolean"}, "toggle": {"type": "string"}, "tooltip": {"type": "object", "properties": {"template": {"type": "string"}, "variables": {"type": "object", "properties": {"icon": {"type": "string"}, "message": {"type": "string"}}}}}, "type": {"type": "string"}, "value": {"type": "string"}, "visible": {"type": "boolean"}, "options": {"type": "string"}, "required": {"type": "boolean"}, "position": {"type": "integer"}}}, "spEntityId": {"type": "object", "properties": {"label": {"type": "string"}, "readOnly": {"type": "boolean"}, "toggle": {"type": "string"}, "tooltip": {"type": "object", "properties": {"template": {"type": "string"}, "variables": {"type": "object", "properties": {"icon": {"type": "string"}, "message": {"type": "string"}}}}}, "type": {"type": "string"}, "value": {"type": "string"}, "visible": {"type": "boolean"}, "options": {"type": "string"}, "required": {"type": "boolean"}, "position": {"type": "integer"}}}, "acsUrl": {"type": "object", "properties": {"label": {"type": "string"}, "readOnly": {"type": "boolean"}, "toggle": {"type": "string"}, "tooltip": {"type": "object", "properties": {"template": {"type": "string"}, "variables": {"type": "object", "properties": {"icon": {"type": "string"}, "message": {"type": "string"}}}}}, "type": {"type": "string"}, "value": {"type": "string"}, "visible": {"type": "boolean"}, "options": {"type": "string"}, "required": {"type": "boolean"}, "position": {"type": "integer"}}}, "constantAttributes": {"type": "object", "properties": {"label": {"type": "string"}, "readOnly": {"type": "boolean"}, "toggle": {"type": "string"}, "tooltip": {"type": "object", "properties": {"template": {"type": "string"}, "variables": {"type": "object", "properties": {"icon": {"type": "string"}, "message": {"type": "string"}}}}}, "type": {"type": "string"}, "value": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string"}, "value": {"type": "string"}, "required": {"type": "boolean"}, "visible": {"type": "boolean"}, "readOnly": {"type": "boolean"}}}}, "visible": {"type": "boolean"}, "options": {"type": "string"}, "mutable": {"type": "boolean"}, "required": {"type": "boolean"}, "position": {"type": "integer"}}}, "databaseAttributes": {"type": "object", "properties": {"position": {"type": "integer"}}}, "idpPrivateKey": {"type": "object", "properties": {"label": {"type": "string"}, "readOnly": {"type": "boolean"}, "toggle": {"type": "string"}, "tooltip": {"type": "object", "properties": {"template": {"type": "string"}, "variables": {"type": "object", "properties": {"icon": {"type": "string"}, "message": {"type": "string"}}}}}, "type": {"type": "string"}, "value": {"type": "string"}, "visible": {"type": "boolean"}, "options": {"type": "string"}, "required": {"type": "boolean"}, "position": {"type": "integer"}}}}}}}, "radiusserverslist": {"title": "RadiusServersList", "type": "object", "properties": {"totalCount": {"type": "integer"}, "results": {"type": "array", "items": {"$ref": "#/definitions/radiusserver"}}}}, "commandresult": {"title": "CommandResult", "type": "object", "properties": {"command": {"type": "string", "description": "The command that was executed on the system."}, "name": {"type": "string", "description": "The name of the command."}, "system": {"type": "string", "description": "The name of the system the command was executed on."}, "systemId": {"type": "string", "description": "The id of the system the command was executed on."}, "organization": {"type": "string", "description": "The ID of the organization."}, "workflowId": {"type": "string"}, "workflowInstanceId": {"type": "string"}, "user": {"type": "string", "description": "The user the command ran as."}, "sudo": {"type": "boolean", "description": "If the user had sudo rights"}, "files": {"description": "An array of file ids that were included in the command", "type": "array", "items": {"type": "string"}}, "requestTime": {"type": "string", "description": "The time that the command was sent."}, "responseTime": {"type": "string", "description": "The time that the command was completed."}, "response": {"type": "object", "properties": {"id": {"type": "string", "description": "ID of the response."}, "error": {"type": "string", "description": "The stderr output from the command that ran."}, "data": {"type": "object", "properties": {"output": {"type": "string", "description": "The output of the command that was executed."}, "exitCode": {"type": "integer", "description": "The stderr output from the command that ran."}}}}}, "_id": {"type": "string", "description": "The ID of the command."}}}, "systemuserbindingsput": {"title": "SystemUserBindingsPut", "type": "object", "properties": {"add": {"type": "array", "description": "The list of systemuser ids to be added to this system.", "items": {"type": "string"}}, "remove": {"type": "array", "description": "The list of systemuser ids to be removed from this system.", "items": {"type": "string"}}}, "required": ["add", "remove"]}, "radiusserverpost": {"title": "RadiusServerPost", "type": "object", "properties": {"networkSourceIp": {"type": "string"}, "name": {"type": "string"}, "tagNames": {"type": "array", "items": {"type": "string"}}, "sharedSecret": {"type": "string", "description": "RADIUS shared secret between the server and client."}, "userLockoutAction": {"type": "string"}, "userPasswordExpirationAction": {"type": "string"}, "mfa": {"type": "string", "enum": ["DISABLED", "ENABLED", "REQUIRED", "ALWAYS"]}}, "required": ["networkSourceIp", "name", "sharedSecret"]}, "sshkeypost": {"title": "SSHKeyPost", "type": "object", "properties": {"public_key": {"type": "string", "description": "The Public SSH key."}, "name": {"type": "string", "description": "The name of the SSH key."}}, "required": ["public_key", "name"]}, "fde": {"title": "FDE", "type": "object", "properties": {"keyPresent": {"type": "boolean"}, "active": {"type": "boolean"}}}, "usersystembinding": {"title": "UserSystemBinding", "type": "object"}, "radiusserverput": {"title": "RadiusServerPut", "type": "object", "properties": {"_id": {"type": "string"}, "networkSourceIp": {"type": "string"}, "name": {"type": "string"}, "tagNames": {"type": "array", "items": {"type": "string"}}, "userLockoutAction": {"type": "string"}, "userPasswordExpirationAction": {"type": "string"}, "mfa": {"type": "string", "enum": ["DISABLED", "ENABLED", "REQUIRED", "ALWAYS"]}}}, "systemuserslist": {"title": "SystemUsersList", "type": "object", "properties": {"totalCount": {"type": "integer", "description": "The total number of system users."}, "results": {"type": "array", "description": "The list of system users.", "items": {"$ref": "#/definitions/systemuserreturn"}}}}, "search": {"title": "Search", "type": "object", "properties": {"filter": {"type": "object"}, "fields": {"type": "string"}, "searchFilter": {"type": "object"}}}, "applicationslist": {"title": "ApplicationsList", "type": "object", "properties": {"totalCount": {"type": "integer", "description": "The total number of applications."}, "results": {"type": "array", "description": "The list of applications.", "items": {"$ref": "#/definitions/application"}}}}, "applicationtemplateslist": {"title": "ApplicationTemplatesList", "type": "object", "properties": {"totalCount": {"type": "integer", "description": "The total number of applications."}, "results": {"type": "array", "description": "The list of applications.", "items": {"$ref": "#/definitions/applicationtemplate"}}}}, "applicationtemplate": {"title": "ApplicationTemplate", "type": "object", "properties": {"_id": {"type": "string"}, "name": {"type": "string"}, "displayName": {"type": "string"}, "displayLabel": {"type": "string"}, "ssoUrl": {"type": "string"}, "learnMore": {"type": "string"}, "config": {"type": "object", "properties": {"idpEntityId": {"type": "object", "properties": {"label": {"type": "string"}, "readOnly": {"type": "boolean"}, "toggle": {"type": "string"}, "tooltip": {"type": "object", "properties": {"template": {"type": "string"}, "variables": {"type": "object", "properties": {"icon": {"type": "string"}, "message": {"type": "string"}}}}}, "type": {"type": "string"}, "value": {"type": "string"}, "visible": {"type": "boolean"}, "options": {"type": "string"}, "required": {"type": "boolean"}, "position": {"type": "integer"}}}, "idpCertificate": {"type": "object", "properties": {"label": {"type": "string"}, "readOnly": {"type": "boolean"}, "toggle": {"type": "string"}, "tooltip": {"type": "object", "properties": {"template": {"type": "string"}, "variables": {"type": "object", "properties": {"icon": {"type": "string"}, "message": {"type": "string"}}}}}, "type": {"type": "string"}, "value": {"type": "string"}, "visible": {"type": "boolean"}, "options": {"type": "string"}, "required": {"type": "boolean"}, "position": {"type": "integer"}}}, "spEntityId": {"type": "object", "properties": {"label": {"type": "string"}, "readOnly": {"type": "boolean"}, "toggle": {"type": "string"}, "tooltip": {"type": "object", "properties": {"template": {"type": "string"}, "variables": {"type": "object", "properties": {"icon": {"type": "string"}, "message": {"type": "string"}}}}}, "type": {"type": "string"}, "value": {"type": "string"}, "visible": {"type": "boolean"}, "options": {"type": "string"}, "required": {"type": "boolean"}, "position": {"type": "integer"}}}, "acsUrl": {"type": "object", "properties": {"label": {"type": "string"}, "readOnly": {"type": "boolean"}, "toggle": {"type": "string"}, "tooltip": {"type": "object", "properties": {"template": {"type": "string"}, "variables": {"type": "object", "properties": {"icon": {"type": "string"}, "message": {"type": "string"}}}}}, "type": {"type": "string"}, "value": {"type": "string"}, "visible": {"type": "boolean"}, "options": {"type": "string"}, "required": {"type": "boolean"}, "position": {"type": "integer"}}}, "constantAttributes": {"type": "object", "properties": {"label": {"type": "string"}, "readOnly": {"type": "boolean"}, "toggle": {"type": "string"}, "tooltip": {"type": "object", "properties": {"template": {"type": "string"}, "variables": {"type": "object", "properties": {"icon": {"type": "string"}, "message": {"type": "string"}}}}}, "type": {"type": "string"}, "value": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string"}, "value": {"type": "string"}, "required": {"type": "boolean"}, "visible": {"type": "boolean"}, "readOnly": {"type": "boolean"}}}}, "visible": {"type": "boolean"}, "options": {"type": "string"}, "mutable": {"type": "boolean"}, "required": {"type": "boolean"}, "position": {"type": "integer"}}}, "databaseAttributes": {"type": "object", "properties": {"position": {"type": "integer"}}}, "idpPrivateKey": {"type": "object", "properties": {"label": {"type": "string"}, "readOnly": {"type": "boolean"}, "toggle": {"type": "string"}, "tooltip": {"type": "object", "properties": {"template": {"type": "string"}, "variables": {"type": "object", "properties": {"icon": {"type": "string"}, "message": {"type": "string"}}}}}, "type": {"type": "string"}, "value": {"type": "string"}, "visible": {"type": "boolean"}, "options": {"type": "string"}, "required": {"type": "boolean"}, "position": {"type": "integer"}}}}}, "beta": {"type": "boolean"}, "color": {"type": "string"}, "jit": {"type": "object", "properties": {"createOnly": {"type": "boolean"}, "attributes": {"type": "object"}}}, "isConfigured": {"type": "boolean"}}}, "systemuserreturn": {"title": "SystemUserReturn", "type": "object", "properties": {"email": {"type": "string", "maxLength": 1024}, "username": {"type": "string", "maxLength": 1024}, "allow_public_key": {"type": "boolean"}, "public_key": {"type": "string"}, "ssh_keys": {"type": "array", "items": {"$ref": "#/definitions/sshkeylist"}}, "sudo": {"type": "boolean"}, "enable_managed_uid": {"type": "boolean"}, "unix_uid": {"type": "integer", "minimum": 1}, "unix_guid": {"type": "integer", "minimum": 1}, "activated": {"type": "boolean"}, "tags": {"type": "array", "items": {"type": "string"}}, "password_expired": {"type": "boolean"}, "account_locked": {"type": "boolean"}, "passwordless_sudo": {"type": "boolean"}, "externally_managed": {"type": "boolean"}, "external_dn": {"type": "string"}, "external_source_type": {"type": "string"}, "firstname": {"type": "string", "maxLength": 1024}, "lastname": {"type": "string", "maxLength": 1024}, "ldap_binding_user": {"type": "boolean"}, "enable_user_portal_multifactor": {"type": "boolean"}, "totp_enabled": {"type": "boolean"}, "attributes": {"type": "array", "items": {"type": "object"}}, "created": {"type": "string"}, "samba_service_user": {"type": "boolean"}, "_id": {"type": "string"}, "organization": {"type": "string"}, "addresses": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "string"}, "type": {"type": "string", "maxLength": 1024}, "poBox": {"type": "string", "maxLength": 1024}, "extendedAddress": {"type": "string", "maxLength": 1024}, "streetAddress": {"type": "string", "maxLength": 1024}, "locality": {"type": "string", "maxLength": 1024}, "region": {"type": "string", "maxLength": 1024}, "postalCode": {"type": "string", "maxLength": 1024}, "country": {"type": "string", "maxLength": 1024}}}}, "jobTitle": {"type": "string", "maxLength": 1024}, "department": {"type": "string", "maxLength": 1024}, "phoneNumbers": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "string"}, "type": {"type": "string", "maxLength": 1024}, "number": {"type": "string", "maxLength": 1024}}}}, "relationships": {"type": "array", "items": {"type": "object"}}, "badLoginAttempts": {"type": "integer", "minimum": 0}, "password_never_expires": {"type": "boolean"}, "middlename": {"type": "string", "maxLength": 1024}, "displayname": {"type": "string", "maxLength": 1024}, "description": {"type": "string", "maxLength": 1024}, "location": {"type": "string", "maxLength": 1024}, "costCenter": {"type": "string", "maxLength": 1024}, "employeeType": {"type": "string", "maxLength": 1024}, "company": {"type": "string", "maxLength": 1024}, "employeeIdentifier": {"type": "string", "maxLength": 256, "description": "Must be unique per user. "}, "mfa": {"$ref": "#/definitions/mfa"}, "password_expiration_date": {"type": "string"}, "suspended": {"type": "boolean"}}}, "radiusserver": {"title": "RadiusServer", "type": "object", "properties": {"_id": {"type": "string"}, "organization": {"type": "string"}, "networkSourceIp": {"type": "string"}, "sharedSecret": {"type": "string"}, "name": {"type": "string"}, "tags": {"type": "array", "items": {"type": "string"}}, "tagNames": {"type": "array", "items": {"type": "string"}}, "userLockoutAction": {"type": "string"}, "userPasswordExpirationAction": {"type": "string"}, "mfa": {"type": "string", "enum": ["DISABLED", "ENABLED", "REQUIRED", "ALWAYS"]}}}, "commandfilereturn": {"title": "CommandFileReturn", "type": "object", "properties": {"totalCount": {"type": "integer", "description": "The total number of commands files"}, "results": {"type": "object", "properties": {"name": {"type": "string", "description": "The file name."}, "destination": {"type": "string", "description": "The location where the file will be stored."}, "_id": {"type": "string", "description": "The ID of the file."}}}}}, "systemput": {"title": "SystemPut", "type": "object", "properties": {"displayName": {"type": "string"}, "allowSshPasswordAuthentication": {"type": "boolean"}, "allowSshRootLogin": {"type": "boolean"}, "allowMultiFactorAuthentication": {"type": "boolean"}, "allowPublicKeyAuthentication": {"type": "boolean"}, "agentBoundMessages": {"type": "array", "items": {"type": "object", "properties": {"cmd": {"type": "string"}}}}, "tags": {"type": "array", "items": {"type": "string"}}}}, "systemuserput": {"title": "SystemUserPut", "type": "object", "properties": {"email": {"type": "string", "maxLength": 1024}, "username": {"type": "string", "maxLength": 1024}, "allow_public_key": {"type": "boolean"}, "public_key": {"type": "string"}, "ssh_keys": {"type": "array", "items": {"$ref": "#/definitions/sshkeypost"}}, "sudo": {"type": "boolean"}, "enable_managed_uid": {"type": "boolean"}, "unix_uid": {"type": "integer", "minimum": 1}, "unix_guid": {"type": "integer", "minimum": 1}, "tags": {"type": "array", "items": {"type": "string"}}, "account_locked": {"type": "boolean"}, "externally_managed": {"type": "boolean"}, "external_dn": {"type": "string"}, "external_source_type": {"type": "string"}, "firstname": {"type": "string", "maxLength": 1024}, "lastname": {"type": "string", "maxLength": 1024}, "ldap_binding_user": {"type": "boolean"}, "enable_user_portal_multifactor": {"type": "boolean"}, "attributes": {"type": "array", "items": {"type": "object"}}, "samba_service_user": {"type": "boolean"}, "addresses": {"type": "array", "description": "type, poBox, extendedAddress, streetAddress, locality, region, postalCode, country", "items": {"type": "object", "properties": {"type": {"type": "string", "maxLength": 1024}, "poBox": {"type": "string", "maxLength": 1024}, "extendedAddress": {"type": "string", "maxLength": 1024}, "streetAddress": {"type": "string", "maxLength": 1024}, "locality": {"type": "string", "maxLength": 1024}, "region": {"type": "string", "maxLength": 1024}, "postalCode": {"type": "string", "maxLength": 1024}, "country": {"type": "string", "maxLength": 1024}}}}, "jobTitle": {"type": "string", "maxLength": 1024}, "department": {"type": "string", "maxLength": 1024}, "phoneNumbers": {"type": "array", "items": {"type": "object", "properties": {"type": {"type": "string", "maxLength": 1024}, "number": {"type": "string", "maxLength": 1024}}}}, "relationships": {"type": "array", "items": {"type": "object"}}, "password": {"type": "string"}, "password_never_expires": {"type": "boolean"}, "middlename": {"type": "string", "maxLength": 1024}, "displayname": {"type": "string", "maxLength": 1024}, "description": {"type": "string", "maxLength": 1024}, "location": {"type": "string", "maxLength": 1024}, "costCenter": {"type": "string", "maxLength": 1024}, "employeeType": {"type": "string", "maxLength": 1024}, "company": {"type": "string", "maxLength": 1024}, "employeeIdentifier": {"type": "string", "maxLength": 256, "description": "Must be unique per user. "}, "mfa": {"$ref": "#/definitions/mfa"}, "suspended": {"type": "boolean"}}}, "commandslist": {"title": "CommandsList", "type": "object", "properties": {"totalCount": {"type": "integer", "description": "The total number of commands"}, "results": {"type": "array", "items": {"type": "object", "properties": {"_id": {"type": "string", "description": "The ID of the command."}, "command": {"type": "string", "description": "The Command to execute."}, "commandType": {"type": "string", "description": "The Command OS."}, "launchType": {"type": "string", "description": "How the Command is executed."}, "listensTo": {"type": "string"}, "name": {"type": "string", "description": "The name of the Command."}, "organization": {"type": "string", "description": "The ID of the Organization."}, "schedule": {"type": "string", "description": "A crontab that consists of: [ (seconds) (minutes) (hours) (days of month) (months) (weekdays) ] or [ immediate ]. If you send this as an empty string, it will run immediately."}, "scheduleRepeatType": {"type": "string", "description": "When the command will repeat."}, "trigger": {"type": "string", "description": "Trigger to execute command."}}}}}}, "usersystembindingsput": {"title": "UserSystemBindingsPut", "type": "object", "properties": {"add": {"type": "array", "description": "The list of system ids to be added to this user.", "items": {"type": "string"}}, "remove": {"type": "array", "description": "The list of system ids to be removed from this user.", "items": {"type": "string"}}}, "required": ["add", "remove"]}, "systemslist": {"title": "SystemsList", "type": "object", "properties": {"totalCount": {"type": "integer", "description": "The total number of systems."}, "results": {"type": "array", "description": "The list of systems.", "items": {"$ref": "#/definitions/JcSystem"}}}}}}
