{
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "JumpCloud APIs",
    "description": ""
  },
  "host": "console.jumpcloud.com",
  "basePath": "/api/v2/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "x-api-key": {
      "name": "x-api-key",
      "type": "apiKey",
      "in": "header"
    }
  },
  "paths": {
    "/activedirectories": {
      "get": {
        "operationId": "ActiveDirectory_List",
        "summary": "List Active Directories",
        "description": "This endpoint allows you to list all your Active Directory Instances.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:filter:filter"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:sort:sort"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/active-directory-output"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/activedirectories/{activedirectory_id}/associations": {
      "get": {
        "operationId": "ActiveDirectoryAssociation_List",
        "summary": "List the associations of an Active Directory instance",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint returns the direct associations of this Active Directory instance.\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example Active Directory and Users.\n\n\n#### Sample Request\n```\ncurl -X GET 'https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}/associations?targets=user \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:graphTargets:targets"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphConnection"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "activedirectory_id",
          "in": "path",
          "description": "ObjectID of the Active Directory instance.",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/activedirectories/{activedirectory_id}/usergroups": {
      "get": {
        "operationId": "ActiveDirectoryTraverseUserGroup_List",
        "summary": "List the User Groups bound to an Active Directory instance",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint will return all Users Groups bound to an Active Directory instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the group's type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this Active Directory instance to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this Active Directory instance.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}/usergroups \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "activedirectory_id",
          "in": "path",
          "description": "ObjectID of the Active Directory instance.",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/activedirectories/{id}": {
      "get": {
        "operationId": "ActiveDirectory_Get",
        "summary": "Get an Active Directory",
        "description": "This endpoint returns a specific Active Directory.\n\n#### Sample Request\n\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID} \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/active-directory-output"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "ObjectID of this Active Directory instance.",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/applications/{application_id}/associations": {
      "get": {
        "operationId": "ApplicationAssociation_List",
        "summary": "List the associations of an Application",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint will return the _direct_ associations of an Application. A direct association can be a non-homogeneous relationship between 2 different objects, for example Applications and User Groups.\n\n\n#### Sample Request\n```\ncurl -X GET 'https://console.jumpcloud.com/api/v2/applications/{Application_ID}/associations?targets=user_group \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:graphTargets:targets"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphConnection"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "description": "ObjectID of the Application.",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "operationId": "ApplicationAssociation_Set",
        "summary": "Manage the associations of an Application",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint allows you to manage the _direct_ associations of an Application. A direct association can be a non-homogeneous relationship between 2 different objects, for example Application and User Groups.\n\n#### Sample Request\n```\ncurl -X POST 'https://console.jumpcloud.com/api/v2/applications/{Application_ID}/associations' \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"op\": \"add\",\n    \"type\": \"user_group\",\n    \"id\": \"{Group_ID}\"\n}'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GraphManagementReq"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/applications/{application_id}/usergroups": {
      "get": {
        "operationId": "ApplicationTraverseUserGroup_List",
        "summary": "List the User Groups bound to an Application",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint will return all Users Groups bound to an Application, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the group's type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates  each path from this Application to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this Application.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/applications/{Application_ID}/usergroups \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "description": "ObjectID of the Application.",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/applications/{application_id}/users": {
      "get": {
        "operationId": "ApplicationTraverseUser_List",
        "summary": "List the Users bound to an Application",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint will return all Users bound to an Application, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this Application to the corresponding User; this array represents all grouping and/or associations that would have to be removed to deprovision the User from this Application.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/applications/{Application_ID}/users \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "description": "ObjectID of the Application.",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/bulk/users": {
      "patch": {
        "operationId": "BulkUsers_Update",
        "summary": "Bulk Users Update",
        "description": "The endpoint allows you to create a bulk job to asynchronously update users. See [Update a System User](https://docs.jumpcloud.com/1.0/systemusers/update-a-system-user) for full list of attributes.\n\n#### Sample Request \n```\ncurl -X PATCH https://console.jumpcloud.com/api/v2/bulk/users \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '[\n\t{\n\t  \"id\":\"5be9fb4ddb01290001e85109\",\n\t\t\"firstname\":\"{UPDATED_FIRSTNAME}\",\n\t\t\"department\":\"{UPDATED_DEPARTMENT}\",\n\t\t\"attributes\":[\n\t\t\t{\"name\":\"Custom\",\"value\":\"{ATTRIBUTE_VALUE}\"}\n\t\t]\n\t},\n\t{\n\t  \"id\":\"5be9fb4ddb01290001e85109\",\n\t\t\"firstname\":\"{UPDATED_FIRSTNAME}\",\n\t\t\"costCenter\":\"{UPDATED_COST_CENTER}\",\n\t\t\"phoneNumbers\":[\n\t\t\t{\"type\":\"home\",\"number\":\"{HOME_PHONE_NUMBER}\"},\n\t\t\t{\"type\":\"work\",\"number\":\"{WORK_PHONE_NUMBER}\"}\n\t\t]\n\t}\n]\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/bulk-user-update"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/job-id"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "post": {
        "operationId": "BulkUsers_Create",
        "summary": "Bulk Users Create",
        "description": "The endpoint allows you to create a bulk job to asynchronously create users. See [Create a System User](https://docs.jumpcloud.com/1.0/systemusers/create-a-system-user) for full list of attributes.\n\n#### Sample Request \n```\ncurl -X POST https://console.jumpcloud.com/api/v2/bulk/users \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '[\n\t{\n\t\t\"email\":\"{email}\",\n\t\t\"firstname\":\"{firstname}\",\n\t\t\"lastname\":\"{firstname}\",\n\t\t\"username\":\"{username}\",\n\t\t\"attributes\":[\n\t\t\t{\"name\":\"EmployeeID\",\"value\":\"0000\"},\n\t\t\t{\"name\":\"Custom\",\"value\":\"attribute\"}\n\t\t]\n\t}\n]\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/bulk-user-create"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/job-id"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/bulk/users/{job_id}/results": {
      "get": {
        "operationId": "BulkUsersResult_Get",
        "summary": "List Bulk Users Results",
        "description": "This endpoint will return the results of particular user import or update job request.\n\n#### Sample Request\n```\ncurl -X GET \\\n  https://console.jumpcloud.com/api/v2/bulk/users/{ImportJobID}/results \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/job-workresult"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "job_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/commands/{command_id}/associations": {
      "get": {
        "operationId": "CommandAssociation_List",
        "summary": "List the associations of a Command",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint will return the _direct_ associations of this Command.\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example Commands and User Groups.\n\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/commands/{Command_ID}/associations?targets=system_group \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:graphTargets:targets"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphConnection"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "command_id",
          "in": "path",
          "description": "ObjectID of the Command.",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "operationId": "CommandAssociation_Set",
        "summary": "Manage the associations of a Command",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint will allow you to manage the _direct_ associations of this Command.\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example Commands and User Groups.\n\n\n#### Sample Request\n```\n curl -X POST https://console.jumpcloud.com/api/v2/commands/{Command_ID}/associations \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"op\": \"add\",\n    \"type\": \"system_group\",\n    \"id\": \"Group_ID\"\n}'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GraphManagementReq"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/commands/{command_id}/systemgroups": {
      "get": {
        "operationId": "CommandTraverseSystemGroup_List",
        "summary": "List the System Groups bound to a Command",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint will return all System Groups bound to a Command, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the group's type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this Command to the corresponding System Group; this array represents all grouping and/or associations that would have to be removed to deprovision the System Group from this Command.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/commands/{Command_ID}/systemgroups \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "command_id",
          "in": "path",
          "description": "ObjectID of the Command.",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/commands/{command_id}/systems": {
      "get": {
        "operationId": "CommandTraverseSystem_List",
        "summary": "List the Systems bound to a Command",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint will return all Systems bound to a Command, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this Command to the corresponding System; this array represents all grouping and/or associations that would have to be removed to deprovision the System from this Command.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/commands/{Command_ID}/systems \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "command_id",
          "in": "path",
          "description": "ObjectID of the Command.",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/directories": {
      "get": {
        "operationId": "Directory_List",
        "summary": "List All Directories",
        "description": "This endpoint returns all active directories (LDAP, O365 Suite, G-Suite).\n\n#### Sample Request\n```\n curl -X GET https://console.jumpcloud.com/api/v2/directories \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:sort:sort"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Directory"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/duo/accounts": {
      "get": {
        "operationId": "DuoAccount_List",
        "summary": "List Duo Acounts",
        "tags": [
          "Duo"
        ],
        "description": "This endpoint returns all the Duo accounts for your organization. Note: There can currently only be one Duo account for your organization.\n\n#### Sample Request\n```\ncurl https://console.jumpcloud.com/api/v2/duo/accounts \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DuoAccount"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "post": {
        "operationId": "DuoAccount_Create",
        "summary": "Create Duo Account",
        "tags": [
          "Duo"
        ],
        "description": "Registers a Duo account for an organization. Only one Duo account will be allowed,\nin case an organization has a Duo account already a 409 (Conflict) code will be returned.\n\n#### Sample Request\n```\n  curl -X POST https://console.jumpcloud.com/api/v2/duo/accounts \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{}'\n```",
        "parameters": [],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DuoAccount"
            }
          },
          "400": {
            "$ref": "#/responses/trait:standardErrors:400"
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "403": {
            "$ref": "#/responses/trait:standardErrors:403"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "409": {
            "$ref": "#/responses/trait:standardErrors:409"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/duo/accounts/{account_id}/applications": {
      "get": {
        "operationId": "DuoApplication_List",
        "summary": "List Duo Applications",
        "tags": [
          "Duo"
        ],
        "description": "This endpoint returns all the Duo applications for the specified Duo account. Note: There can currently only be one Duo application for your organization.\n\n#### Sample Request\n```\n  curl https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DuoApplication"
              }
            }
          },
          "400": {
            "$ref": "#/responses/trait:standardErrors:400"
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "403": {
            "$ref": "#/responses/trait:standardErrors:403"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "409": {
            "$ref": "#/responses/trait:standardErrors:409"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "account_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "operationId": "DuoApplication_Create",
        "summary": "Create Duo Application",
        "tags": [
          "Duo"
        ],
        "description": "Creates a Duo application for your organization and the specified account.\n\n#### Sample Request\n```\n  curl -X POST https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"name\": \"Application Name\",\n    \"apiHost\": \"api-1234.duosecurity.com\",\n    \"integrationKey\": \"1234\",\n    \"secretKey\": \"5678\"\n  }'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/DuoApplicationReq"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DuoApplication"
            }
          },
          "400": {
            "$ref": "#/responses/trait:standardErrors:400"
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "403": {
            "$ref": "#/responses/trait:standardErrors:403"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "409": {
            "$ref": "#/responses/trait:standardErrors:409"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/duo/accounts/{account_id}/applications/{application_id}": {
      "delete": {
        "operationId": "DuoApplication_Delete",
        "summary": "Delete a Duo Application",
        "tags": [
          "Duo"
        ],
        "description": "Deletes the specified Duo application, an error will be returned if the application is used in a protected resource.\n\n#### Sample Request\n```\n  curl -X DELETE https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications/{APPLICATION_ID} \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}''\n```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DuoApplication"
            }
          },
          "400": {
            "$ref": "#/responses/trait:standardErrors:400"
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "403": {
            "$ref": "#/responses/trait:standardErrors:403"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "409": {
            "$ref": "#/responses/trait:standardErrors:409"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "get": {
        "operationId": "DuoApplication_Get",
        "summary": "Get a Duo application",
        "tags": [
          "Duo"
        ],
        "description": "This endpoint returns a specific Duo application that is associated with the specified Duo account.\n\n#### Sample Request\n```\n  curl https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications/{APPLICATION_ID} \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DuoApplication"
            }
          },
          "400": {
            "$ref": "#/responses/trait:standardErrors:400"
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "403": {
            "$ref": "#/responses/trait:standardErrors:403"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "409": {
            "$ref": "#/responses/trait:standardErrors:409"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "account_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "application_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "put": {
        "operationId": "DuoApplication_Update",
        "summary": "Update Duo Application",
        "tags": [
          "Duo"
        ],
        "description": "Updates the specified Duo application.\n\n#### Sample Request\n```\n  curl -X PUT https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications/{APPLICATION_ID} \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"name\": \"Application Name\",\n    \"apiHost\": \"api-1234.duosecurity.com\",\n    \"integrationKey\": \"1234\",\n    \"secretKey\": \"5678\"\n  }'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/DuoApplicationUpdateReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DuoApplication"
            }
          },
          "400": {
            "$ref": "#/responses/trait:standardErrors:400"
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "403": {
            "$ref": "#/responses/trait:standardErrors:403"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "409": {
            "$ref": "#/responses/trait:standardErrors:409"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/duo/accounts/{id}": {
      "delete": {
        "operationId": "DuoAccount_Delete",
        "summary": "Delete a Duo Account",
        "tags": [
          "Duo"
        ],
        "description": "Removes the specified Duo account, an error will be returned if the account has some Duo application used in a protected resource.\n\n#### Sample Request\n```\ncurl -X DELETE https://console.jumpcloud.com/api/v2/duo/accounts/{id} \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DuoAccount"
            }
          },
          "400": {
            "$ref": "#/responses/trait:standardErrors:400"
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "403": {
            "$ref": "#/responses/trait:standardErrors:403"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "409": {
            "$ref": "#/responses/trait:standardErrors:409"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "get": {
        "operationId": "DuoAccount_Get",
        "summary": "Get a Duo Acount",
        "tags": [
          "Duo"
        ],
        "description": "This endpoint returns a specific Duo account.\n\n#### Sample Request\n```\ncurl https://console.jumpcloud.com/api/v2/duo/accounts/{id} \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DuoAccount"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/groups": {
      "get": {
        "operationId": "Group_List",
        "summary": "List All Groups",
        "description": "This endpoint returns all Groups that exist in your organization.\n\n#### Available filter fields:\n  - `name`\n  - `disabled`\n  - `type`\n\n#### Sample Request\n\n```\n  curl -X GET \\\n  https://console.jumpcloud.com/api/v2/groups \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:filter:filter"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:sort:sort"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Group"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/gsuites/{gsuite_id}/associations": {
      "get": {
        "operationId": "GSuiteAssociation_List",
        "summary": "List the associations of a G Suite instance",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint returns the _direct_ associations of this G Suite instance.\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example G Suite and Users.\n\n\n#### Sample Request\n```\ncurl -X GET 'https://console.jumpcloud.com/api/v2/gsuites/{Gsuite_ID}/associations?targets=user_group \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:graphTargets:targets"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphConnection"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "gsuite_id",
          "in": "path",
          "description": "ObjectID of the G Suite instance.",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "operationId": "GSuiteAssociation_Set",
        "summary": "Manage the associations of a G Suite instance",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint returns the _direct_ associations of this G Suite instance.\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example G Suite and Users.\n\n\n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/gsuites/{Gsuite_ID}/associations \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"op\": \"add\",\n    \"type\": \"user_group\",\n    \"id\": \"{Group_ID}\"\n}'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GraphManagementReq"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/gsuites/{gsuite_id}/translationrules": {
      "get": {
        "operationId": "GSuiteTranslationRule_List",
        "summary": "List all the G Suite Translation Rules",
        "description": "This endpoint returns all graph translation rules for a specific G Suite instance. These rules specify how JumpCloud attributes translate to [G Suite Admin SDK](https://developers.google.com/admin-sdk/directory/) attributes.\n\n##### Sample Request\n\n```\n curl -X GET  https://console.jumpcloud.com/api/v2/gsuites/{gsuite_id}/translationrules \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:filter:filter"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:sort:sort"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GSuiteTranslationRule"
              }
            },
            "examples": {
              "application/json": [
                {
                  "id": "object_id_1",
                  "source_type": "user",
                  "field": "g_suite_work_addresses"
                }
              ]
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "gsuite_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "operationId": "GSuiteTranslationRule_Create",
        "summary": "Create a new G Suite Translation Rule",
        "description": "This endpoint allows you to create a translation rule for a specific G Suite instance. These rules specify how JumpCloud attributes translate to [G Suite Admin SDK](https://developers.google.com/admin-sdk/directory/) attributes.\n\n##### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/gsuites/{gsuite_id}/translationrules \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n  {Translation Rule Parameters}\n}'\n\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GSuiteTranslationRuleRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GSuiteTranslationRule"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/gsuites/{gsuite_id}/translationrules/{id}": {
      "delete": {
        "operationId": "GSuiteTranslationRule_Delete",
        "summary": "Deletes a G Suite translation rule",
        "description": "This endpoint allows you to delete a translation rule for a specific G Suite instance. These rules specify how JumpCloud attributes translate to [G Suite Admin SDK](https://developers.google.com/admin-sdk/directory/) attributes.\n\n#### Sample Request\n\n```\ncurl -X DELETE https://console.jumpcloud.com/api/v2/gsuites/{gsuite_id}/translationrules/{id} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "get": {
        "operationId": "GSuiteTranslationRule_Get",
        "summary": "Gets a specific G Suite translation rule",
        "description": "This endpoint returns a specific translation rule for a specific G Suite instance. These rules specify how JumpCloud attributes translate to [G Suite Admin SDK](https://developers.google.com/admin-sdk/directory/) attributes.\n\n###### Sample Request\n\n```\n  curl -X GET https://console.jumpcloud.com/api/v2/gsuites/{gsuite_id}/translationrules/{id} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GSuiteTranslationRule"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "gsuite_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/gsuites/{gsuite_id}/usergroups": {
      "get": {
        "operationId": "GSuiteTraverseUserGroup_List",
        "summary": "List the User Groups bound to a G Suite instance",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint will return all User Groups bound to an G Suite instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the group's type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this G Suite instance to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this G Suite instance.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\n  curl -X GET https://console.jumpcloud.com/api/v2/gsuites/{GSuite_ID}/usergroups \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "gsuite_id",
          "in": "path",
          "description": "ObjectID of the G Suite instance.",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/gsuites/{gsuite_id}/users": {
      "get": {
        "operationId": "GSuiteTraverseUser_List",
        "summary": "List the Users bound to a G Suite instance",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint will return all Users bound to a G Suite instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this G Suite instance to the corresponding User; this array represents all grouping and/or associations that would have to be removed to deprovision the User from this G Suite instance.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\n  curl -X GET https://console.jumpcloud.com/api/v2/gsuites/{Gsuite_ID}/users \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "gsuite_id",
          "in": "path",
          "description": "ObjectID of the G Suite instance.",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/gsuites/{id}": {
      "get": {
        "operationId": "GSuite_Get",
        "summary": "Get G Suite",
        "description": "This endpoint returns a specific G Suite.\n\n##### Sample Request\n\n```\n curl -X GET https://console.jumpcloud.com/api/v2/gsuites/{GSUITE_ID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gsuite-output"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "Unique identifier of the GSuite.",
          "required": true,
          "type": "string"
        }
      ],
      "patch": {
        "operationId": "GSuite_Patch",
        "summary": "Update existing G Suite",
        "description": "This endpoint allows updating some attributes of a G Suite.\n\n##### Sample Request\n\n```\ncurl -X PATCH https://console.jumpcloud.com/api/v2/gsuites/{GSUITE_ID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"userLockoutAction\": \"remove\",\n    \"userPasswordExpirationAction\": \"disable\"\n  }'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/gsuite-patch-input"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gsuite-output"
            }
          }
        }
      }
    },
    "/ldapservers": {
      "get": {
        "operationId": "LdapServer_List",
        "summary": "List LDAP Servers",
        "description": "This endpoint returns the object IDs of your LDAP servers.\n\n\n##### Sample Request\n\n```\n  curl -X GET https://console.jumpcloud.com/api/v2/ldapservers/ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'",
        "parameters": [
          {
            "$ref": "#/parameters/trait:filter:filter"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:sort:sort"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ldap-server-output"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/ldapservers/{id}": {
      "get": {
        "operationId": "LdapServer_Get",
        "summary": "Get LDAP Server",
        "description": "This endpoint returns a specific LDAP server.\n\n##### Sample Request\n\n```\n curl -X GET https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ldap-server-output"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "Unique identifier of the LDAP server.",
          "required": true,
          "type": "string"
        }
      ],
      "patch": {
        "operationId": "LdapServer_Patch",
        "summary": "Update existing LDAP server",
        "description": "This endpoint allows updating some attributes of an LDAP server.\n\nSample Request\n\n```\ncurl -X PATCH https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"userLockoutAction\": \"remove\",\n    \"userPasswordExpirationAction\": \"disable\"\n  }'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "userLockoutAction": {
                  "$ref": "#/definitions/LdapServerAction"
                },
                "userPasswordExpirationAction": {
                  "$ref": "#/definitions/LdapServerAction"
                }
              }
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "userLockoutAction": {
                  "$ref": "#/definitions/LdapServerAction"
                },
                "userPasswordExpirationAction": {
                  "$ref": "#/definitions/LdapServerAction"
                }
              }
            }
          },
          "400": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/ldapservers/{ldapserver_id}/associations": {
      "get": {
        "operationId": "LdapServerAssociation_List",
        "summary": "List the associations of a LDAP Server",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint returns the _direct_ associations of this LDAP Server.\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example LDAP and Users.\n\n#### Sample Request\n\n```\n curl -X GET 'https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/associations?targets=user_group \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:graphTargets:targets"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphConnection"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "ldapserver_id",
          "in": "path",
          "description": "ObjectID of the LDAP Server.",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "operationId": "LdapServerAssociation_Set",
        "summary": "Manage the associations of a LDAP Server",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint allows you to manage the _direct_ associations of a LDAP Server.\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example LDAP and Users.\n\n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/associations \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"op\": \"add\",\n    \"type\": \"user\",\n    \"id\": \"{User_ID}\"\n}'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GraphManagementReq"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/ldapservers/{ldapserver_id}/sambadomains": {
      "get": {
        "operationId": "LdapServerSambaDomain_List",
        "summary": "List Samba Domains",
        "description": "This endpoint returns all samba domains for an LDAP server.\n\n##### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/sambadomains \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string",
            "default": "application/json"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:sort:sort"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/samba-domain-output"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "ldapserver_id",
          "in": "path",
          "description": "Unique identifier of the LDAP server.",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "operationId": "LdapServerSambaDomain_Create",
        "summary": "Create Samba Domain",
        "description": "This endpoint allows you to create a samba domain for an LDAP server.\n\n##### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/sambadomains \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n\"sid\":\"{SID_ID}\",\n\"name\":\"{WORKGROUP_NAME}\"\n}'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/samba-domain-input"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string",
            "default": "application/json"
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/samba-domain-output"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/ldapservers/{ldapserver_id}/sambadomains/{id}": {
      "delete": {
        "operationId": "LdapServerSambaDomain_Delete",
        "summary": "Delete Samba Domain",
        "description": "This endpoint allows you to delete a samba domain from an LDAP server.\n\n##### Sample Request\n```\ncurl -X DELETE https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/sambadomains/{SAMBA_ID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string",
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "get": {
        "operationId": "LdapServerSambaDomain_Get",
        "summary": "Get Samba Domain",
        "description": "This endpoint returns a specific samba domain for an LDAP server.\n\n##### Sample Request\n```\ncurl -X GET \\\n  https://console.jumpcloud.com/api/v2/ldapservers/ldapservers/{LDAP_ID}/sambadomains/{SAMBA_ID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string",
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/samba-domain-output"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "ldapserver_id",
          "in": "path",
          "description": "Unique identifier of the LDAP server.",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "description": "Unique identifier of the samba domain.",
          "required": true,
          "type": "string"
        }
      ],
      "put": {
        "operationId": "LdapServerSambaDomain_Put",
        "summary": "Update Samba Domain",
        "description": "This endpoint allows you to update the samba domain information for an LDAP server.\n\n##### Sample Request\n```\ncurl -X PUT https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/sambadomains/{SAMBA_ID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n\"sid\":\"{SID_ID}\",\n\"name\":\"{WORKGROUP_NAME}\"\n}'\n\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/samba-domain-input"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string",
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/samba-domain-output"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/ldapservers/{ldapserver_id}/usergroups": {
      "get": {
        "operationId": "LdapServerTraverseUserGroup_List",
        "summary": "List the User Groups bound to a LDAP Server",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint will return all Users Groups bound to a LDAP Server, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the group's type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this LDAP server instance to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this LDAP server instance.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/usergroups \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "ldapserver_id",
          "in": "path",
          "description": "ObjectID of the LDAP Server.",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/ldapservers/{ldapserver_id}/users": {
      "get": {
        "operationId": "LdapServerTraverseUser_List",
        "summary": "List the Users bound to a LDAP Server",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint will return all Users bound to an LDAP Server, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this LDAP server instance to the corresponding User; this array represents all grouping and/or associations that would have to be removed to deprovision the User from this LDAP server instance.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/users \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "ldapserver_id",
          "in": "path",
          "description": "ObjectID of the LDAP Server.",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/office365s/{office365_id}/associations": {
      "get": {
        "operationId": "Office365Association_List",
        "summary": "List the associations of an Office 365 instance",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint returns _direct_ associations of an Office 365 instance.\n\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example Office 365 and Users.\n\n#### Sample Request\n```\ncurl -X GET 'https://console.jumpcloud.com/api/v2/office365s/{O365_ID}/associations?targets=user_group \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:graphTargets:targets"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphConnection"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "office365_id",
          "in": "path",
          "description": "ObjectID of the Office 365 instance.",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "operationId": "Office365Association_Set",
        "summary": "Manage the associations of an Office 365 instance",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint allows you to manage the _direct_ associations of a Office 365 instance.\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example Office 365 and Users.\n\n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/office365s/{O365_ID}/associations \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"op\": \"add\",\n    \"type\": \"user_group\",\n    \"id\": \"{Group_ID}\"\n}'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GraphManagementReq"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/office365s/{office365_id}/translationrules": {
      "get": {
        "operationId": "Office365TranslationRule_List",
        "summary": "List all the Office 365 Translation Rules",
        "description": "This endpoint returns all translation rules for a specific Office 365 instance. These rules specify how JumpCloud attributes translate to [Microsoft Graph](https://developer.microsoft.com/en-us/graph) attributes.\n\n##### Sample Request\n\n```\n curl -X GET  https://console.jumpcloud.com/api/v2/office365s/{office365_id}/translationrules \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:filter:filter"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:sort:sort"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Office365TranslationRule"
              }
            },
            "examples": {
              "application/json": [
                {
                  "id": "object_id_1",
                  "source_type": "user",
                  "field": "office_365_state"
                }
              ]
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "office365_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "operationId": "Office365TranslationRule_Create",
        "summary": "Create a new Office 365 Translation Rule",
        "description": "This endpoint allows you to create a translation rule for a specific Office 365 instance. These rules specify how JumpCloud attributes translate to [Microsoft Graph](https://developer.microsoft.com/en-us/graph) attributes.\n\n##### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/office365s/{office365_id}/translationrules \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n  {Translation Rule Parameters}\n}'\n\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Office365TranslationRuleRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Office365TranslationRule"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/office365s/{office365_id}/translationrules/{id}": {
      "delete": {
        "operationId": "Office365TranslationRule_Delete",
        "summary": "Deletes a Office 365 translation rule",
        "description": "This endpoint allows you to delete a translation rule for a specific Office 365 instance. These rules specify how JumpCloud attributes translate to [Microsoft Graph](https://developer.microsoft.com/en-us/graph) attributes.\n\n#### Sample Request\n\n```\ncurl -X DELETE https://console.jumpcloud.com/api/v2/office365s/{office365_id}/translationrules/{id} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "get": {
        "operationId": "Office365TranslationRule_Get",
        "summary": "Gets a specific Office 365 translation rule",
        "description": "This endpoint returns a specific translation rule for a specific Office 365 instance. These rules specify how JumpCloud attributes translate to [Microsoft Graph](https://developer.microsoft.com/en-us/graph) attributes.\n\n###### Sample Request\n\n```\n  curl -X GET https://console.jumpcloud.com/api/v2/office365s/{office365_id}/translationrules/{id} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Office365TranslationRule"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "office365_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/office365s/{office365_id}/usergroups": {
      "get": {
        "operationId": "Office365TraverseUserGroup_List",
        "summary": "List the User Groups bound to an Office 365 instance",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint will return all Users Groups bound to an Office 365 instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the group's type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this Office 365 instance to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this Office 365 instance.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\n  curl -X GET https://console.jumpcloud.com/api/v2/office365s/{O365_ID/usergroups \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "office365_id",
          "in": "path",
          "description": "ObjectID of the Office 365 suite.",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/office365s/{office365_id}/users": {
      "get": {
        "operationId": "Office365TraverseUser_List",
        "summary": "List the Users bound to an Office 365 instance",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint will return all Users bound to an Office 365 instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this Office 365 instance to the corresponding User; this array represents all grouping and/or associations that would have to be removed to deprovision the User from this Office 365 instance.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/office365s/{O365_ID}/users \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "office365_id",
          "in": "path",
          "description": "ObjectID of the Office 365 suite.",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/policies": {
      "get": {
        "operationId": "Policy_List",
        "summary": "Lists all the Policies",
        "description": "This endpoint returns all policies.\n\n##### Sample Request\n\n```\n curl -X GET  https://console.jumpcloud.com/api/v2/policies \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:filter:filter"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:sort:sort"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Policy"
              }
            }
          },
          "500": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "post": {
        "operationId": "Policy_Create",
        "summary": "Create a new Policy",
        "description": "This endpoint allows you to create a policy. Given the amount of configurable parameters required to create a Policy, we suggest you use the JumpCloud Admin Console to create new policies.\n\n##### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/policies \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n  {Policy_Parameters}\n}'\n\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PolicyRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PolicyWithDetails"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/policies/{id}": {
      "delete": {
        "operationId": "Policy_Delete",
        "summary": "Deletes a Policy",
        "description": "This endpoint allows you to delete a policy.\n\n#### Sample Request\n\n```\ncurl -X DELETE https://console.jumpcloud.com/api/v2/policies/5a837ecd232e110d4291e6b9 \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "get": {
        "operationId": "Policy_Get",
        "summary": "Gets a specific Policy.",
        "description": "This endpoint returns a specific policy.\n\n###### Sample Request\n\n```\n  curl -X GET https://console.jumpcloud.com/api/v2/policies/{PolicyID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyWithDetails"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "ObjectID of the Policy object.",
          "required": true,
          "type": "string"
        }
      ],
      "put": {
        "operationId": "Policy_Put",
        "summary": "Update an existing Policy",
        "description": "This endpoint allows you to update a policy. Given the amount of configurable parameters required to update a Policy, we suggest you use the JumpCloud Admin Console to create new policies.\n\n\n##### Sample Request\n```\ncurl -X PUT https://console.jumpcloud.com/api/v2/policies/59fced45c9118022172547ff \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY' \\\n  -d '{\n    {Policy_Parameters}\n}'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PolicyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/policies/{policy_id}/associations": {
      "get": {
        "operationId": "PolicyAssociation_List",
        "summary": "List the associations of a Policy",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint returns the _direct_ associations of a Policy.\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example Policies and Systems.\n\n#### Sample Request\n```\ncurl -X GET 'https://console.jumpcloud.com/api/v2/policies/{Policy_ID}/associations?targets=system_group \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:graphTargets:targets"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphConnection"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "policy_id",
          "in": "path",
          "description": "ObjectID of the Policy.",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "operationId": "PolicyAssociation_Set",
        "summary": "Manage the associations of a Policy",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint allows you to manage the _direct_ associations of a Policy.\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example Policies and Systems.\n\n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/policies/{Policy_ID}/associations/ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"op\": \"add\",\n    \"type\": \"system_group\",\n    \"id\": \"{Group_ID}\"\n}'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GraphManagementReq"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/policies/{policy_id}/policyresults": {
      "get": {
        "operationId": "PolicyResult_List",
        "summary": "Lists all the policy results of a policy.",
        "description": "This endpoint returns all policies results for a specific policy.\n\n##### Sample Request\n\n```\n curl -X GET https://console.jumpcloud.com/api/v2/policies/{Policy_ID}/policyresults \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:filter:filter"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:sort:sort"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PolicyResult"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "policy_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/policies/{policy_id}/policystatuses": {
      "get": {
        "operationId": "PolicyStatus_List",
        "summary": "Lists the latest policy results of a policy.",
        "description": "This endpoint returns the latest policies results for a specific policy.\n\n##### Sample Request\n\n```\n curl -X GET https://console.jumpcloud.com/api/v2/policies/{Policy_ID}/policystatuses \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:filter:filter"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:sort:sort"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PolicyResult"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "policy_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/policies/{policy_id}/systemgroups": {
      "get": {
        "operationId": "PolicyTraverseSystemGroup_List",
        "summary": "List the System Groups bound to a Policy",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint will return all Systems Groups bound to a Policy, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the group's type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this Policy to the corresponding System Group; this array represents all grouping and/or associations that would have to be removed to deprovision the System Group from this Policy.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET  https://console.jumpcloud.com/api/v2/policies/{Policy_ID}/systemgroups \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "policy_id",
          "in": "path",
          "description": "ObjectID of the Command.",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/policies/{policy_id}/systems": {
      "get": {
        "operationId": "PolicyTraverseSystem_List",
        "summary": "List the Systems bound to a Policy",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint will return all Systems bound to a Policy, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this Policy to the corresponding System; this array represents all grouping and/or associations that would have to be removed to deprovision the System from this Policy.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/policies/{Policy_ID}/systems \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "policy_id",
          "in": "path",
          "description": "ObjectID of the Command.",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/policyresults": {
      "get": {
        "operationId": "OrgPolicyResult_List",
        "summary": "Lists all the policy results for an organization.",
        "description": "This endpoint returns all policies results for an organization.\n\n##### Sample Request\n\n```\n curl -X GET https://console.jumpcloud.com/api/v2/policyresults \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:filter:filter"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:sort:sort"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PolicyResult"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/policyresults/{id}": {
      "get": {
        "operationId": "PolicyResult_Get",
        "summary": "Get a specific Policy Result.",
        "description": "This endpoint will return the policy results for a specific policy.\n\n##### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/policyresults/{Policy_ID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyResult"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "ObjectID of the Policy Result.",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/policytemplates": {
      "get": {
        "operationId": "PolicyTemplate_List",
        "summary": "Lists all of the Policy Templates",
        "tags": [
          "Policytemplates"
        ],
        "description": "This endpoint returns all policy templates.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/policytemplates \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:filter:filter"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:sort:sort"
          }
        ],
        "responses": {
          "200": {
[...]
