{
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "JumpCloud APIs",
    "description": " JumpCloud's V2 API. This set of endpoints allows JumpCloud customers to manage objects, groupings and mappings and interact with the JumpCloud Graph."
  },
  "host": "console.jumpcloud.com",
  "basePath": "/api/v2/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "x-api-key": {
      "name": "x-api-key",
      "type": "apiKey",
      "in": "header"
    }
  },
  "paths": {
    "/activedirectories/{activedirectory_id}/users": {
      "parameters": [
        {
          "name": "activedirectory_id",
          "in": "path",
          "description": "ObjectID of the Active Directory instance.",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "List-GraphActiveDirectoryTraverseUser",
        "summary": "List the Users bound to an Active Directory instance",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint will return all Users bound to an Active Directory instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this Active Directory instance to the corresponding User; this array represents all grouping and/or associations that would have to be removed to deprovision the User from this Active Directory instance.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}/users \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:filter:filter"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/users/{user_id}/activedirectories": {
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "description": "ObjectID of the User.",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "List-GraphUserTraverseActiveDirectory",
        "summary": "List the Active Directory instances bound to a User",
        "tags": [
          "Graph"
        ],
        "description": "This endpoint will return all Active Directory Instances bound to a User, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this User to the corresponding Active Directory instance; this array represents all grouping and/or associations that would have to be removed to deprovision the Active Directory instance from this User.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/users/{UserID}/activedirectories \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:filter:filter"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/applemdms": {
      "post": {
        "operationId": "applemdm_post",
        "summary": "Create Apple MDM",
        "tags": [
          "Apple MDM"
        ],
        "description": "Creates an Apple MDM Enrollment for an organization. Only one enrollment per organization will be allowed.  Note that this is the first step in completly setting up an MDM Enrollment.  The user must supply the returned plist to Apple for signing, and then provide the certificate provided by Apple back into the PUT API.\n\n#### Sample Request\n```\n  curl -X POST https://console.jumpcloud.com/api/v2/organizations/{Organization_ID}/mdm \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{}'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name used to identify this AppleMDM."
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AppleMDM"
            }
          },
          "400": {
            "$ref": "#/responses/trait:standardErrors:400"
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "403": {
            "$ref": "#/responses/trait:standardErrors:403"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "409": {
            "$ref": "#/responses/trait:standardErrors:409"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "get": {
        "operationId": "applemdm_list",
        "summary": "List Apple MDMs",
        "tags": [
          "Apple MDM"
        ],
        "description": "Get a list of all Apple MDM configurations.  An empty topic indicates that a signed certificate from Apple has not been provided to the PUT endpoint yet.\n\nNote: currently only one MDM configuration per organization is supported.\n\n#### Sample Request\n```\ncurl https://console.jumpcloud.com/api/v2/applemdms \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AppleMDM"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/applemdms/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "operationId": "applemdm_delete",
        "summary": "Delete an Apple MDM",
        "tags": [
          "Apple MDM"
        ],
        "description": "Removes an Apple MDM configuration.\n\nWarning: This is a destructive operation and will remove your Apple Push Certificates.  We will no longer be able to manage your devices and the only recovery option is to re-register all devices into MDM.\n\n#### Sample Request\n```\ncurl -X DELETE https://console.jumpcloud.com/api/v2/applemdms/{id} \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AppleMDM"
            }
          },
          "400": {
            "$ref": "#/responses/trait:standardErrors:400"
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "403": {
            "$ref": "#/responses/trait:standardErrors:403"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "409": {
            "$ref": "#/responses/trait:standardErrors:409"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "put": {
        "operationId": "applemdm_put",
        "summary": "Update an Apple MDM",
        "tags": [
          "Apple MDM"
        ],
        "description": "Updates an Apple MDM configuration.  This endpoint is used to supply JumpCloud with a signed certificate from Apple in order to finalize the setup and allow JumpCloud to manage your devices.\n\n#### Sample Request\n```\n  curl -X PUT https://console.jumpcloud.com/api/v2/applemdms/{ID} \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"name\": \"MDM name\",\n    \"appleSignedCert\": \"{CERTIFICATE}\"\n  }'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/apple-mdm-patch-input"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AppleMDM"
            }
          },
          "400": {
            "$ref": "#/responses/trait:standardErrors:400"
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "403": {
            "$ref": "#/responses/trait:standardErrors:403"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "409": {
            "$ref": "#/responses/trait:standardErrors:409"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/organizations/{id}/crypto": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "put": {
        "operationId": "Put-OrgCrypto",
        "summary": "Edit Crypto Settings",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/org-crypto-settings"
            }
          },
          {
            "$ref": "#/parameters/trait:fields:fields"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:sort:sort"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "get": {
        "operationId": "Get-OrgCrypto",
        "summary": "Get Crypto Settings",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/trait:fields:fields"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:sort:sort"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/org-crypto-settings"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/activedirectories/{activedirectory_id}/associations": {
      "parameters": [
        {
          "name": "activedirectory_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "operationId": "Set-GraphActiveDirectoryAssociation",
        "summary": "Manage the associations of an Active Directory instance",
        "tags": [
          "Graph",
          "Active Directory"
        ],
        "description": "This endpoint allows you to manage the _direct_ associations of an Active Directory instance.\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example Active Directory and Users.\n\n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/activedirectories/{AD_Instance_ID}/associations \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n        \"op\": \"add\",\n        \"type\": \"user\",\n        \"id\": \"{User_ID}\"\n}\n'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GraphManagementReq"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "get": {
        "operationId": "List-GraphActiveDirectoryAssociation",
        "summary": "List the associations of an Active Directory instance",
        "tags": [
          "Graph",
          "Active Directory"
        ],
        "description": "This endpoint returns the direct associations of this Active Directory instance.\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example Active Directory and Users.\n\n\n#### Sample Request\n```\ncurl -X GET 'https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}/associations?targets=user \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:graphTargets:targets"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphConnection"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/activedirectories": {
      "post": {
        "operationId": "Create-ActiveDirectory",
        "summary": "Create a new Active Directory",
        "tags": [
          "Active Directory"
        ],
        "description": "This endpoint allows you to create a new Active Directory.\n\n\n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/activedirectories/ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n        \"domain\": \"{DC=AD_domain_name;DC=com}\"\n}\n'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/active-directory-input"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/active-directory-output"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "get": {
        "operationId": "List-ActiveDirectory",
        "summary": "List Active Directories",
        "tags": [
          "Active Directory"
        ],
        "description": "This endpoint allows you to list all your Active Directory Instances.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:fields:fields"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:sort:sort"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/active-directory-output"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/activedirectories/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "ObjectID of this Active Directory instance.",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "operationId": "Delete-ActiveDirectory",
        "summary": "Delete an Active Directory",
        "tags": [
          "Active Directory"
        ],
        "description": "This endpoint allows you to delete an Active Directory Instance.\n\n#### Sample Request\n```\ncurl -X DELETE https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID} \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY'\n  ```",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "get": {
        "operationId": "Get-ActiveDirectory",
        "summary": "Get an Active Directory",
        "tags": [
          "Active Directory"
        ],
        "description": "This endpoint returns a specific Active Directory.\n\n#### Sample Request\n\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID} \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/active-directory-output"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/activedirectories/{activedirectory_id}/usergroups": {
      "parameters": [
        {
          "name": "activedirectory_id",
          "in": "path",
          "description": "ObjectID of the Active Directory instance.",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "List-GraphActiveDirectoryTraverseUserGroup",
        "summary": "List the User Groups bound to an Active Directory instance",
        "tags": [
          "Graph",
          "Active Directory"
        ],
        "description": "This endpoint will return all Users Groups bound to an Active Directory instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the group's type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this Active Directory instance to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this Active Directory instance.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}/usergroups \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/activedirectories/{activedirectory_id}/agents": {
      "parameters": [
        {
          "name": "activedirectory_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "List-ActiveDirectoryAgent",
        "summary": "List Active Directory Agents",
        "tags": [
          "Active Directory"
        ],
        "description": "This endpoint allows you to list all your Active Directory Agents for a given Instance.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:sort:sort"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/active-directory-agent-list-output"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "post": {
        "operationId": "Create-ActiveDirectoryAgent",
        "summary": "Create a new Active Directory Agent",
        "tags": [
          "Active Directory"
        ],
        "description": "This endpoint allows you to create a new Active Directory Agent.\n\n\n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{}'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/active-directory-agent-input"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/active-directory-agent-get-output"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/activedirectories/{activedirectory_id}/agents/{agent_id}": {
      "parameters": [
        {
          "name": "activedirectory_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "agent_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "Get-ActiveDirectoryAgent",
        "summary": "Get Active Directory Agent",
        "tags": [
          "Active Directory"
        ],
        "description": "This endpoint returns a specific active directory agent.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents/{agent_id} \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/active-directory-agent-list-output"
            }
          }
        }
      },
      "delete": {
        "operationId": "Delete-ActiveDirectoryAgent",
        "summary": "Delete Active Directory Agent",
        "tags": [
          "Active Directory"
        ],
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/applications/{application_id}/associations": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "description": "ObjectID of the Application.",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "operationId": "Set-GraphApplicationAssociation",
        "summary": "Manage the associations of an Application",
        "tags": [
          "Graph",
          "Applications"
        ],
        "description": "This endpoint allows you to manage the _direct_ associations of an Application. A direct association can be a non-homogeneous relationship between 2 different objects, for example Application and User Groups.\n\n#### Sample Request\n```\ncurl -X POST 'https://console.jumpcloud.com/api/v2/applications/{Application_ID}/associations' \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"op\": \"add\",\n    \"type\": \"user_group\",\n    \"id\": \"{Group_ID}\"\n}'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GraphManagementReq"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "get": {
        "operationId": "List-GraphApplicationAssociation",
        "summary": "List the associations of an Application",
        "tags": [
          "Graph",
          "Applications"
        ],
        "description": "This endpoint will return the _direct_ associations of an Application. A direct association can be a non-homogeneous relationship between 2 different objects, for example Applications and User Groups.\n\n\n#### Sample Request\n```\ncurl -X GET 'https://console.jumpcloud.com/api/v2/applications/{Application_ID}/associations?targets=user_group \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:graphTargets:targets"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphConnection"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "x-swagger-jumpcloud-auto-insert": true
    },
    "/applications/{application_id}/users": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "description": "ObjectID of the Application.",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "List-GraphApplicationTraverseUser",
        "summary": "List the Users bound to an Application",
        "tags": [
          "Graph",
          "Applications"
        ],
        "description": "This endpoint will return all Users bound to an Application, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this Application to the corresponding User; this array represents all grouping and/or associations that would have to be removed to deprovision the User from this Application.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/applications/{Application_ID}/users \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/applications/{application_id}/usergroups": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "description": "ObjectID of the Application.",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "List-GraphApplicationTraverseUserGroup",
        "summary": "List the User Groups bound to an Application",
        "tags": [
          "Graph",
          "Applications"
        ],
        "description": "This endpoint will return all Users Groups bound to an Application, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the group's type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates  each path from this Application to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this Application.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/applications/{Application_ID}/usergroups \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/bulk/users/{job_id}/results": {
      "parameters": [
        {
          "name": "job_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "Create-BulkUserJobResults",
        "summary": "List Bulk Users Results",
        "tags": [
          "Bulk Job Requests"
        ],
        "description": "This endpoint will return the results of particular user import or update job request.\n\n#### Sample Request\n```\ncurl -X GET \\\n  https://console.jumpcloud.com/api/v2/bulk/users/{ImportJobID}/results \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/job-workresult"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/bulk/users": {
      "post": {
        "operationId": "Create-BulkUserJob",
        "summary": "Bulk Users Create",
        "tags": [
          "Bulk Job Requests"
        ],
        "description": "The endpoint allows you to create a bulk job to asynchronously create users. See [Create a System User](https://docs.jumpcloud.com/1.0/systemusers/create-a-system-user) for full list of attributes.\n\n#### Sample Request \n```\ncurl -X POST https://console.jumpcloud.com/api/v2/bulk/users \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '[\n\t{\n\t\t\"email\":\"{email}\",\n\t\t\"firstname\":\"{firstname}\",\n\t\t\"lastname\":\"{firstname}\",\n\t\t\"username\":\"{username}\",\n\t\t\"attributes\":[\n\t\t\t{\"name\":\"EmployeeID\",\"value\":\"0000\"},\n\t\t\t{\"name\":\"Custom\",\"value\":\"attribute\"}\n\t\t]\n\t}\n]\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/bulk-user-create"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/job-id"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "patch": {
        "operationId": "Update-BulkUsers",
        "summary": "Bulk Users Update",
        "tags": [
          "Bulk Job Requests"
        ],
        "description": "The endpoint allows you to create a bulk job to asynchronously update users. See [Update a System User](https://docs.jumpcloud.com/1.0/systemusers/update-a-system-user) for full list of attributes.\n\n#### Sample Request \n```\ncurl -X PATCH https://console.jumpcloud.com/api/v2/bulk/users \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '[\n\t{\n\t  \"id\":\"5be9fb4ddb01290001e85109\",\n\t\t\"firstname\":\"{UPDATED_FIRSTNAME}\",\n\t\t\"department\":\"{UPDATED_DEPARTMENT}\",\n\t\t\"attributes\":[\n\t\t\t{\"name\":\"Custom\",\"value\":\"{ATTRIBUTE_VALUE}\"}\n\t\t]\n\t},\n\t{\n\t  \"id\":\"5be9fb4ddb01290001e85109\",\n\t\t\"firstname\":\"{UPDATED_FIRSTNAME}\",\n\t\t\"costCenter\":\"{UPDATED_COST_CENTER}\",\n\t\t\"phoneNumbers\":[\n\t\t\t{\"type\":\"home\",\"number\":\"{HOME_PHONE_NUMBER}\"},\n\t\t\t{\"type\":\"work\",\"number\":\"{WORK_PHONE_NUMBER}\"}\n\t\t]\n\t}\n]\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/bulk-user-update"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/job-id"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/jobs/{id}/results": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "List-JobResult",
        "summary": "List Job Results",
        "tags": [
          "Bulk Job Requests"
        ],
        "description": "This endpoint will return the results of particular import job request.\n\n#### Sample Request\n```\ncurl -X GET \\\n  https://console.jumpcloud.com/api/v2/jobs/{ImportJobID}/results \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/job-workresult"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/jobs/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "Get-Job",
        "summary": "Get Job (incomplete)",
        "tags": [
          "Bulk Job Requests"
        ],
        "description": "**This endpoint is not complete and should remain hidden as it's not functional yet.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/job-details"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/commands/{command_id}/associations": {
      "parameters": [
        {
          "name": "command_id",
          "in": "path",
          "description": "ObjectID of the Command.",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "operationId": "Set-GraphCommandAssociation",
        "summary": "Manage the associations of a Command",
        "tags": [
          "Graph",
          "Commands"
        ],
        "description": "This endpoint will allow you to manage the _direct_ associations of this Command.\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example Commands and User Groups.\n\n\n#### Sample Request\n```\n curl -X POST https://console.jumpcloud.com/api/v2/commands/{Command_ID}/associations \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"op\": \"add\",\n    \"type\": \"system_group\",\n    \"id\": \"Group_ID\"\n}'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GraphManagementReq"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "get": {
        "operationId": "List-GraphCommandAssociation",
        "summary": "List the associations of a Command",
        "tags": [
          "Graph",
          "Commands"
        ],
        "description": "This endpoint will return the _direct_ associations of this Command.\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example Commands and User Groups.\n\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/commands/{Command_ID}/associations?targets=system_group \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:graphTargets:targets"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphConnection"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "x-swagger-jumpcloud-auto-insert": true
    },
    "/commands/{command_id}/systems": {
      "parameters": [
        {
          "name": "command_id",
          "in": "path",
          "description": "ObjectID of the Command.",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "List-GraphCommandTraverseSystem",
        "summary": "List the Systems bound to a Command",
        "tags": [
          "Graph",
          "Commands"
        ],
        "description": "This endpoint will return all Systems bound to a Command, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this Command to the corresponding System; this array represents all grouping and/or associations that would have to be removed to deprovision the System from this Command.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/commands/{Command_ID}/systems \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/commands/{command_id}/systemgroups": {
      "parameters": [
        {
          "name": "command_id",
          "in": "path",
          "description": "ObjectID of the Command.",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "List-GraphCommandTraverseSystemGroup",
        "summary": "List the System Groups bound to a Command",
        "tags": [
          "Graph",
          "Commands"
        ],
        "description": "This endpoint will return all System Groups bound to a Command, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the group's type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this Command to the corresponding System Group; this array represents all grouping and/or associations that would have to be removed to deprovision the System Group from this Command.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/commands/{Command_ID}/systemgroups \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/directories": {
      "get": {
        "operationId": "List-Directory",
        "summary": "List All Directories",
        "tags": [
          "Directories"
        ],
        "description": "This endpoint returns all active directories (LDAP, O365 Suite, G-Suite).\n\n#### Sample Request\n```\n curl -X GET https://console.jumpcloud.com/api/v2/directories \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:fields:fields"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:sort:sort"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Directory"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/duo/accounts": {
      "post": {
        "operationId": "Create-DuoAccount",
        "summary": "Create Duo Account",
        "tags": [
          "Duo"
        ],
        "description": "Registers a Duo account for an organization. Only one Duo account will be allowed,\nin case an organization has a Duo account already a 409 (Conflict) code will be returned.\n\n#### Sample Request\n```\n  curl -X POST https://console.jumpcloud.com/api/v2/duo/accounts \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{}'\n```",
        "parameters": [],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DuoAccount"
            }
          },
          "400": {
            "$ref": "#/responses/trait:standardErrors:400"
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "403": {
            "$ref": "#/responses/trait:standardErrors:403"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "409": {
            "$ref": "#/responses/trait:standardErrors:409"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "get": {
        "operationId": "List-DuoAccount",
        "summary": "List Duo Acounts",
        "tags": [
          "Duo"
        ],
        "description": "#### Sample Request\n```\ncurl https://console.jumpcloud.com/api/v2/duo/accounts \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DuoAccount"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/duo/accounts/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "ObjectID of the Duo Account",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "Get-DuoAccount",
        "summary": "Get a Duo Acount",
        "tags": [
          "Duo"
        ],
        "description": "#### Sample Request\n```\ncurl https://console.jumpcloud.com/api/v2/duo/accounts/{id} \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DuoAccount"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "delete": {
        "operationId": "Delete-DuoAccount",
        "summary": "Delete a Duo Account",
        "tags": [
          "Duo"
        ],
        "description": "Removes a Duo account, an error will be returned if the account has some Duo application used in a protected resource.\n\n#### Sample Request\n```\ncurl -X DELETE https://console.jumpcloud.com/api/v2/duo/accounts/{id} \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DuoAccount"
            }
          },
          "400": {
            "$ref": "#/responses/trait:standardErrors:400"
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "403": {
            "$ref": "#/responses/trait:standardErrors:403"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "409": {
            "$ref": "#/responses/trait:standardErrors:409"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        }
      }
    },
    "/duo/accounts/{account_id}/applications": {
      "parameters": [
        {
          "name": "account_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "operationId": "Create-DuoApplication",
        "summary": "Create Duo Application",
        "tags": [
          "Duo"
        ],
        "description": "Creates a Duo application for an organization and its account.\n\n#### Sample Request\n```\n  curl -X POST https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"name\": \"Application Name\",\n    \"apiHost\": \"api-1234.duosecurity.com\",\n    \"integrationKey\": \"1234\",\n    \"secretKey\": \"5678\"\n  }'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/DuoApplicationReq"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DuoApplication"
            }
          },
          "400": {
            "$ref": "#/responses/trait:standardErrors:400"
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "403": {
            "$ref": "#/responses/trait:standardErrors:403"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "409": {
            "$ref": "#/responses/trait:standardErrors:409"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        }
      },
      "get": {
        "operationId": "List-DuoApplication",
        "summary": "List Duo Applications",
        "tags": [
          "Duo"
        ],
        "description": "List all Duo applications for an account.\n\n#### Sample Request\n```\n  curl https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DuoApplication"
              }
            }
          },
          "400": {
            "$ref": "#/responses/trait:standardErrors:400"
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "403": {
            "$ref": "#/responses/trait:standardErrors:403"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "409": {
            "$ref": "#/responses/trait:standardErrors:409"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        }
      }
    },
    "/duo/accounts/{account_id}/applications/{application_id}": {
      "parameters": [
        {
          "name": "account_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "application_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "Get-DuoApplication",
        "summary": "Get a Duo application",
        "tags": [
          "Duo"
        ],
        "description": "Gets a Duo application.\n\n#### Sample Request\n```\n  curl https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications/{APPLICATION_ID} \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DuoApplication"
            }
          },
          "400": {
            "$ref": "#/responses/trait:standardErrors:400"
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "403": {
            "$ref": "#/responses/trait:standardErrors:403"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "409": {
            "$ref": "#/responses/trait:standardErrors:409"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        }
      },
      "delete": {
        "operationId": "Delete-DuoApplication",
        "summary": "Delete a Duo Application",
        "tags": [
          "Duo"
        ],
        "description": "Deletes a Duo application, an error will be returned if the application is used in a protected resource.\n\n#### Sample Request\n```\n  curl -X DELETE https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications/{APPLICATION_ID} \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}''\n```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DuoApplication"
            }
          },
          "400": {
            "$ref": "#/responses/trait:standardErrors:400"
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "403": {
            "$ref": "#/responses/trait:standardErrors:403"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "409": {
            "$ref": "#/responses/trait:standardErrors:409"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        }
      },
      "put": {
        "operationId": "Update-DuoApplication",
        "summary": "Update Duo Application",
        "tags": [
          "Duo"
        ],
        "description": "Updates a Duo application.\n\n#### Sample Request\n```\n  curl -X PUT https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"name\": \"Application Name\",\n    \"apiHost\": \"api-1234.duosecurity.com\",\n    \"secretKey\": \"5678\"\n  }'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/DuoApplicationUpdateReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DuoApplication"
            }
          },
          "400": {
            "$ref": "#/responses/trait:standardErrors:400"
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "403": {
            "$ref": "#/responses/trait:standardErrors:403"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "409": {
            "$ref": "#/responses/trait:standardErrors:409"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        }
      }
    },
    "/groups": {
      "get": {
        "operationId": "List-Group",
        "summary": "List All Groups",
        "tags": [
          "Groups"
        ],
        "description": "This endpoint returns all Groups that exist in your organization.\n\n#### Available filter fields:\n  - `name`\n  - `disabled`\n  - `type`\n\n#### Sample Request\n\n```\n  curl -X GET \\\n  https://console.jumpcloud.com/api/v2/groups \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:fields:fields"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:sort:sort"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Group"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/gsuites/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "Unique identifier of the GSuite.",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "Get-GSuite",
        "summary": "Get G Suite",
        "tags": [
          "G Suite"
        ],
        "description": "This endpoint returns a specific G Suite.\n\n##### Sample Request\n\n```\n curl -X GET https://console.jumpcloud.com/api/v2/gsuites/{GSUITE_ID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gsuite-output"
            }
          }
        }
      },
      "patch": {
        "operationId": "Patch-GSuite",
        "summary": "Update existing G Suite",
        "tags": [
          "G Suite"
        ],
        "description": "This endpoint allows updating some attributes of a G Suite.\n\n##### Sample Request\n\n```\ncurl -X PATCH https://console.jumpcloud.com/api/v2/gsuites/{GSUITE_ID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"userLockoutAction\": \"remove\",\n    \"userPasswordExpirationAction\": \"disable\"\n  }'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/gsuite-patch-input"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gsuite-output"
            }
          }
        }
      }
    },
    "/gsuites/{gsuite_id}/associations": {
      "parameters": [
        {
          "name": "gsuite_id",
          "in": "path",
          "description": "ObjectID of the G Suite instance.",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "operationId": "Set-GraphGSuiteAssociation",
        "summary": "Manage the associations of a G Suite instance",
        "tags": [
          "Graph",
          "G Suite"
        ],
        "description": "This endpoint returns the _direct_ associations of this G Suite instance.\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example G Suite and Users.\n\n\n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/gsuites/{Gsuite_ID}/associations \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"op\": \"add\",\n    \"type\": \"user_group\",\n    \"id\": \"{Group_ID}\"\n}'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GraphManagementReq"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "get": {
        "operationId": "List-GraphGSuiteAssociation",
        "summary": "List the associations of a G Suite instance",
        "tags": [
          "Graph",
          "G Suite"
        ],
        "description": "This endpoint returns the _direct_ associations of this G Suite instance.\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example G Suite and Users.\n\n\n#### Sample Request\n```\ncurl -X GET 'https://console.jumpcloud.com/api/v2/gsuites/{Gsuite_ID}/associations?targets=user_group \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:graphTargets:targets"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphConnection"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "x-swagger-jumpcloud-auto-insert": true
    },
    "/gsuites/{gsuite_id}/users": {
      "parameters": [
        {
          "name": "gsuite_id",
          "in": "path",
          "description": "ObjectID of the G Suite instance.",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "List-GraphGSuiteTraverseUser",
        "summary": "List the Users bound to a G Suite instance",
        "tags": [
          "Graph",
          "G Suite"
        ],
        "description": "This endpoint will return all Users bound to a G Suite instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this G Suite instance to the corresponding User; this array represents all grouping and/or associations that would have to be removed to deprovision the User from this G Suite instance.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\n  curl -X GET https://console.jumpcloud.com/api/v2/gsuites/{Gsuite_ID}/users \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/gsuites/{gsuite_id}/usergroups": {
      "parameters": [
        {
          "name": "gsuite_id",
          "in": "path",
          "description": "ObjectID of the G Suite instance.",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "List-GraphGSuiteTraverseUserGroup",
        "summary": "List the User Groups bound to a G Suite instance",
        "tags": [
          "Graph",
          "G Suite"
        ],
        "description": "This endpoint will return all User Groups bound to an G Suite instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the group's type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this G Suite instance to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this G Suite instance.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\n  curl -X GET https://console.jumpcloud.com/api/v2/gsuites/{GSuite_ID}/usergroups \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/gsuites/{gsuite_id}/translationrules": {
      "parameters": [
        {
          "name": "gsuite_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "List-TranslationRuleGSuite",
        "summary": "List all the G Suite Translation Rules",
        "tags": [
          "G Suite"
        ],
        "description": "This endpoint returns all graph translation rules for a specific G Suite instance. These rules specify how JumpCloud attributes translate to [G Suite Admin SDK](https://developers.google.com/admin-sdk/directory/) attributes.\n\n##### Sample Request\n\n```\n curl -X GET  https://console.jumpcloud.com/api/v2/gsuites/{gsuite_id}/translationrules \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:fields:fields"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:sort:sort"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GSuiteTranslationRule"
              }
            },
            "examples": {
              "application/json": [
                {
                  "id": "object_id_1",
                  "source_type": "user",
                  "field": "g_suite_work_addresses"
                }
              ]
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "post": {
        "operationId": "Create-TranslationRuleGSuite",
        "summary": "Create a new G Suite Translation Rule",
        "tags": [
          "G Suite"
        ],
        "description": "This endpoint allows you to create a translation rule for a specific G Suite instance. These rules specify how JumpCloud attributes translate to [G Suite Admin SDK](https://developers.google.com/admin-sdk/directory/) attributes.\n\n##### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/gsuites/{gsuite_id}/translationrules \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n  {Translation Rule Parameters}\n}'\n\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GSuiteTranslationRuleRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GSuiteTranslationRule"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/gsuites/{gsuite_id}/translationrules/{id}": {
      "parameters": [
        {
          "name": "gsuite_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "Get-TranslationRuleGSuite",
        "summary": "Gets a specific G Suite translation rule",
        "tags": [
          "G Suite"
        ],
        "description": "This endpoint returns a specific translation rule for a specific G Suite instance. These rules specify how JumpCloud attributes translate to [G Suite Admin SDK](https://developers.google.com/admin-sdk/directory/) attributes.\n\n###### Sample Request\n\n```\n  curl -X GET https://console.jumpcloud.com/api/v2/gsuites/{gsuite_id}/translationrules/{id} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GSuiteTranslationRule"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "delete": {
        "operationId": "Delete-TranslationRuleGSuite",
        "summary": "Deletes a G Suite translation rule",
        "tags": [
          "G Suite"
        ],
        "description": "This endpoint allows you to delete a translation rule for a specific G Suite instance. These rules specify how JumpCloud attributes translate to [G Suite Admin SDK](https://developers.google.com/admin-sdk/directory/) attributes.\n\n#### Sample Request\n\n```\ncurl -X DELETE https://console.jumpcloud.com/api/v2/gsuites/{gsuite_id}/translationrules/{id} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/ldapservers/{ldapserver_id}/associations": {
      "parameters": [
        {
          "name": "ldapserver_id",
          "in": "path",
          "description": "ObjectID of the LDAP Server.",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "operationId": "Set-GraphLdapServerAssociation",
        "summary": "Manage the associations of a LDAP Server",
        "tags": [
          "Graph",
          "LDAP Servers"
        ],
        "description": "This endpoint allows you to manage the _direct_ associations of a LDAP Server.\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example LDAP and Users.\n\n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/associations \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"op\": \"add\",\n    \"type\": \"user\",\n    \"id\": \"{User_ID}\"\n}'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GraphManagementReq"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "get": {
        "operationId": "List-GraphLdapServerAssociation",
        "summary": "List the associations of a LDAP Server",
        "tags": [
          "Graph",
          "LDAP Servers"
        ],
        "description": "This endpoint returns the _direct_ associations of this LDAP Server.\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example LDAP and Users.\n\n#### Sample Request\n\n```\n curl -X GET 'https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/associations?targets=user_group \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:graphTargets:targets"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphConnection"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "x-swagger-jumpcloud-auto-insert": true
    },
    "/ldapservers/{ldapserver_id}/users": {
      "parameters": [
        {
          "name": "ldapserver_id",
          "in": "path",
          "description": "ObjectID of the LDAP Server.",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "List-GraphLdapServerTraverseUser",
        "summary": "List the Users bound to a LDAP Server",
        "tags": [
          "Graph",
          "LDAP Servers"
        ],
        "description": "This endpoint will return all Users bound to an LDAP Server, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this LDAP server instance to the corresponding User; this array represents all grouping and/or associations that would have to be removed to deprovision the User from this LDAP server instance.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/users \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/ldapservers/{ldapserver_id}/usergroups": {
      "parameters": [
        {
          "name": "ldapserver_id",
          "in": "path",
          "description": "ObjectID of the LDAP Server.",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "List-GraphLdapServerTraverseUserGroup",
        "summary": "List the User Groups bound to a LDAP Server",
        "tags": [
          "Graph",
          "LDAP Servers"
        ],
        "description": "This endpoint will return all Users Groups bound to a LDAP Server, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the group's type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this LDAP server instance to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this LDAP server instance.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/usergroups \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/ldapservers": {
      "get": {
        "operationId": "List-LdapServer",
        "summary": "List LDAP Servers",
        "tags": [
          "LDAP Servers"
        ],
        "description": "This endpoint returns the object IDs of your LDAP servers.\n\n\n##### Sample Request\n\n```\n  curl -X GET https://console.jumpcloud.com/api/v2/ldapservers/ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'",
        "parameters": [
          {
            "$ref": "#/parameters/trait:fields:fields"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:sort:sort"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ldap-server-output"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/ldapservers/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "Unique identifier of the LDAP server.",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "Get-LdapServer",
        "summary": "Get LDAP Server",
        "tags": [
          "LDAP Servers"
        ],
        "description": "This endpoint returns a specific LDAP server.\n\n##### Sample Request\n\n```\n curl -X GET https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ldap-server-output"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "patch": {
        "operationId": "Patch-LdapServer",
        "summary": "Update existing LDAP server",
        "tags": [
          "LDAP Servers"
        ],
        "description": "This endpoint allows updating some attributes of an LDAP server.\n\nSample Request\n\n```\ncurl -X PATCH https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"userLockoutAction\": \"remove\",\n    \"userPasswordExpirationAction\": \"disable\"\n  }'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "userLockoutAction": {
                  "$ref": "#/definitions/LdapServerAction"
                },
                "userPasswordExpirationAction": {
                  "$ref": "#/definitions/LdapServerAction"
                }
              }
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "userLockoutAction": {
                  "$ref": "#/definitions/LdapServerAction"
                },
                "userPasswordExpirationAction": {
                  "$ref": "#/definitions/LdapServerAction"
                }
              }
            }
          },
          "400": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/office365s/{office365_id}/associations": {
      "parameters": [
        {
          "name": "office365_id",
          "in": "path",
          "description": "ObjectID of the Office 365 instance.",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "operationId": "Set-GraphOffice365Association",
        "summary": "Manage the associations of an Office 365 instance",
        "tags": [
          "Graph",
          "Office 365"
        ],
        "description": "This endpoint allows you to manage the _direct_ associations of a Office 365 instance.\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example Office 365 and Users.\n\n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/office365s/{O365_ID}/associations \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"op\": \"add\",\n    \"type\": \"user_group\",\n    \"id\": \"{Group_ID}\"\n}'\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GraphManagementReq"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "get": {
        "operationId": "List-GraphOffice365Association",
        "summary": "List the associations of an Office 365 instance",
        "tags": [
          "Graph",
          "Office 365"
        ],
        "description": "This endpoint returns _direct_ associations of an Office 365 instance.\n\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example Office 365 and Users.\n\n#### Sample Request\n```\ncurl -X GET 'https://console.jumpcloud.com/api/v2/office365s/{O365_ID}/associations?targets=user_group \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:graphTargets:targets"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphConnection"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "x-swagger-jumpcloud-auto-insert": true
    },
    "/office365s/{office365_id}/users": {
      "parameters": [
        {
          "name": "office365_id",
          "in": "path",
          "description": "ObjectID of the Office 365 suite.",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "List-GraphOffice365TraverseUser",
        "summary": "List the Users bound to an Office 365 instance",
        "tags": [
          "Graph",
          "Office 365"
        ],
        "description": "This endpoint will return all Users bound to an Office 365 instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this Office 365 instance to the corresponding User; this array represents all grouping and/or associations that would have to be removed to deprovision the User from this Office 365 instance.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/office365s/{O365_ID}/users \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/office365s/{office365_id}/usergroups": {
      "parameters": [
        {
          "name": "office365_id",
          "in": "path",
          "description": "ObjectID of the Office 365 suite.",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "List-GraphOffice365TraverseUserGroup",
        "summary": "List the User Groups bound to an Office 365 instance",
        "tags": [
          "Graph",
          "Office 365"
        ],
        "description": "This endpoint will return all Users Groups bound to an Office 365 instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the group's type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this Office 365 instance to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this Office 365 instance.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\n  curl -X GET https://console.jumpcloud.com/api/v2/office365s/{O365_ID/usergroups \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraphObjectWithPaths"
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/office365s/{office365_id}/translationrules": {
      "parameters": [
        {
          "name": "office365_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "List-TranslationRuleOffice365",
        "summary": "List all the Office 365 Translation Rules",
        "tags": [
          "Office 365"
        ],
        "description": "This endpoint returns all translation rules for a specific Office 365 instance. These rules specify how JumpCloud attributes translate to [Microsoft Graph](https://developer.microsoft.com/en-us/graph) attributes.\n\n##### Sample Request\n\n```\n curl -X GET  https://console.jumpcloud.com/api/v2/office365s/{office365_id}/translationrules \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:fields:fields"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:sort:sort"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Office365TranslationRule"
              }
            },
            "examples": {
              "application/json": [
                {
                  "id": "object_id_1",
                  "source_type": "user",
                  "field": "office_365_state"
                }
              ]
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "post": {
        "operationId": "Create-TranslationRuleOffice365",
        "summary": "Create a new Office 365 Translation Rule",
        "tags": [
          "Office 365"
        ],
        "description": "This endpoint allows you to create a translation rule for a specific Office 365 instance. These rules specify how JumpCloud attributes translate to [Microsoft Graph](https://developer.microsoft.com/en-us/graph) attributes.\n\n##### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/office365s/{office365_id}/translationrules \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n  {Translation Rule Parameters}\n}'\n\n```",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Office365TranslationRuleRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Office365TranslationRule"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/office365s/{office365_id}/translationrules/{id}": {
      "parameters": [
        {
          "name": "office365_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "Get-TranslationRuleOffice365",
        "summary": "Gets a specific Office 365 translation rule",
        "tags": [
          "Office 365"
        ],
        "description": "This endpoint returns a specific translation rule for a specific Office 365 instance. These rules specify how JumpCloud attributes translate to [Microsoft Graph](https://developer.microsoft.com/en-us/graph) attributes.\n\n###### Sample Request\n\n```\n  curl -X GET https://console.jumpcloud.com/api/v2/office365s/{office365_id}/translationrules/{id} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Office365TranslationRule"
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "delete": {
        "operationId": "Delete-TranslationRuleOffice365",
        "summary": "Deletes a Office 365 translation rule",
        "tags": [
          "Office 365"
        ],
        "description": "This endpoint allows you to delete a translation rule for a specific Office 365 instance. These rules specify how JumpCloud attributes translate to [Microsoft Graph](https://developer.microsoft.com/en-us/graph) attributes.\n\n#### Sample Request\n\n```\ncurl -X DELETE https://console.jumpcloud.com/api/v2/office365s/{office365_id}/translationrules/{id} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/policies": {
      "get": {
        "operationId": "List-Policy",
        "summary": "Lists all the Policies",
        "tags": [
          "Policies"
        ],
        "description": "This endpoint returns all policies.\n\n##### Sample Request\n\n```\n curl -X GET  https://console.jumpcloud.com/api/v2/policies \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "parameters": [
          {
            "$ref": "#/parameters/trait:fields:fields"
          },
          {
            "$ref": "#/parameters/trait:filter:filter"
          },
          {
            "$ref": "#/parameters/trait:limit:limit"
          },
          {
            "$ref": "#/parameters/trait:skip:skip"
          },
          {
            "$ref": "#/parameters/trait:sort:sort"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Policy"
              }
            }
          },
          "500": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
[...]
