swagger: "2.0"
info:
  version: "2.0"
  title: JumpCloud APIs Test
  description: ""
host: console.jumpcloud.com
basePath: /api/v2/
schemes:
- https
consumes:
- application/json
produces:
- application/json
securityDefinitions:
  x-api-key:
    name: x-api-key
    type: apiKey
    in: header
paths:
  /activedirectories:
    get:
      operationId: List-ActiveDirectory
      summary: List Active Directories
      description: |-
        This endpoint allows you to list all your Active Directory Instances.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/activedirectories/ \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters:
      - $ref: '#/parameters/trait:filter:filter'
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:sort:sort'
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/active-directory-output'
      security:
      - x-api-key: []
  /activedirectories/{activedirectory_id}/associations:
    get:
      operationId: List-ActiveDirectoryAssociation
      summary: List the associations of an Active Directory instance
      tags:
      - Graph
      description: |-
        This endpoint returns the direct associations of this Active Directory instance.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example Active Directory and Users.


        #### Sample Request
        ```
        curl -X GET 'https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}/associations?targets=user \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:graphTargets:targets'
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphConnection'
      security:
      - x-api-key: []
    parameters:
    - name: activedirectory_id
      in: path
      description: ObjectID of the Active Directory instance.
      required: true
      type: string
  /activedirectories/{activedirectory_id}/usergroups:
    get:
      operationId: List-ActiveDirectoryTraverseUserGroup
      summary: List the User Groups bound to an Active Directory instance
      tags:
      - Graph
      description: |-
        This endpoint will return all Users Groups bound to an Active Directory instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the group's type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this Active Directory instance to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this Active Directory instance.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}/usergroups \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:filter:filter'
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: activedirectory_id
      in: path
      description: ObjectID of the Active Directory instance.
      required: true
      type: string
  /activedirectories/{id}:
    get:
      operationId: Get-ActiveDirectory
      summary: Get an Active Directory
      description: |-
        This endpoint returns a specific Active Directory.

        #### Sample Request

        ```
        curl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID} \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/active-directory-output'
      security:
      - x-api-key: []
    parameters:
    - name: id
      in: path
      description: ObjectID of this Active Directory instance.
      required: true
      type: string
  /applications/{application_id}/associations:
    get:
      operationId: List-ApplicationAssociation
      summary: List the associations of an Application
      tags:
      - Graph
      description: |-
        This endpoint will return the _direct_ associations of an Application. A direct association can be a non-homogeneous relationship between 2 different objects, for example Applications and User Groups.


        #### Sample Request
        ```
        curl -X GET 'https://console.jumpcloud.com/api/v2/applications/{Application_ID}/associations?targets=user_group \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:graphTargets:targets'
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphConnection'
      security:
      - x-api-key: []
    parameters:
    - name: application_id
      in: path
      description: ObjectID of the Application.
      required: true
      type: string
    post:
      operationId: Set-ApplicationAssociation
      summary: Manage the associations of an Application
      tags:
      - Graph
      description: |-
        This endpoint allows you to manage the _direct_ associations of an Application. A direct association can be a non-homogeneous relationship between 2 different objects, for example Application and User Groups.

        #### Sample Request
        ```
        curl -X POST 'https://console.jumpcloud.com/api/v2/applications/{Application_ID}/associations' \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "op": "add",
            "type": "user_group",
            "id": "{Group_ID}"
        }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/GraphManagementReq'
      responses:
        "204":
          description: OK
      security:
      - x-api-key: []
  /applications/{application_id}/usergroups:
    get:
      operationId: List-ApplicationTraverseUserGroup
      summary: List the User Groups bound to an Application
      tags:
      - Graph
      description: |-
        This endpoint will return all Users Groups bound to an Application, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the group's type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates  each path from this Application to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this Application.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/applications/{Application_ID}/usergroups \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:filter:filter'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: application_id
      in: path
      description: ObjectID of the Application.
      required: true
      type: string
  /applications/{application_id}/users:
    get:
      operationId: List-ApplicationTraverseUser
      summary: List the Users bound to an Application
      tags:
      - Graph
      description: |-
        This endpoint will return all Users bound to an Application, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this Application to the corresponding User; this array represents all grouping and/or associations that would have to be removed to deprovision the User from this Application.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/applications/{Application_ID}/users \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:filter:filter'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: application_id
      in: path
      description: ObjectID of the Application.
      required: true
      type: string
  /bulk/users:
    patch:
      operationId: Patch-BulkUsers
      summary: Bulk Users Update
      description: "The endpoint allows you to create a bulk job to asynchronously update users. See [Update a System User](https://docs.jumpcloud.com/1.0/systemusers/update-a-system-user) for full list of attributes.\n\n#### Sample Request \n```\ncurl -X PATCH https://console.jumpcloud.com/api/v2/bulk/users \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '[\n	{\n	  \"id\":\"5be9fb4ddb01290001e85109\",\n		\"firstname\":\"{UPDATED_FIRSTNAME}\",\n		\"department\":\"{UPDATED_DEPARTMENT}\",\n		\"attributes\":[\n			{\"name\":\"Custom\",\"value\":\"{ATTRIBUTE_VALUE}\"}\n		]\n	},\n	{\n	  \"id\":\"5be9fb4ddb01290001e85109\",\n		\"firstname\":\"{UPDATED_FIRSTNAME}\",\n		\"costCenter\":\"{UPDATED_COST_CENTER}\",\n		\"phoneNumbers\":[\n			{\"type\":\"home\",\"number\":\"{HOME_PHONE_NUMBER}\"},\n			{\"type\":\"work\",\"number\":\"{WORK_PHONE_NUMBER}\"}\n		]\n	}\n]\n```"
      parameters:
      - name: body
        in: body
        schema:
          type: array
          items:
            $ref: '#/definitions/bulk-user-update'
      responses:
        "201":
          description: ""
          schema:
            $ref: '#/definitions/job-id'
      security:
      - x-api-key: []
    post:
      operationId: Create-BulkUsers
      summary: Bulk Users Create
      description: "The endpoint allows you to create a bulk job to asynchronously create users. See [Create a System User](https://docs.jumpcloud.com/1.0/systemusers/create-a-system-user) for full list of attributes.\n\n#### Sample Request \n```\ncurl -X POST https://console.jumpcloud.com/api/v2/bulk/users \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '[\n	{\n		\"email\":\"{email}\",\n		\"firstname\":\"{firstname}\",\n		\"lastname\":\"{firstname}\",\n		\"username\":\"{username}\",\n		\"attributes\":[\n			{\"name\":\"EmployeeID\",\"value\":\"0000\"},\n			{\"name\":\"Custom\",\"value\":\"attribute\"}\n		]\n	}\n]\n```"
      parameters:
      - name: body
        in: body
        schema:
          type: array
          items:
            $ref: '#/definitions/bulk-user-create'
      responses:
        "201":
          description: ""
          schema:
            $ref: '#/definitions/job-id'
      security:
      - x-api-key: []
  /bulk/users/{job_id}/results:
    get:
      operationId: Get-BulkUsersResult
      summary: List Bulk Users Results
      description: |-
        This endpoint will return the results of particular user import or update job request.

        #### Sample Request
        ```
        curl -X GET \
          https://console.jumpcloud.com/api/v2/bulk/users/{ImportJobID}/results \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters:
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/job-workresult'
      security:
      - x-api-key: []
    parameters:
    - name: job_id
      in: path
      required: true
      type: string
  /commands/{command_id}/associations:
    get:
      operationId: List-CommandAssociation
      summary: List the associations of a Command
      tags:
      - Graph
      description: |-
        This endpoint will return the _direct_ associations of this Command.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example Commands and User Groups.


        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/commands/{Command_ID}/associations?targets=system_group \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:graphTargets:targets'
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphConnection'
      security:
      - x-api-key: []
    parameters:
    - name: command_id
      in: path
      description: ObjectID of the Command.
      required: true
      type: string
    post:
      operationId: Set-CommandAssociation
      summary: Manage the associations of a Command
      tags:
      - Graph
      description: |-
        This endpoint will allow you to manage the _direct_ associations of this Command.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example Commands and User Groups.


        #### Sample Request
        ```
         curl -X POST https://console.jumpcloud.com/api/v2/commands/{Command_ID}/associations \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "op": "add",
            "type": "system_group",
            "id": "Group_ID"
        }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/GraphManagementReq'
      responses:
        "204":
          description: OK
      security:
      - x-api-key: []
  /commands/{command_id}/systemgroups:
    get:
      operationId: List-CommandTraverseSystemGroup
      summary: List the System Groups bound to a Command
      tags:
      - Graph
      description: |-
        This endpoint will return all System Groups bound to a Command, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the group's type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this Command to the corresponding System Group; this array represents all grouping and/or associations that would have to be removed to deprovision the System Group from this Command.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/commands/{Command_ID}/systemgroups \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:filter:filter'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: command_id
      in: path
      description: ObjectID of the Command.
      required: true
      type: string
  /commands/{command_id}/systems:
    get:
      operationId: List-CommandTraverseSystem
      summary: List the Systems bound to a Command
      tags:
      - Graph
      description: |-
        This endpoint will return all Systems bound to a Command, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this Command to the corresponding System; this array represents all grouping and/or associations that would have to be removed to deprovision the System from this Command.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/commands/{Command_ID}/systems \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:filter:filter'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: command_id
      in: path
      description: ObjectID of the Command.
      required: true
      type: string
  /directories:
    get:
      operationId: List-Directory
      summary: List All Directories
      description: |-
        This endpoint returns all active directories (LDAP, O365 Suite, G-Suite).

        #### Sample Request
        ```
         curl -X GET https://console.jumpcloud.com/api/v2/directories \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:sort:sort'
      - $ref: '#/parameters/trait:skip:skip'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Directory'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
      - x-api-key: []
  /duo/accounts:
    get:
      operationId: List-DuoAccount
      summary: List Duo Acounts
      tags:
      - Duo
      description: |-
        This endpoint returns all the Duo accounts for your organization. Note: There can currently only be one Duo account for your organization.

        #### Sample Request
        ```
        curl https://console.jumpcloud.com/api/v2/duo/accounts \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/DuoAccount'
      security:
      - x-api-key: []
    post:
      operationId: Create-DuoAccount
      summary: Create Duo Account
      tags:
      - Duo
      description: |-
        Registers a Duo account for an organization. Only one Duo account will be allowed,
        in case an organization has a Duo account already a 409 (Conflict) code will be returned.

        #### Sample Request
        ```
          curl -X POST https://console.jumpcloud.com/api/v2/duo/accounts \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{}'
        ```
      parameters: []
      responses:
        "201":
          description: ""
          schema:
            $ref: '#/definitions/DuoAccount'
        "400":
          $ref: '#/responses/trait:standardErrors:400'
        "401":
          $ref: '#/responses/trait:standardErrors:401'
        "403":
          $ref: '#/responses/trait:standardErrors:403'
        "404":
          $ref: '#/responses/trait:standardErrors:404'
        "409":
          $ref: '#/responses/trait:standardErrors:409'
        "500":
          $ref: '#/responses/trait:standardErrors:500'
      security:
      - x-api-key: []
  /duo/accounts/{account_id}/applications:
    get:
      operationId: List-DuoApplication
      summary: List Duo Applications
      tags:
      - Duo
      description: |-
        This endpoint returns all the Duo applications for the specified Duo account. Note: There can currently only be one Duo application for your organization.

        #### Sample Request
        ```
          curl https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/DuoApplication'
        "400":
          $ref: '#/responses/trait:standardErrors:400'
        "401":
          $ref: '#/responses/trait:standardErrors:401'
        "403":
          $ref: '#/responses/trait:standardErrors:403'
        "404":
          $ref: '#/responses/trait:standardErrors:404'
        "409":
          $ref: '#/responses/trait:standardErrors:409'
        "500":
          $ref: '#/responses/trait:standardErrors:500'
      security:
      - x-api-key: []
    parameters:
    - name: account_id
      in: path
      required: true
      type: string
    post:
      operationId: Create-DuoApplication
      summary: Create Duo Application
      tags:
      - Duo
      description: |-
        Creates a Duo application for your organization and the specified account.

        #### Sample Request
        ```
          curl -X POST https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "name": "Application Name",
            "apiHost": "api-1234.duosecurity.com",
            "integrationKey": "1234",
            "secretKey": "5678"
          }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/DuoApplicationReq'
      responses:
        "201":
          description: ""
          schema:
            $ref: '#/definitions/DuoApplication'
        "400":
          $ref: '#/responses/trait:standardErrors:400'
        "401":
          $ref: '#/responses/trait:standardErrors:401'
        "403":
          $ref: '#/responses/trait:standardErrors:403'
        "404":
          $ref: '#/responses/trait:standardErrors:404'
        "409":
          $ref: '#/responses/trait:standardErrors:409'
        "500":
          $ref: '#/responses/trait:standardErrors:500'
      security:
      - x-api-key: []
  /duo/accounts/{account_id}/applications/{application_id}:
    delete:
      operationId: Delete-DuoApplication
      summary: Delete a Duo Application
      tags:
      - Duo
      description: |-
        Deletes the specified Duo application, an error will be returned if the application is used in a protected resource.

        #### Sample Request
        ```
          curl -X DELETE https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications/{APPLICATION_ID} \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}''
        ```
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/DuoApplication'
        "400":
          $ref: '#/responses/trait:standardErrors:400'
        "401":
          $ref: '#/responses/trait:standardErrors:401'
        "403":
          $ref: '#/responses/trait:standardErrors:403'
        "404":
          $ref: '#/responses/trait:standardErrors:404'
        "409":
          $ref: '#/responses/trait:standardErrors:409'
        "500":
          $ref: '#/responses/trait:standardErrors:500'
      security:
      - x-api-key: []
    get:
      operationId: Get-DuoApplication
      summary: Get a Duo application
      tags:
      - Duo
      description: |-
        This endpoint returns a specific Duo application that is associated with the specified Duo account.

        #### Sample Request
        ```
          curl https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications/{APPLICATION_ID} \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/DuoApplication'
        "400":
          $ref: '#/responses/trait:standardErrors:400'
        "401":
          $ref: '#/responses/trait:standardErrors:401'
        "403":
          $ref: '#/responses/trait:standardErrors:403'
        "404":
          $ref: '#/responses/trait:standardErrors:404'
        "409":
          $ref: '#/responses/trait:standardErrors:409'
        "500":
          $ref: '#/responses/trait:standardErrors:500'
      security:
      - x-api-key: []
    parameters:
    - name: account_id
      in: path
      required: true
      type: string
    - name: application_id
      in: path
      required: true
      type: string
    put:
      operationId: Put-DuoApplication
      summary: Update Duo Application
      tags:
      - Duo
      description: |-
        Updates the specified Duo application.

        #### Sample Request
        ```
          curl -X PUT https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications/{APPLICATION_ID} \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "name": "Application Name",
            "apiHost": "api-1234.duosecurity.com",
            "integrationKey": "1234",
            "secretKey": "5678"
          }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/DuoApplicationUpdateReq'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/DuoApplication'
        "400":
          $ref: '#/responses/trait:standardErrors:400'
        "401":
          $ref: '#/responses/trait:standardErrors:401'
        "403":
          $ref: '#/responses/trait:standardErrors:403'
        "404":
          $ref: '#/responses/trait:standardErrors:404'
        "409":
          $ref: '#/responses/trait:standardErrors:409'
        "500":
          $ref: '#/responses/trait:standardErrors:500'
      security:
      - x-api-key: []
  /duo/accounts/{id}:
    delete:
      operationId: Delete-DuoAccount
      summary: Delete a Duo Account
      tags:
      - Duo
      description: |-
        Removes the specified Duo account, an error will be returned if the account has some Duo application used in a protected resource.

        #### Sample Request
        ```
        curl -X DELETE https://console.jumpcloud.com/api/v2/duo/accounts/{id} \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/DuoAccount'
        "400":
          $ref: '#/responses/trait:standardErrors:400'
        "401":
          $ref: '#/responses/trait:standardErrors:401'
        "403":
          $ref: '#/responses/trait:standardErrors:403'
        "404":
          $ref: '#/responses/trait:standardErrors:404'
        "409":
          $ref: '#/responses/trait:standardErrors:409'
        "500":
          $ref: '#/responses/trait:standardErrors:500'
      security:
      - x-api-key: []
    get:
      operationId: Get-DuoAccount
      summary: Get a Duo Acount
      tags:
      - Duo
      description: |-
        This endpoint returns a specific Duo account.

        #### Sample Request
        ```
        curl https://console.jumpcloud.com/api/v2/duo/accounts/{id} \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/DuoAccount'
      security:
      - x-api-key: []
    parameters:
    - name: id
      in: path
      required: true
      type: string
  /groups:
    get:
      operationId: List-Group
      summary: List All Groups
      description: |-
        This endpoint returns all Groups that exist in your organization.

        #### Available filter fields:
          - `name`
          - `disabled`
          - `type`

        #### Sample Request

        ```
          curl -X GET \
          https://console.jumpcloud.com/api/v2/groups \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:filter:filter'
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:sort:sort'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Group'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
      - x-api-key: []
  /gsuites/{gsuite_id}/associations:
    get:
      operationId: List-GSuiteAssociation
      summary: List the associations of a G Suite instance
      tags:
      - Graph
      description: |-
        This endpoint returns the _direct_ associations of this G Suite instance.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example G Suite and Users.


        #### Sample Request
        ```
        curl -X GET 'https://console.jumpcloud.com/api/v2/gsuites/{Gsuite_ID}/associations?targets=user_group \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:graphTargets:targets'
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphConnection'
      security:
      - x-api-key: []
    parameters:
    - name: gsuite_id
      in: path
      description: ObjectID of the G Suite instance.
      required: true
      type: string
    post:
      operationId: Set-GSuiteAssociation
      summary: Manage the associations of a G Suite instance
      tags:
      - Graph
      description: |-
        This endpoint returns the _direct_ associations of this G Suite instance.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example G Suite and Users.


        #### Sample Request
        ```
        curl -X POST https://console.jumpcloud.com/api/v2/gsuites/{Gsuite_ID}/associations \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "op": "add",
            "type": "user_group",
            "id": "{Group_ID}"
        }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/GraphManagementReq'
      responses:
        "204":
          description: OK
      security:
      - x-api-key: []
  /gsuites/{gsuite_id}/translationrules:
    get:
      operationId: List-GSuiteTranslationRule
      summary: List all the G Suite Translation Rules
      description: |-
        This endpoint returns all graph translation rules for a specific G Suite instance. These rules specify how JumpCloud attributes translate to [G Suite Admin SDK](https://developers.google.com/admin-sdk/directory/) attributes.

        ##### Sample Request

        ```
         curl -X GET  https://console.jumpcloud.com/api/v2/gsuites/{gsuite_id}/translationrules \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters:
      - $ref: '#/parameters/trait:filter:filter'
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:sort:sort'
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/GSuiteTranslationRule'
          examples:
            application/json:
            - id: object_id_1
              source_type: user
              field: g_suite_work_addresses
      security:
      - x-api-key: []
    parameters:
    - name: gsuite_id
      in: path
      required: true
      type: string
    post:
      operationId: Create-GSuiteTranslationRule
      summary: Create a new G Suite Translation Rule
      description: |-
        This endpoint allows you to create a translation rule for a specific G Suite instance. These rules specify how JumpCloud attributes translate to [G Suite Admin SDK](https://developers.google.com/admin-sdk/directory/) attributes.

        ##### Sample Request
        ```
        curl -X POST https://console.jumpcloud.com/api/v2/gsuites/{gsuite_id}/translationrules \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
          {Translation Rule Parameters}
        }'

        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/GSuiteTranslationRuleRequest'
      responses:
        "201":
          description: ""
          schema:
            $ref: '#/definitions/GSuiteTranslationRule'
      security:
      - x-api-key: []
  /gsuites/{gsuite_id}/translationrules/{id}:
    delete:
      operationId: Delete-GSuiteTranslationRule
      summary: Deletes a G Suite translation rule
      description: |-
        This endpoint allows you to delete a translation rule for a specific G Suite instance. These rules specify how JumpCloud attributes translate to [G Suite Admin SDK](https://developers.google.com/admin-sdk/directory/) attributes.

        #### Sample Request

        ```
        curl -X DELETE https://console.jumpcloud.com/api/v2/gsuites/{gsuite_id}/translationrules/{id} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters: []
      responses:
        "204":
          description: ""
      security:
      - x-api-key: []
    get:
      operationId: Get-GSuiteTranslationRule
      summary: Gets a specific G Suite translation rule
      description: |-
        This endpoint returns a specific translation rule for a specific G Suite instance. These rules specify how JumpCloud attributes translate to [G Suite Admin SDK](https://developers.google.com/admin-sdk/directory/) attributes.

        ###### Sample Request

        ```
          curl -X GET https://console.jumpcloud.com/api/v2/gsuites/{gsuite_id}/translationrules/{id} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/GSuiteTranslationRule'
      security:
      - x-api-key: []
    parameters:
    - name: gsuite_id
      in: path
      required: true
      type: string
    - name: id
      in: path
      required: true
      type: string
  /gsuites/{gsuite_id}/usergroups:
    get:
      operationId: List-GSuiteTraverseUserGroup
      summary: List the User Groups bound to a G Suite instance
      tags:
      - Graph
      description: |-
        This endpoint will return all User Groups bound to an G Suite instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the group's type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this G Suite instance to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this G Suite instance.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
          curl -X GET https://console.jumpcloud.com/api/v2/gsuites/{GSuite_ID}/usergroups \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:filter:filter'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: gsuite_id
      in: path
      description: ObjectID of the G Suite instance.
      required: true
      type: string
  /gsuites/{gsuite_id}/users:
    get:
      operationId: List-GSuiteTraverseUser
      summary: List the Users bound to a G Suite instance
      tags:
      - Graph
      description: |-
        This endpoint will return all Users bound to a G Suite instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this G Suite instance to the corresponding User; this array represents all grouping and/or associations that would have to be removed to deprovision the User from this G Suite instance.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
          curl -X GET https://console.jumpcloud.com/api/v2/gsuites/{Gsuite_ID}/users \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:filter:filter'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: gsuite_id
      in: path
      description: ObjectID of the G Suite instance.
      required: true
      type: string
  /gsuites/{id}:
    get:
      operationId: Get-GSuite
      summary: Get G Suite
      description: |-
        This endpoint returns a specific G Suite.

        ##### Sample Request

        ```
         curl -X GET https://console.jumpcloud.com/api/v2/gsuites/{GSUITE_ID} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/gsuite-output'
    parameters:
    - name: id
      in: path
      description: Unique identifier of the GSuite.
      required: true
      type: string
    patch:
      operationId: Patch-GSuite
      summary: Update existing G Suite
      description: |-
        This endpoint allows updating some attributes of a G Suite.

        ##### Sample Request

        ```
        curl -X PATCH https://console.jumpcloud.com/api/v2/gsuites/{GSUITE_ID} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "userLockoutAction": "suspend",
            "userPasswordExpirationAction": "maintain"
          }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/gsuite-patch-input'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/gsuite-output'
  /ldapservers:
    get:
      operationId: List-LdapServer
      summary: List LDAP Servers
      description: |-
        This endpoint returns the object IDs of your LDAP servers.


        ##### Sample Request

        ```
          curl -X GET https://console.jumpcloud.com/api/v2/ldapservers/ \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
      parameters:
      - $ref: '#/parameters/trait:filter:filter'
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:sort:sort'
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/ldap-server-output'
      security:
      - x-api-key: []
  /ldapservers/{id}:
    get:
      operationId: Get-LdapServer
      summary: Get LDAP Server
      description: |-
        This endpoint returns a specific LDAP server.

        ##### Sample Request

        ```
         curl -X GET https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/ldap-server-output'
      security:
      - x-api-key: []
    parameters:
    - name: id
      in: path
      description: Unique identifier of the LDAP server.
      required: true
      type: string
    patch:
      operationId: Patch-LdapServer
      summary: Update existing LDAP server
      description: |-
        This endpoint allows updating some attributes of an LDAP server.

        Sample Request

        ```
        curl -X PATCH https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "userLockoutAction": "remove",
            "userPasswordExpirationAction": "disable"
          }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          type: object
          properties:
            id:
              type: string
            userLockoutAction:
              $ref: '#/definitions/LdapServerAction'
            userPasswordExpirationAction:
              $ref: '#/definitions/LdapServerAction'
      - name: x-api-key
        in: header
        type: string
      - name: x-org-id
        in: header
        type: string
      responses:
        "200":
          description: ""
          schema:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              userLockoutAction:
                $ref: '#/definitions/LdapServerAction'
              userPasswordExpirationAction:
                $ref: '#/definitions/LdapServerAction'
        "400":
          description: ""
          schema:
            type: object
            properties:
              message:
                type: string
      security:
      - x-api-key: []
  /ldapservers/{ldapserver_id}/associations:
    get:
      operationId: List-LdapServerAssociation
      summary: List the associations of a LDAP Server
      tags:
      - Graph
      description: |-
        This endpoint returns the _direct_ associations of this LDAP Server.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example LDAP and Users.

        #### Sample Request

        ```
         curl -X GET 'https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/associations?targets=user_group \
          -H 'accept: application/json' \
          -H 'content-type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:graphTargets:targets'
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphConnection'
      security:
      - x-api-key: []
    parameters:
    - name: ldapserver_id
      in: path
      description: ObjectID of the LDAP Server.
      required: true
      type: string
    post:
      operationId: Set-LdapServerAssociation
      summary: Manage the associations of a LDAP Server
      tags:
      - Graph
      description: |-
        This endpoint allows you to manage the _direct_ associations of a LDAP Server.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example LDAP and Users.

        #### Sample Request
        ```
        curl -X POST https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/associations \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "op": "add",
            "type": "user",
            "id": "{User_ID}"
        }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/GraphManagementReq'
      responses:
        "204":
          description: OK
      security:
      - x-api-key: []
  /ldapservers/{ldapserver_id}/sambadomains:
    get:
      operationId: List-LdapServerSambaDomain
      summary: List Samba Domains
      description: |-
        This endpoint returns all samba domains for an LDAP server.

        ##### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/sambadomains \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters:
      - name: Content-Type
        in: header
        type: string
        default: application/json
      - name: Accept
        in: header
        type: string
        default: application/json
      - $ref: '#/parameters/trait:filter:filter'
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:sort:sort'
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/samba-domain-output'
        default:
          description: ""
          schema:
            $ref: '#/definitions/Error'
      security:
      - x-api-key: []
    parameters:
    - name: ldapserver_id
      in: path
      description: Unique identifier of the LDAP server.
      required: true
      type: string
    post:
      operationId: Create-LdapServerSambaDomain
      summary: Create Samba Domain
      description: |-
        This endpoint allows you to create a samba domain for an LDAP server.

        ##### Sample Request
        ```
        curl -X POST https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/sambadomains \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
        "sid":"{SID_ID}",
        "name":"{WORKGROUP_NAME}"
        }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/samba-domain-input'
      - name: Content-Type
        in: header
        type: string
        default: application/json
      - name: Accept
        in: header
        type: string
        default: application/json
      responses:
        "201":
          description: ""
          schema:
            $ref: '#/definitions/samba-domain-output'
      security:
      - x-api-key: []
  /ldapservers/{ldapserver_id}/sambadomains/{id}:
    delete:
      operationId: Delete-LdapServerSambaDomain
      summary: Delete Samba Domain
      description: |-
        This endpoint allows you to delete a samba domain from an LDAP server.

        ##### Sample Request
        ```
        curl -X DELETE https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/sambadomains/{SAMBA_ID} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - name: Content-Type
        in: header
        type: string
        default: application/json
      - name: Accept
        in: header
        type: string
        default: application/json
      responses:
        "200":
          description: ""
          schema:
            type: string
        "204":
          description: ""
      security:
      - x-api-key: []
    get:
      operationId: Get-LdapServerSambaDomain
      summary: Get Samba Domain
      description: |-
        This endpoint returns a specific samba domain for an LDAP server.

        ##### Sample Request
        ```
        curl -X GET \
          https://console.jumpcloud.com/api/v2/ldapservers/ldapservers/{LDAP_ID}/sambadomains/{SAMBA_ID} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters:
      - name: Content-Type
        in: header
        type: string
        default: application/json
      - name: Accept
        in: header
        type: string
        default: application/json
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/samba-domain-output'
      security:
      - x-api-key: []
    parameters:
    - name: ldapserver_id
      in: path
      description: Unique identifier of the LDAP server.
      required: true
      type: string
    - name: id
      in: path
      description: Unique identifier of the samba domain.
      required: true
      type: string
    put:
      operationId: Put-LdapServerSambaDomain
      summary: Update Samba Domain
      description: |-
        This endpoint allows you to update the samba domain information for an LDAP server.

        ##### Sample Request
        ```
        curl -X PUT https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/sambadomains/{SAMBA_ID} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
        "sid":"{SID_ID}",
        "name":"{WORKGROUP_NAME}"
        }'

        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/samba-domain-input'
      - name: Content-Type
        in: header
        type: string
        default: application/json
      - name: Accept
        in: header
        type: string
        default: application/json
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/samba-domain-output'
      security:
      - x-api-key: []
  /ldapservers/{ldapserver_id}/usergroups:
    get:
      operationId: List-LdapServerTraverseUserGroup
      summary: List the User Groups bound to a LDAP Server
      tags:
      - Graph
      description: |-
        This endpoint will return all Users Groups bound to a LDAP Server, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the group's type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this LDAP server instance to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this LDAP server instance.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/usergroups \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:filter:filter'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: ldapserver_id
      in: path
      description: ObjectID of the LDAP Server.
      required: true
      type: string
  /ldapservers/{ldapserver_id}/users:
    get:
      operationId: List-LdapServerTraverseUser
      summary: List the Users bound to a LDAP Server
      tags:
      - Graph
      description: |-
        This endpoint will return all Users bound to an LDAP Server, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this LDAP server instance to the corresponding User; this array represents all grouping and/or associations that would have to be removed to deprovision the User from this LDAP server instance.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/users \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:filter:filter'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: ldapserver_id
      in: path
      description: ObjectID of the LDAP Server.
      required: true
      type: string
  /office365s/{office365_id}:
    get:
      operationId: Get-Office365
      summary: Get Office 365 instance
      description: |-
        This endpoint returns a specific Office 365 instance.

        #####

        Sample Request

        ```
        curl -X GET https://console.jumpcloud.com/api/v2/office365s/{O365_ID} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'

        ```
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/office365-output'
      security:
      - x-api-key: []
    parameters:
    - name: office365_id
      in: path
      description: ObjectID of the Office 365 instance.
      required: true
      type: string
    patch:
      operationId: Patch-Office365
      summary: Update existing Office 365 instance.
      description: |-
        This endpoint allows updating some attributes of an Office 365 instance.

        #####

        Sample Request

        ```
        curl -X PATCH https://console.jumpcloud.com/api/v2/office365s/{O365_ID} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "userLockoutAction": "maintain",
            "userPasswordExpirationAction": "suspend"
          }'

        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/office365-patch-input'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/office365-output'
      security:
      - x-api-key: []
  /office365s/{office365_id}/associations:
    get:
      operationId: List-Office365Association
      summary: List the associations of an Office 365 instance
      tags:
      - Graph
      description: |-
        This endpoint returns _direct_ associations of an Office 365 instance.


        A direct association can be a non-homogeneous relationship between 2 different objects, for example Office 365 and Users.

        #### Sample Request
        ```
        curl -X GET 'https://console.jumpcloud.com/api/v2/office365s/{O365_ID}/associations?targets=user_group' \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'

        ```
      parameters:
      - $ref: '#/parameters/trait:graphTargets:targets'
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphConnection'
      security:
      - x-api-key: []
    parameters:
    - name: office365_id
      in: path
      description: ObjectID of the Office 365 instance.
      required: true
      type: string
    post:
      operationId: Set-Office365Association
      summary: Manage the associations of an Office 365 instance
      tags:
      - Graph
      description: |-
        This endpoint allows you to manage the _direct_ associations of a Office 365 instance.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example Office 365 and Users.

        #### Sample Request
        ```
        curl -X POST https://console.jumpcloud.com/api/v2/office365s/{O365_ID}/associations \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "op": "add",
            "type": "user_group",
            "id": "{Group_ID}"
        }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/GraphManagementReq'
      responses:
        "204":
          description: OK
      security:
      - x-api-key: []
  /office365s/{office365_id}/translationrules:
    get:
      operationId: List-Office365TranslationRule
      summary: List all the Office 365 Translation Rules
      description: |-
        This endpoint returns all translation rules for a specific Office 365 instance. These rules specify how JumpCloud attributes translate to [Microsoft Graph](https://developer.microsoft.com/en-us/graph) attributes.

        ##### Sample Request

        ```
         curl -X GET  https://console.jumpcloud.com/api/v2/office365s/{office365_id}/translationrules \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters:
      - $ref: '#/parameters/trait:filter:filter'
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:sort:sort'
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/Office365TranslationRule'
          examples:
            application/json:
            - id: object_id_1
              source_type: user
              field: office_365_state
      security:
      - x-api-key: []
    parameters:
    - name: office365_id
      in: path
      required: true
      type: string
    post:
      operationId: Create-Office365TranslationRule
      summary: Create a new Office 365 Translation Rule
      description: |-
        This endpoint allows you to create a translation rule for a specific Office 365 instance. These rules specify how JumpCloud attributes translate to [Microsoft Graph](https://developer.microsoft.com/en-us/graph) attributes.

        ##### Sample Request
        ```
        curl -X POST https://console.jumpcloud.com/api/v2/office365s/{office365_id}/translationrules \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
          {Translation Rule Parameters}
        }'

        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/Office365TranslationRuleRequest'
      responses:
        "201":
          description: ""
          schema:
            $ref: '#/definitions/Office365TranslationRule'
      security:
      - x-api-key: []
  /office365s/{office365_id}/translationrules/{id}:
    delete:
      operationId: Delete-Office365TranslationRule
      summary: Deletes a Office 365 translation rule
      description: |-
        This endpoint allows you to delete a translation rule for a specific Office 365 instance. These rules specify how JumpCloud attributes translate to [Microsoft Graph](https://developer.microsoft.com/en-us/graph) attributes.

        #### Sample Request

        ```
        curl -X DELETE https://console.jumpcloud.com/api/v2/office365s/{office365_id}/translationrules/{id} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters: []
      responses:
        "204":
          description: ""
      security:
      - x-api-key: []
    get:
      operationId: Get-Office365TranslationRule
      summary: Gets a specific Office 365 translation rule
      description: |-
        This endpoint returns a specific translation rule for a specific Office 365 instance. These rules specify how JumpCloud attributes translate to [Microsoft Graph](https://developer.microsoft.com/en-us/graph) attributes.

        ###### Sample Request

        ```
          curl -X GET https://console.jumpcloud.com/api/v2/office365s/{office365_id}/translationrules/{id} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/Office365TranslationRule'
      security:
      - x-api-key: []
    parameters:
    - name: office365_id
      in: path
      required: true
      type: string
    - name: id
      in: path
      required: true
      type: string
  /office365s/{office365_id}/usergroups:
    get:
      operationId: List-Office365TraverseUserGroup
      summary: List the User Groups bound to an Office 365 instance
      tags:
      - Graph
      description: |-
        This endpoint will return all Users Groups bound to an Office 365 instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the group's type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this Office 365 instance to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this Office 365 instance.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
          curl -X GET https://console.jumpcloud.com/api/v2/office365s/{O365_ID/usergroups \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:filter:filter'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: office365_id
      in: path
      description: ObjectID of the Office 365 suite.
      required: true
      type: string
  /office365s/{office365_id}/users:
    get:
      operationId: List-Office365TraverseUser
      summary: List the Users bound to an Office 365 instance
      tags:
      - Graph
      description: |-
        This endpoint will return all Users bound to an Office 365 instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this Office 365 instance to the corresponding User; this array represents all grouping and/or associations that would have to be removed to deprovision the User from this Office 365 instance.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/office365s/{O365_ID}/users \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:filter:filter'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: office365_id
      in: path
      description: ObjectID of the Office 365 suite.
      required: true
      type: string
  /policies:
    get:
      operationId: List-Policy
      summary: Lists all the Policies
      description: |-
        This endpoint returns all policies.

        ##### Sample Request

        ```
         curl -X GET  https://console.jumpcloud.com/api/v2/policies \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters:
      - $ref: '#/parameters/trait:filter:filter'
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:sort:sort'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Policy'
        "500":
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'
      security:
      - x-api-key: []
    post:
      operationId: Create-Policy
      summary: Create a new Policy
      description: |-
        This endpoint allows you to create a policy. Given the amount of configurable parameters required to create a Policy, we suggest you use the JumpCloud Admin Console to create new policies.

        ##### Sample Request
        ```
        curl -X POST https://console.jumpcloud.com/api/v2/policies \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
          {Policy_Parameters}
        }'

        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/PolicyRequest'
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/PolicyWithDetails'
      security:
      - x-api-key: []
  /policies/{id}:
    delete:
      operationId: Delete-Policy
      summary: Deletes a Policy
      description: |-
        This endpoint allows you to delete a policy.

        #### Sample Request

        ```
        curl -X DELETE https://console.jumpcloud.com/api/v2/policies/5a837ecd232e110d4291e6b9 \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters: []
      responses:
        "204":
          description: No Content
      security:
      - x-api-key: []
    get:
      operationId: Get-Policy
      summary: Gets a specific Policy.
      description: |-
        This endpoint returns a specific policy.

        ###### Sample Request

        ```
          curl -X GET https://console.jumpcloud.com/api/v2/policies/{PolicyID} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/PolicyWithDetails'
      security:
      - x-api-key: []
    parameters:
    - name: id
      in: path
      description: ObjectID of the Policy object.
      required: true
      type: string
    put:
      operationId: Put-Policy
      summary: Update an existing Policy
      description: |-
        This endpoint allows you to update a policy. Given the amount of configurable parameters required to update a Policy, we suggest you use the JumpCloud Admin Console to create new policies.


        ##### Sample Request
        ```
        curl -X PUT https://console.jumpcloud.com/api/v2/policies/59fced45c9118022172547ff \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY' \
          -d '{
            {Policy_Parameters}
        }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/PolicyRequest'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/Policy'
      security:
      - x-api-key: []
  /policies/{policy_id}/associations:
    get:
      operationId: List-PolicyAssociation
      summary: List the associations of a Policy
      tags:
      - Graph
      description: |-
        This endpoint returns the _direct_ associations of a Policy.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example Policies and Systems.

        #### Sample Request
        ```
        curl -X GET 'https://console.jumpcloud.com/api/v2/policies/{Policy_ID}/associations?targets=system_group \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:graphTargets:targets'
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphConnection'
      security:
      - x-api-key: []
    parameters:
    - name: policy_id
      in: path
      required: true
      type: string
    post:
      operationId: Set-PolicyAssociation
      summary: Manage the associations of a Policy
      tags:
      - Graph
      description: |-
        This endpoint allows you to manage the _direct_ associations of a Policy.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example Policies and Systems.

        #### Sample Request
        ```
        curl -X POST https://console.jumpcloud.com/api/v2/policies/{Policy_ID}/associations/ \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "op": "add",
            "type": "system_group",
            "id": "{Group_ID}"
        }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/GraphManagementReq'
      responses:
        "204":
          description: ""
      security:
      - x-api-key: []
  /policies/{policy_id}/policyresults:
    get:
      operationId: List-PolicyResult
      summary: Lists all the policy results of a policy.
      description: |-
        This endpoint returns all policies results for a specific policy.

        ##### Sample Request

        ```
         curl -X GET https://console.jumpcloud.com/api/v2/policies/{Policy_ID}/policyresults \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters:
      - $ref: '#/parameters/trait:filter:filter'
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:sort:sort'
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/PolicyResult'
      security:
      - x-api-key: []
    parameters:
    - name: policy_id
      in: path
      required: true
      type: string
  /policies/{policy_id}/policystatuses:
    get:
      operationId: List-PolicyStatus
      summary: Lists the latest policy results of a policy.
      description: |-
        This endpoint returns the latest policies results for a specific policy.

        ##### Sample Request

        ```
         curl -X GET https://console.jumpcloud.com/api/v2/policies/{Policy_ID}/policystatuses \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters:
      - $ref: '#/parameters/trait:filter:filter'
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:sort:sort'
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/PolicyResult'
      security:
      - x-api-key: []
    parameters:
    - name: policy_id
      in: path
      required: true
      type: string
  /policies/{policy_id}/systemgroups:
    get:
      operationId: List-PolicyTraverseSystemGroup
      summary: List the System Groups bound to a Policy
      tags:
      - Graph
      description: |-
        This endpoint will return all Systems Groups bound to a Policy, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the group's type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this Policy to the corresponding System Group; this array represents all grouping and/or associations that would have to be removed to deprovision the System Group from this Policy.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
        curl -X GET  https://console.jumpcloud.com/api/v2/policies/{Policy_ID}/systemgroups \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:filter:filter'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: policy_id
      in: path
      description: ObjectID of the Command.
      required: true
      type: string
  /policies/{policy_id}/systems:
    get:
      operationId: List-PolicyTraverseSystem
      summary: List the Systems bound to a Policy
      tags:
      - Graph
      description: |-
        This endpoint will return all Systems bound to a Policy, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this Policy to the corresponding System; this array represents all grouping and/or associations that would have to be removed to deprovision the System from this Policy.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/policies/{Policy_ID}/systems \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:filter:filter'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: policy_id
      in: path
      description: ObjectID of the Command.
      required: true
      type: string
  /policyresults:
    get:
      operationId: List-PolicyResult
      summary: Lists all the policy results for an organization.
      description: |-
        This endpoint returns all policies results for an organization.

        ##### Sample Request

        ```
         curl -X GET https://console.jumpcloud.com/api/v2/policyresults \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters:
      - $ref: '#/parameters/trait:filter:filter'
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:sort:sort'
      responses:
        "200":
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/PolicyResult'
      security:
      - x-api-key: []
  /policyresults/{id}:
    get:
      operationId: Get-PolicyResult
      summary: Get a specific Policy Result.
      description: |-
        This endpoint will return the policy results for a specific policy.

        ##### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/policyresults/{Policy_ID} \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/PolicyResult'
      security:
      - x-api-key: []
    parameters:
    - name: id
      in: path
      description: ObjectID of the Policy Result.
      required: true
      type: string
  /policytemplates:
    get:
      operationId: List-PolicyTemplate
      summary: Lists all of the Policy Templates
      tags:
      - Policytemplates
      description: |-
        This endpoint returns all policy templates.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/policytemplates \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters:
      - $ref: '#/parameters/trait:filter:filter'
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:sort:sort'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/PolicyTemplate'
        "500":
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'
      security:
      - x-api-key: []
  /policytemplates/{id}:
    get:
      operationId: Get-PolicyTemplate
      summary: Get a specific Policy Template
      tags:
      - Policytemplates
      description: |-
        This endpoint returns a specific policy template.

        #### Sample Request
        ```
         curl -X GET https://console.jumpcloud.com/api/v2/policies/{Policy_ID}\
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/PolicyTemplateWithDetails'
      security:
      - x-api-key: []
    parameters:
    - name: id
      in: path
      description: ObjectID of the Policy Template.
      required: true
      type: string
  /providers/{provider_id}/administrators:
    get:
      operationId: List-ProviderAdministrator
      summary: List Provider Administrators
      tags:
      - Providers
      description: |-
        This endpoint returns a list of the Administrators associated with the Provider.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/providers/{ProviderID}/administrators \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:filter:filter'
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:sort:sort'
      responses:
        "200":
          description: ""
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              results:
                type: array
                items:
                  $ref: '#/definitions/Administrator'
          examples:
            application/json:
              totalCount: 2
              results:
              - registered: true
                enableMultiFactor: false
                _id: 5c3536e9e0a6840001872782
                email: joe@example.com
                firstname: ""
                lastname: ""
              - registered: true
                enableMultiFactor: false
                _id: 5c35370ae0a6840001872784
                email: mildred@example.com
                firstname: ""
                lastname: ""
        "401":
          description: ""
          schema:
            type: object
            properties:
              message:
                type: string
          examples:
            application/json:
              message: Unauthorized
      security:
      - x-api-key: []
    parameters:
    - name: provider_id
      in: path
      required: true
      type: string
    post:
      operationId: Create-ProviderAdmin
      summary: Create a new Provider Administrator
      tags:
      - Providers
      description: |-
        This endpoint allows you to create a provider administrator. You must be associated to the provider to use this route.

        **Sample Request**

        ```
        curl -X POST https://console.jumpcloud.com/api/v2/providers/{ProviderID}/administrators \
            -H 'Accept: application/json' \
            -H 'Context-Type: application/json' \
            -H 'x-api-key: {API_KEY}' \
            -d '{
              "email":"{ADMIN_EMAIL}"
            }'
        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/ProviderAdminReq'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/Administrator'
        "401":
          description: ""
          schema:
            type: object
            properties:
              message:
                type: string
      security:
      - x-api-key: []
  /radiusservers/{radiusserver_id}/associations:
    get:
      operationId: List-RadiusServerAssociation
      summary: List the associations of a RADIUS  Server
      tags:
      - Graph
      description: |-
        This endpoint returns the _direct_ associations of a Radius Server.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example Radius Servers and Users.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/radiusservers/{RADIUS_ID}/associations?targets=user_group \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:graphTargets:targets'
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphConnection'
      security:
      - x-api-key: []
    parameters:
    - name: radiusserver_id
      in: path
      description: ObjectID of the Radius Server.
      required: true
      type: string
    post:
      operationId: Set-RadiusServerAssociation
      summary: Manage the associations of a RADIUS Server
      tags:
      - Graph
      description: "This endpoint allows you to manage the _direct_ associations of a Radius Server.\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example Radius Servers and Users.\n\n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/radiusservers/{RADIUS_ID}/associations \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n	\n\"type\":\"user\", \n\"id\":\"{USER_ID}\", \n\"op\":\"add\"\n	\n}'\n```"
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/GraphManagementReq'
      responses:
        "204":
          description: OK
      security:
      - x-api-key: []
  /radiusservers/{radiusserver_id}/usergroups:
    get:
      operationId: List-RadiusServerTraverseUserGroup
      summary: List the User Groups bound to a RADIUS  Server
      tags:
      - Graph
      description: |-
        This endpoint will return all Users Groups bound to a RADIUS Server, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the group's type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this RADIUS server instance to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this RADIUS server instance.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/radiusservers/{RADIUS_ID}/usergroups \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:filter:filter'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: radiusserver_id
      in: path
      description: ObjectID of the Radius Server.
      required: true
      type: string
  /radiusservers/{radiusserver_id}/users:
    get:
      operationId: List-RadiusServerTraverseUser
      summary: List the Users bound to a RADIUS  Server
      tags:
      - Graph
      description: |-
        This endpoint will return all Users bound to a RADIUS Server, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this RADIUS server instance to the corresponding User; this array represents all grouping and/or associations that would have to be removed to deprovision the User from this RADIUS server instance.

        See `/members` and `/associations` endpoints to manage those collections.


        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/users \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
          ```
      parameters:
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:filter:filter'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: radiusserver_id
      in: path
      description: ObjectID of the Radius Server.
      required: true
      type: string
  /systemgroups:
    get:
      operationId: List-SystemGroup
      summary: List all System Groups
      tags:
      - System Groups
      description: |-
        This endpoint returns all System Groups.

        Available filter fields:
          - `name`
          - `disabled`
          - `type`

        #### Sample Request

        ```
        curl -X GET https://console.jumpcloud.com/api/v2/systemgroups \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:filter:filter'
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:sort:sort'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/SystemGroup'
          examples:
            application/json:
            - id: "000000"
            - type: system_group
            - name: group1
              id: "000000"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
      - x-api-key: []
    post:
      operationId: Create-SystemGroup
      summary: Create a new System Group
      tags:
      - System Groups
      description: |-
        This endpoint allows you to create a new System Group.

        #### Sample Request

        ```
        curl -X POST https://console.jumpcloud.com/api/v2/systemgroups \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
         "name": "{Group_Name}"
        }'

        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/SystemGroupData'
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/SystemGroup'
      security:
      - x-api-key: []
  /systemgroups/{group_id}/associations:
    get:
      operationId: List-SystemGroupAssociation
      summary: List the associations of a System Group
      tags:
      - Graph
      - System Groups
      description: |-
        This endpoint returns the _direct_ associations of a System Group.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example System Groups and Users.


        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/systemgroups/{GroupID}/associations?targets=user \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:graphSystemGroupTargets:targets'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphConnection'
      security:
      - x-api-key: []
    parameters:
    - name: group_id
      in: path
      description: ObjectID of the System Group.
      required: true
      type: string
    post:
      operationId: Set-SystemGroupAssociation
      summary: Manage the associations of a System Group
      tags:
      - Graph
      - System Groups
      description: |-
        This endpoint allows you to manage the _direct_ associations of a System Group.

        A direct association can be a non-homogeneous relationship between 2 different objects, for example System Groups and Users.


        #### Sample Request
        ```
        curl -X POST https://console.jumpcloud.com/api/v2/systemgroups/{GroupID}/associations \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}' \
          -d '{
            "op": "add",
            "type": "user",
            "id": "{UserID}"
        }'

        ```
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/SystemGroupGraphManagementReq'
      responses:
        "204":
          description: OK
      security:
      - x-api-key: []
  /systemgroups/{group_id}/commands:
    get:
      operationId: List-SystemGroupTraverseCommand
      summary: List the Commands bound to a System Group
      tags:
      - Graph
      description: |-
        This endpoint will return all Commands bound to a System Group, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.

        Each element will contain the group's type, id, attributes and paths.

        The `attributes` object is a key/value hash of compiled graph attributes for all paths followed.

        The `paths` array enumerates each path from this System Group to the corresponding Command; this array represents all grouping and/or associations that would have to be removed to deprovision the Command from this System Group.

        See `/members` and `/associations` endpoints to manage those collections.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/systemgroups/{GroupID}/commands \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'
        ```
      parameters:
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      - $ref: '#/parameters/trait:filter:filter'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphObjectWithPaths'
      security:
      - x-api-key: []
    parameters:
    - name: group_id
      in: path
      description: ObjectID of the System Group.
      required: true
      type: string
  /systemgroups/{group_id}/members:
    get:
      operationId: List-SystemGroupMembers
      summary: List the members of a System Group
      tags:
      - Graph
      - System Groups
      description: |-
        This endpoint returns the system members of a System Group.

        #### Sample Request
        ```
        curl -X GET https://console.jumpcloud.com/api/v2/systemgroups/{Group_ID}/members \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: {API_KEY}'

        ```
      parameters:
      - $ref: '#/parameters/trait:limit:limit'
      - $ref: '#/parameters/trait:skip:skip'
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GraphConnection'
      security:
      - x-api-key: []
    parameters:
    - name: group_id
      in: path
      description: ObjectID of the System Group.
      required: true
      type: string
    post:
      operationId: Set-SystemGroupMembers
      summary: Manage the members of a System Group
      tags:
      - Graph
      - System Groups
      description: |-
        This endpoint allows you to manage the system members of a System Group.

        #### Sample Request
        ```
[...]
