swagger: "2.0"
info:
  version: "1.0"
  title: Directory Insights API
  description: The purpose of this API is to query Jumpcloud Directory Insights events
host: api.jumpcloud.com
basePath: /insights/directory/v1/
schemes:
- https
consumes:
- application/json
produces:
- application/json
securityDefinitions:
  x-api-key:
    name: x-api-key
    type: apiKey
    in: header
  x-org-id:
    name: x-org-id
    type: apiKey
    in: header
paths:
  /events:
    post:
      operationId: Get-Event
      summary: Query Events
      description: Query the API for Directory Insights events
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/EventQuery'
      responses:
        "200":
          description: Array of Directory Insights events JSON objects
          schema:
            type: array
            items:
              type: object
              additionalProperties: true
        "400":
          description: Invalid/unknown query JSON body
          schema:
            $ref: '#/definitions/ErrorMessage'
        "401":
          description: Unauthorized (Invalid API Key)
          schema:
            $ref: '#/definitions/ErrorMessage'
        "402":
          description: Directory Insights is not enabled for your organization
          schema:
            $ref: '#/definitions/ErrorMessage'
        "500":
          description: Technical difficulties processing your request
          schema:
            $ref: '#/definitions/ErrorMessage'
      security:
      - x-api-key: []
      - x-org-id: []
  /events/count:
    post:
      operationId: Get-EventCount
      summary: Count Events
      description: Query the API for a count of matching events
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/EventQuery'
      responses:
        "200":
          description: Count of matching event rows
          schema:
            $ref: '#/definitions/EventCount'
        "400":
          description: Invalid/unknown query JSON body
          schema:
            $ref: '#/definitions/ErrorMessage'
        "401":
          description: Unauthorized (Invalid API Key)
          schema:
            $ref: '#/definitions/ErrorMessage'
        "402":
          description: Directory Insights is not enabled for your organization
          schema:
            $ref: '#/definitions/ErrorMessage'
        "500":
          description: Technical difficulties processing your request
          schema:
            $ref: '#/definitions/ErrorMessage'
      security:
      - x-api-key: []
      - x-org-id: []
  /events/distinct:
    post:
      operationId: Get-EventDistinct
      summary: Query event distinct field values
      description: Query the API for a list of distinct values for a field
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/EventDistinctQuery'
      responses:
        "200":
          description: List of distinct field values
          schema:
            $ref: '#/definitions/EventCount'
        "400":
          description: Invalid/unknown query JSON body
          schema:
            $ref: '#/definitions/ErrorMessage'
        "401":
          description: Unauthorized (Invalid API Key)
          schema:
            $ref: '#/definitions/ErrorMessage'
        "402":
          description: Directory Insights is not enabled for your organization
          schema:
            $ref: '#/definitions/ErrorMessage'
        "500":
          description: Technical difficulties processing your request
          schema:
            $ref: '#/definitions/ErrorMessage'
      security:
      - x-api-key: []
      - x-org-id: []
  /events/interval:
    post:
      operationId: Get-EventInterval
      summary: Query event counts by bucketed by a time interval
      description: Query the API for a list of counts by time interval
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/EventIntervalQuery'
      responses:
        "200":
          description: List of bucketed event counts
          schema:
            type: array
            items:
              type: object
              additionalProperties: true
        "400":
          description: Invalid/unknown query JSON body
          schema:
            $ref: '#/definitions/ErrorMessage'
        "401":
          description: Unauthorized (Invalid API Key)
          schema:
            $ref: '#/definitions/ErrorMessage'
        "402":
          description: Directory Insights is not enabled for your organization
          schema:
            $ref: '#/definitions/ErrorMessage'
        "500":
          description: Technical difficulties processing your request
          schema:
            $ref: '#/definitions/ErrorMessage'
      security:
      - x-api-key: []
      - x-org-id: []
definitions:
  ErrorMessage:
    title: ErrorMessage
    type: object
    properties:
      message:
        description: Text detailed error message returned by the service
        type: string
  EventCount:
    title: EventCount
    description: EventCount JSON struct with count of matching events
    type: object
    properties:
      count:
        type: integer
        format: int64
        x-go-name: Count
  EventDistinctQuery:
    title: EventDistinctQuery
    description: EventDistinctQuery is the users' command to search our auth logs for distinct values of the specified field
    type: object
    required:
    - service
    - start_time
    properties:
      end_time:
        description: optional query end time, UTC in RFC3339 format
        type: string
        format: date-time
      field:
        description: field is what they wish to query on
        type: string
        x-go-name: Field
      search_term:
        $ref: '#/definitions/SearchTerm'
      service:
        description: 'service name to query. Known services: systems,radius,sso,directory,ldap,all'
        type: array
        items:
          type: string
        x-go-name: Service
        example: '[systems,radius,sso,directory,ldap,mdm,all]'
      start_time:
        description: query start time, UTC in RFC3339 format
        type: string
        format: date-time
  EventIntervalQuery:
    title: EventIntervalQuery
    description: EventIntervalQuery is the users' command to search our auth logs for bucketed counts of values of the specified field
    type: object
    required:
    - service
    - start_time
    - interval_unit
    properties:
      end_time:
        description: optional query end time, UTC in RFC3339 format
        type: string
        format: date-time
      interval_unit:
        type: string
        x-go-name: IntervalUnit
      interval_value:
        description: |-
          Interval Value. This specifies how many units you want to bucket the event counts by
          optional
        type: string
        x-go-name: IntervalValue
      search_term:
        $ref: '#/definitions/SearchTerm'
      service:
        description: 'service name to query. Known services: systems,radius,sso,directory,ldap,all'
        type: array
        items:
          type: string
        x-go-name: Service
        example: '[systems,radius,sso,directory,ldap,mdm,all]'
      start_time:
        description: query start time, UTC in RFC3339 format
        type: string
        format: date-time
      timezone:
        description: |-
          TimeZone. Specify the timezone in which the user is in
          optional
        type: string
  EventQuery:
    title: EventQuery
    description: EventQuery is the users' command to search our auth logs
    type: object
    required:
    - service
    - start_time
    properties:
      end_time:
        description: optional query end time, UTC in RFC3339 format
        type: string
        format: date-time
      fields:
        description: optional list of fields to return from query
        type: array
        items:
          type: string
        x-go-name: Projection
      limit:
        description: Max number of rows to return
        type: integer
        format: int64
        x-go-name: Limit
      search_after:
        description: Specific query to search after, see x-* response headers for next values
        type: array
        items:
          type: string
        x-go-name: SearchAfter
      search_term:
        $ref: '#/definitions/SearchTerm'
      service:
        description: 'service name to query. Known services: systems,radius,sso,directory,ldap,all'
        type: array
        items:
          type: string
        x-go-name: Service
        example: '[systems,radius,sso,directory,ldap,mdm,all]'
      sort:
        description: ASC or DESC order for timestamp
        type: string
        x-go-name: Sort
      start_time:
        description: query start time, UTC in RFC3339 format
        type: string
        format: date-time
  EventServiceTimeQuery:
    title: EventServiceTimeQuery
    description: |-
      EventServiceTimeQuery is the base struct for most event queries
      it includes the minimum-required fields of service and start/end times
    type: object
    required:
    - service
    - start_time
    properties:
      end_time:
        description: optional query end time, UTC in RFC3339 format
        type: string
        format: date-time
      service:
        description: 'service name to query. Known services: systems,radius,sso,directory,ldap,all'
        type: array
        items:
          type: string
        x-go-name: Service
        example: '[systems,radius,sso,directory,ldap,mdm,all]'
      start_time:
        description: query start time, UTC in RFC3339 format
        type: string
        format: date-time
  SearchTerm:
    title: SearchTerm
    description: |-
      SearchTerm is the filter portion of the query
      it contains only one of 'and' or 'or' conjunction maps
    type: object
    properties:
      and:
        $ref: '#/definitions/TermConjunction'
      or:
        $ref: '#/definitions/TermConjunction'
  TermConjunction:
    title: TermConjunction
    description: |-
      TermConjunction represents a conjunction (and/or)
      NOTE: the validator limits what the operator can be, not the object
      for future-proof-ness
      and a list of sub-values
    type: object
    additionalProperties: true

