verbose: true
base-folder: ..
help-link-prefix: https://github.com/TheJumpCloud/jcapi-powershell/tree/$(branch)/SDKs/PowerShell/
dll-name: JumpCloud.SDK.V1.private
debug: true
output-folder: SDKs/PowerShell/JumpCloud.SDK.V1
module-version: 0.1.0
powershell: true
input-file:
- SwaggerSpecs/JumpCloud.SDK.V1.json
module-name: JumpCloud.SDK.V1
prefix: JcSdkInternal
clear-output-folder: true
metadata:
  licenseUri: https://github.com/TheJumpCloud/jcapi-powershell/tree/$(branch)/LICENSE
  description: The JumpCloud V1 PowerShell SDK
  projectUri: https://github.com/TheJumpCloud/jcapi-powershell/tree/$(branch)/SDKs/PowerShell/JumpCloud.SDK.V1/
  iconUri: https://console.jumpcloud.com/img/login-viewport-logo.png
  requireLicenseAcceptance: false
  tags: JumpCloud, DaaS, Jump, Cloud, Directory
  owners: JumpCloud
  formatsToProcess: []
  companyName: JumpCloud
  copyright: (c) JumpCloud. All rights reserved.
  authors: JumpCloud
directive:
- where: $.definitions.commandresultssearchlist.properties.results.items.properties.system
  from: swagger-document
  transform: $["x-ms-client-name"] = "systemId";
- where: $.definitions.commandresultbycommandid.properties.system
  from: swagger-document
  transform: $["x-ms-client-name"] = "systemId";
- hide: true
  where:
    prefix: JcSdk
  from: swagger-document
namespace: JumpCloud.SDK.V1
branch: CUT-4908_userGroupDeviceGroupFilters
sample-generation: true
customFunctionPrefix: JcSdk
