{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://console.jumpcloud.com/api"
    }
  ],
  "info": {
    "contact": {
      "name": "JumpCloud Support",
      "url": "https://jumpcloud.com/support/contact-jumpcloud-support"
    },
    "description": "# Overview\n\nJumpCloud's V1 API. This set of endpoints allows JumpCloud customers to manage commands, systems, and system users.\n\n> **Note:** See [JumpCloud Data Centers: Login URLs and Service Endpoints](https://jumpcloud.com/support/jumpcloud-data-centers-login-urls-and-service-endpoints) to learn more.\n\n## API Best Practices\n\nRead the linked Help Article below for guidance on retrying failed requests to JumpCloud's REST API, as well as best practices for structuring subsequent retry requests. Customizing retry mechanisms based on these recommendations will increase the reliability and dependability of your API calls.\n\nCovered topics include:\n1. Important Considerations\n2. Supported HTTP Request Methods\n3. Response codes\n4. API Key rotation\n5. Paginating\n6. Error handling\n7. Retry rates\n\n[JumpCloud Help Center - API Best Practices](https://support.jumpcloud.com/support/s/article/JumpCloud-API-Best-Practices)\n\n# API Key\n\n## Access Your API Key\n\nTo locate your API Key:\n\n1. Log into the [JumpCloud Admin Console](https://console.jumpcloud.com/).\n2. Go to the username drop down located in the top-right of the Console.\n3. Retrieve your API key from API Settings.\n\n## API Key Considerations\n\nThis API key is associated to the currently logged in administrator. Other admins will have different API keys.\n\n**WARNING** Please keep this API key secret, as it grants full access to any data accessible via your JumpCloud console account.\n\nYou can also reset your API key in the same location in the JumpCloud Admin Console.\n\n## Recycling or Resetting Your API Key\n\nIn order to revoke access with the current API key, simply reset your API key. This will render all calls using the previous API key inaccessible.\n\nYour API key will be passed in as a header with the header name \"x-api-key\".\n\n```bash\ncurl -H \"x-api-key: [YOUR_API_KEY_HERE]\" \"https://console.jumpcloud.com/api/systemusers\"\n```\n\n# System Context\n\n* [Introduction](#introduction)\n* [Supported endpoints](#supported-endpoints)\n* [Response codes](#response-codes)\n* [Authentication](#authentication)\n* [Additional examples](#additional-examples)\n* [Third party](#third-party)\n\n## Introduction\n\nJumpCloud System Context Authorization is an alternative way to authenticate with a subset of JumpCloud's REST APIs. Using this method, a system can manage its information and resource associations, allowing modern auto provisioning environments to scale as needed.\n\n**Notes:**\n\n * The following documentation applies to Linux Operating Systems only.\n * Systems that have been automatically enrolled using Apple's Device Enrollment Program (DEP) or systems enrolled using the User Portal install are not eligible to use the System Context API to prevent unauthorized access to system groups and resources. If a script that utilizes the System Context API is invoked on a system enrolled in this way, it will display an error.\n\n## Supported Endpoints\n\nJumpCloud System Context Authorization can be used in conjunction with Systems endpoints found in the V1 API and certain System Group endpoints found in the v2 API.\n\n* A system may fetch, alter, and delete metadata about itself, including manipulating a system's Group and Systemuser associations,\n  * `/api/systems/{system_id}` | [`GET`](https://docs.jumpcloud.com/api/1.0/index.html#operation/systems_get) [`PUT`](https://docs.jumpcloud.com/api/1.0/index.html#operation/systems_put)\n* A system may delete itself from your JumpCloud organization\n  * `/api/systems/{system_id}` | [`DELETE`](https://docs.jumpcloud.com/api/1.0/index.html#operation/systems_delete)\n* A system may fetch its direct resource associations under v2 (Groups)\n  * `/api/v2/systems/{system_id}/memberof` | [`GET`](https://docs.jumpcloud.com/api/2.0/index.html#operation/graph_systemGroupMembership)\n  * `/api/v2/systems/{system_id}/associations` | [`GET`](https://docs.jumpcloud.com/api/2.0/index.html#operation/graph_systemAssociationsList)\n  * `/api/v2/systems/{system_id}/users` | [`GET`](https://docs.jumpcloud.com/api/2.0/index.html#operation/graph_systemTraverseUser)\n* A system may alter its direct resource associations under v2 (Groups)\n  * `/api/v2/systems/{system_id}/associations` | [`POST`](https://docs.jumpcloud.com/api/2.0/index.html#operation/graph_systemAssociationsPost)\n* A system may alter its System Group associations\n  * `/api/v2/systemgroups/{group_id}/members` | [`POST`](https://docs.jumpcloud.com/api/2.0/index.html#operation/graph_systemGroupMembersPost)\n    * _NOTE_ If a system attempts to alter the system group membership of a different system the request will be rejected\n\n## Response Codes\n\nIf endpoints other than those described above are called using the System Context API, the server will return a `401` response.\n\n## Authentication\n\nTo allow for secure access to our APIs, you must authenticate each API request.\nJumpCloud System Context Authorization uses [HTTP Signatures](https://tools.ietf.org/html/draft-cavage-http-signatures-00) to authenticate API requests.\nThe HTTP Signatures sent with each request are similar to the signatures used by the Amazon Web Services REST API.\nTo help with the request-signing process, we have provided an [example bash script](https://github.com/TheJumpCloud/SystemContextAPI/blob/master/examples/shell/SigningExample.sh). This example API request simply requests the entire system record. You must be root, or have permissions to access the contents of the `/opt/jc` directory to generate a signature.\n\nHere is a breakdown of the example script with explanations.\n\nFirst, the script extracts the systemKey from the JSON formatted `/opt/jc/jcagent.conf` file.\n\n```bash\n#!/bin/bash\nconf=\"`cat /opt/jc/jcagent.conf`\"\nregex=\"systemKey\\\":\\\"(\\w+)\\\"\"\n\nif [[ $conf =~ $regex ]] ; then\n  systemKey=\"${BASH_REMATCH[1]}\"\nfi\n```\n\nThen, the script retrieves the current date in the correct format.\n\n```bash\nnow=`date -u \"+%a, %d %h %Y %H:%M:%S GMT\"`;\n```\n\nNext, we build a signing string to demonstrate the expected signature format. The signed string must consist of the [request-line](https://tools.ietf.org/html/rfc2616#page-35) and the date header, separated by a newline character.\n\n```bash\nsignstr=\"GET /api/systems/${systemKey} HTTP/1.1\\ndate: ${now}\"\n```\n\nThe next step is to calculate and apply the signature. This is a two-step process:\n\n1. Create a signature from the signing string using the JumpCloud Agent private key: ``printf \"$signstr\" | openssl dgst -sha256 -sign /opt/jc/client.key``\n2. Then Base64-encode the signature string and trim off the newline characters: ``| openssl enc -e -a | tr -d '\\n'``\n\nThe combined steps above result in:\n\n```bash\nsignature=`printf \"$signstr\" | openssl dgst -sha256 -sign /opt/jc/client.key | openssl enc -e -a | tr -d '\\n'` ;\n```\n\nFinally, we make sure the API call sending the signature has the same Authorization and Date header values, HTTP method, and URL that were used in the signing string.\n\n```bash\ncurl -iq \\\n  -H \"Accept: application/json\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Date: ${now}\" \\\n  -H \"Authorization: Signature keyId=\\\"system/${systemKey}\\\",headers=\\\"request-line date\\\",algorithm=\\\"rsa-sha256\\\",signature=\\\"${signature}\\\"\" \\\n  --url https://console.jumpcloud.com/api/systems/${systemKey}\n```\n\n### Input Data\n\nAll PUT and POST methods should use the HTTP Content-Type header with a value of 'application/json'. PUT methods are used for updating a record. POST methods are used to create a record.\n\nThe following example demonstrates how to update the `displayName` of the system.\n\n```bash\nsignstr=\"PUT /api/systems/${systemKey} HTTP/1.1\\ndate: ${now}\"\nsignature=`printf \"$signstr\" | openssl dgst -sha256 -sign /opt/jc/client.key | openssl enc -e -a | tr -d '\\n'` ;\n\ncurl -iq \\\n  -d \"{\\\"displayName\\\" : \\\"updated-system-name-1\\\"}\" \\\n  -X \"PUT\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Accept: application/json\" \\\n  -H \"Date: ${now}\" \\\n  -H \"Authorization: Signature keyId=\\\"system/${systemKey}\\\",headers=\\\"request-line date\\\",algorithm=\\\"rsa-sha256\\\",signature=\\\"${signature}\\\"\" \\\n  --url https://console.jumpcloud.com/api/systems/${systemKey}\n```\n\n### Output Data\n\nAll results will be formatted as JSON.\n\nHere is an abbreviated example of response output:\n\n```json\n{\n  \"_id\": \"625ee96f52e144993e000015\",\n  \"agentServer\": \"lappy386\",\n  \"agentVersion\": \"0.9.42\",\n  \"arch\": \"x86_64\",\n  \"displayName\": \"ubuntu-1204\",\n  \"firstContact\": \"2013-10-16T19:30:55.611Z\",\n  \"hostname\": \"ubuntu-1204\"\n  ...\n```\n\n## Additional Examples\n\n### Signing Authentication Example\n\nThis example demonstrates how to make an authenticated request to fetch the JumpCloud record for this system.\n\n[SigningExample.sh](https://github.com/TheJumpCloud/SystemContextAPI/blob/master/examples/shell/SigningExample.sh)\n\n### Shutdown Hook\n\nThis example demonstrates how to make an authenticated request on system shutdown.\nUsing an init.d script registered at run level 0, you can call the System Context API as the system is shutting down.\n\n[Instance-shutdown-initd](https://github.com/TheJumpCloud/SystemContextAPI/blob/master/examples/instance-shutdown-initd) is an example of an init.d script that only runs at system shutdown.\n\nAfter customizing the [instance-shutdown-initd](https://github.com/TheJumpCloud/SystemContextAPI/blob/master/examples/instance-shutdown-initd) script, you should install it on the system(s) running the JumpCloud agent.\n\n1. Copy the modified [instance-shutdown-initd](https://github.com/TheJumpCloud/SystemContextAPI/blob/master/examples/instance-shutdown-initd) to `/etc/init.d/instance-shutdown`.\n2. On Ubuntu systems, run `update-rc.d instance-shutdown defaults`. On RedHat/CentOS systems, run `chkconfig --add instance-shutdown`.\n\n## Third Party\n\n### Chef Cookbooks\n\n[https://github.com/nshenry03/jumpcloud](https://github.com/nshenry03/jumpcloud)\n\n[https://github.com/cjs226/jumpcloud](https://github.com/cjs226/jumpcloud)\n\n# Multi-Tenant Portal Headers\n\nMulti-Tenant Organization API Headers are available for JumpCloud Admins to use when making API requests from Organizations that have multiple managed organizations.\nThe `x-org-id` is a required header for all multi-tenant admins when making API requests to JumpCloud. This header will define to which organization you would like to make the request.\n\n**NOTE** Single Tenant Admins do not need to provide this header when making an API request.\n\n## Header Value\n\n`x-org-id`\n\n## API Response Codes\n\n* `400` Malformed ID.\n* `400` x-org-id and Organization path ID do not match.\n* `401` ID not included for multi-tenant admin\n* `403` ID included on unsupported route.\n* `404` Organization ID Not Found.\n\n```bash\ncurl -X GET https://console.jumpcloud.com/api/v2/directories \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -H 'x-org-id: {ORG_ID}'\n\n```\n\n## To Obtain an Individual Organization ID via the UI\n\nAs a prerequisite, your Primary Organization will need to be setup for Multi-Tenancy. This provides access to the Multi-Tenant Organization Admin Portal.\n\n1. Log into JumpCloud [Admin Console](https://console.jumpcloud.com). If you are a multi-tenant Admin, you will automatically be routed to the Multi-Tenant Admin Portal.\n2. From the Multi-Tenant Portal's primary navigation bar, select the Organization you'd like to access.\n3. You will automatically be routed to that Organization's Admin Console.\n4. Go to Settings in the sub-tenant's primary navigation.\n5. You can obtain your Organization ID below your Organization's Contact Information on the Settings page.\n\n## To Obtain All Organization IDs via the API\n\n* You can make an API request to this endpoint using the API key of your Primary Organization.  `https://console.jumpcloud.com/api/organizations/` This will return all your managed organizations.\n\n```bash\ncurl -X GET \\\n  https://console.jumpcloud.com/api/organizations/ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```\n\n# SDKs\n\nYou can find language specific SDKs that can help you kickstart your Integration with JumpCloud in the following GitHub repositories:\n\n* [Python](https://github.com/TheJumpCloud/jcapi-python)\n* [Go](https://github.com/TheJumpCloud/jcapi-go)\n* [Ruby](https://github.com/TheJumpCloud/jcapi-ruby)\n* [Java](https://github.com/TheJumpCloud/jcapi-java)\n",
    "title": "JumpCloud API",
    "version": "1.0"
  },
  "paths": {
    "/application-templates": {
      "get": {
        "tags": [
          "Application Templates"
        ],
        "summary": "List Application Templates",
        "description": "The endpoint returns all the SSO / SAML Application Templates.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/application-templates \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n\n```",
        "operationId": "application_templates_list",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "The space separated fields included in the returned records. If omitted the default list of fields will be returned.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return at once.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The offset into the records to return.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The space separated fields used to sort the collection. Default sort is ascending, prefix with - to sort descending.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "allowReserved": true
          },
          {
            "name": "filter",
            "in": "query",
            "description": "A filter to apply to the query. See the supported operators below. For more complex searches,\nsee the related `/search/<domain>` endpoints,\ne.g. `/search/systems`.\n\n**Filter structure**: The filter syntax follows a consistent pattern of `<field>:<operator>:<value>` (e.g. `department:$eq:Finance`)\n\n**field** = Populate with a valid field from an endpoint response.\n\n**operator** = Supported operators are:\n- `$eq` - equals (exact match)\n- `$in` - equals (multiple match terms). Separate terms by `|` character: `<field>:$in:<term one>|<term two>`\n  - any item with `<field>` that matches ANY of the match terms will be returned\n  - to use a literal `|` character inside a match term, it must be \"escaped\" using a backslash `\\` (`\"\\|\"`)\n    - for `GET` endpoints, only ONE backslash is needed: `costCenter:$in:Atlanta\\|Tampa|Chicago`\n    - for `POST` endpoints, TWO backslashes are needed due to the nature of JSON: `costCenter:$in:Atlanta\\\\|Tampa|Chicago`\n    - resulting match terms: `\"Atlanta|Tampa\", \"Chicago\"`\n- `$ne` - does not equal\n- `$nin` - does not equal (multiple match terms). Separate terms by `|` character: `<field>:$nin:<term one>|<term two>`\n  - any item with `<field>` that DOES NOT match ANY of the match terms will be returned\n  - refer to above `$in` documentation on using literal `|` character in match terms\n- `$lt` - is less than\n- `$lte` - is less than or equal to\n- `$gt` - is greater than\n- `$gte` - is greater than or equal to\n- `$sw` - Finds items where the field value begins with the specified term.\n\n**Eventually Consistent Operators** = These advanced operators support multiple-term matching and **require the `x-eventually-consistent` API request header** to be set as `true`. Terms within the `value` must be separated by the `|` character.\n- `$sw` - Matches any item where the field value **begins** with **any one** of the provided terms. E.g `<field>:$sw:<term one>|<term two>`\n- `$ew` - Matches any item where the field value **ends** with **any one** of the provided terms. E.g `<field>:$ew:<term one>|<term two>`\n- `$co` - Matches any item where the field value **contains** **any one** of the provided terms. E.g `<field>:$co:<term one>|<term two>`\n- `$nco` - Matches any item where the field value **does not contain** any of the provided terms. E.g `<field>:$nco:<term one>|<term two>`\n\n_Note: v1 operators differ from v2 operators._\n\n_Note: For v1 operators, excluding the `$` will result in undefined behavior **and is not recommended.**_\n\n**value** = Populate with the value you want to search for. **Case sensitive**.\n\n**Examples**\n- `GET /users?filter=username:$eq:testuser`\n- `GET /systemusers?filter=department:$in:Finance|IT|Shipping & Receiving` - an item with `{ department: \"IT\" }` will match\n- `GET /systemusers?filter=department:$in:Finance \\| Sales|IT` - an item with `{ department: \"Finance | Sales\" }` will match\n- `GET /systemusers?filter=department:$ne:Accounting`\n- `GET /systemusers?filter=department:$nin:Finance|IT|Shipping & Receiving` - an item with `{ department: \"HR\" }` will match\n- `GET /systemusers?filter=password_expiration_date:$lte:2021-10-24`\n- `GET /systems?filter[0]=firstname:$eq:foo&filter[1]=lastname:$eq:bar` - this will AND the filters together.\n- `GET /systems?filter[or][0]=lastname:$eq:foo&filter[or][1]=lastname:$eq:bar` - this will OR the filters together.\n- `GET /systemusers?filter=department:$sw:Shipping` - an item with `{ department: \"Shipping & Receiving\" }` will match\n- `GET /systemusers?filter=department:$sw:Shipping\\|Receiving` - an item with `{ department: \"Shipping|Receiving Item\" }` will match\n- `GET /systemusers?filter=department:$sw:Shipping|Receiving` - an item with `{ department: \"Shipping Item\" }` will match or an item with `{ department: \"Receiving Item\" }` will match. **Use it with `x-eventually-consistent` header set to `true`:**",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "allowReserved": true
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/applicationtemplateslist"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "applicationtemplates",
          "applicationtemplates.readonly"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request GET \\\n  --url 'https://console.jumpcloud.com/api/application-templates?fields=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE&filter=SOME_STRING_VALUE' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/application-templates\"\n\nquerystring = {\"fields\":\"SOME_STRING_VALUE\",\"limit\":\"SOME_INTEGER_VALUE\",\"skip\":\"SOME_INTEGER_VALUE\",\"sort\":\"SOME_STRING_VALUE\",\"filter\":\"SOME_STRING_VALUE\"}\n\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/application-templates?fields=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE&filter=SOME_STRING_VALUE' -Method GET -Headers $headers"
          }
        ]
      },
      "x-functionalities-tags": [
        "application-templates"
      ]
    },
    "/application-templates/{id}": {
      "get": {
        "tags": [
          "Application Templates"
        ],
        "summary": "Get an Application Template",
        "description": "The endpoint returns a specific SSO / SAML Application Template.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/application-templates/{id} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n\n```",
        "operationId": "application_templates_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The space separated fields included in the returned records. If omitted the default list of fields will be returned.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return at once.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The offset into the records to return.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The space separated fields used to sort the collection. Default sort is ascending, prefix with - to sort descending.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "allowReserved": true
          },
          {
            "name": "filter",
            "in": "query",
            "description": "A filter to apply to the query. See the supported operators below. For more complex searches,\nsee the related `/search/<domain>` endpoints,\ne.g. `/search/systems`.\n\n**Filter structure**: The filter syntax follows a consistent pattern of `<field>:<operator>:<value>` (e.g. `department:$eq:Finance`)\n\n**field** = Populate with a valid field from an endpoint response.\n\n**operator** = Supported operators are:\n- `$eq` - equals (exact match)\n- `$in` - equals (multiple match terms). Separate terms by `|` character: `<field>:$in:<term one>|<term two>`\n  - any item with `<field>` that matches ANY of the match terms will be returned\n  - to use a literal `|` character inside a match term, it must be \"escaped\" using a backslash `\\` (`\"\\|\"`)\n    - for `GET` endpoints, only ONE backslash is needed: `costCenter:$in:Atlanta\\|Tampa|Chicago`\n    - for `POST` endpoints, TWO backslashes are needed due to the nature of JSON: `costCenter:$in:Atlanta\\\\|Tampa|Chicago`\n    - resulting match terms: `\"Atlanta|Tampa\", \"Chicago\"`\n- `$ne` - does not equal\n- `$nin` - does not equal (multiple match terms). Separate terms by `|` character: `<field>:$nin:<term one>|<term two>`\n  - any item with `<field>` that DOES NOT match ANY of the match terms will be returned\n  - refer to above `$in` documentation on using literal `|` character in match terms\n- `$lt` - is less than\n- `$lte` - is less than or equal to\n- `$gt` - is greater than\n- `$gte` - is greater than or equal to\n- `$sw` - Finds items where the field value begins with the specified term.\n\n**Eventually Consistent Operators** = These advanced operators support multiple-term matching and **require the `x-eventually-consistent` API request header** to be set as `true`. Terms within the `value` must be separated by the `|` character.\n- `$sw` - Matches any item where the field value **begins** with **any one** of the provided terms. E.g `<field>:$sw:<term one>|<term two>`\n- `$ew` - Matches any item where the field value **ends** with **any one** of the provided terms. E.g `<field>:$ew:<term one>|<term two>`\n- `$co` - Matches any item where the field value **contains** **any one** of the provided terms. E.g `<field>:$co:<term one>|<term two>`\n- `$nco` - Matches any item where the field value **does not contain** any of the provided terms. E.g `<field>:$nco:<term one>|<term two>`\n\n_Note: v1 operators differ from v2 operators._\n\n_Note: For v1 operators, excluding the `$` will result in undefined behavior **and is not recommended.**_\n\n**value** = Populate with the value you want to search for. **Case sensitive**.\n\n**Examples**\n- `GET /users?filter=username:$eq:testuser`\n- `GET /systemusers?filter=department:$in:Finance|IT|Shipping & Receiving` - an item with `{ department: \"IT\" }` will match\n- `GET /systemusers?filter=department:$in:Finance \\| Sales|IT` - an item with `{ department: \"Finance | Sales\" }` will match\n- `GET /systemusers?filter=department:$ne:Accounting`\n- `GET /systemusers?filter=department:$nin:Finance|IT|Shipping & Receiving` - an item with `{ department: \"HR\" }` will match\n- `GET /systemusers?filter=password_expiration_date:$lte:2021-10-24`\n- `GET /systems?filter[0]=firstname:$eq:foo&filter[1]=lastname:$eq:bar` - this will AND the filters together.\n- `GET /systems?filter[or][0]=lastname:$eq:foo&filter[or][1]=lastname:$eq:bar` - this will OR the filters together.\n- `GET /systemusers?filter=department:$sw:Shipping` - an item with `{ department: \"Shipping & Receiving\" }` will match\n- `GET /systemusers?filter=department:$sw:Shipping\\|Receiving` - an item with `{ department: \"Shipping|Receiving Item\" }` will match\n- `GET /systemusers?filter=department:$sw:Shipping|Receiving` - an item with `{ department: \"Shipping Item\" }` will match or an item with `{ department: \"Receiving Item\" }` will match. **Use it with `x-eventually-consistent` header set to `true`:**",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "allowReserved": true
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/applicationtemplate"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "applicationtemplates",
          "applicationtemplates.readonly"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request GET \\\n  --url 'https://console.jumpcloud.com/api/application-templates/{id}?fields=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE&filter=SOME_STRING_VALUE' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/application-templates/{id}\"\n\nquerystring = {\"fields\":\"SOME_STRING_VALUE\",\"limit\":\"SOME_INTEGER_VALUE\",\"skip\":\"SOME_INTEGER_VALUE\",\"sort\":\"SOME_STRING_VALUE\",\"filter\":\"SOME_STRING_VALUE\"}\n\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/application-templates/{id}?fields=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE&filter=SOME_STRING_VALUE' -Method GET -Headers $headers"
          }
        ]
      },
      "x-functionalities-tags": [
        "application-templates"
      ]
    },
    "/applications": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Applications",
        "description": "The endpoint returns all your SSO / SAML Applications.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/applications \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n\n```",
        "operationId": "applications_list",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "The space separated fields included in the returned records. If omitted the default list of fields will be returned.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return at once.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The offset into the records to return.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The space separated fields used to sort the collection. Default sort is ascending, prefix with - to sort descending.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "name"
            },
            "allowReserved": true
          },
          {
            "name": "filter",
            "in": "query",
            "description": "A filter to apply to the query. See the supported operators below. For more complex searches,\nsee the related `/search/<domain>` endpoints,\ne.g. `/search/systems`.\n\n**Filter structure**: The filter syntax follows a consistent pattern of `<field>:<operator>:<value>` (e.g. `department:$eq:Finance`)\n\n**field** = Populate with a valid field from an endpoint response.\n\n**operator** = Supported operators are:\n- `$eq` - equals (exact match)\n- `$in` - equals (multiple match terms). Separate terms by `|` character: `<field>:$in:<term one>|<term two>`\n  - any item with `<field>` that matches ANY of the match terms will be returned\n  - to use a literal `|` character inside a match term, it must be \"escaped\" using a backslash `\\` (`\"\\|\"`)\n    - for `GET` endpoints, only ONE backslash is needed: `costCenter:$in:Atlanta\\|Tampa|Chicago`\n    - for `POST` endpoints, TWO backslashes are needed due to the nature of JSON: `costCenter:$in:Atlanta\\\\|Tampa|Chicago`\n    - resulting match terms: `\"Atlanta|Tampa\", \"Chicago\"`\n- `$ne` - does not equal\n- `$nin` - does not equal (multiple match terms). Separate terms by `|` character: `<field>:$nin:<term one>|<term two>`\n  - any item with `<field>` that DOES NOT match ANY of the match terms will be returned\n  - refer to above `$in` documentation on using literal `|` character in match terms\n- `$lt` - is less than\n- `$lte` - is less than or equal to\n- `$gt` - is greater than\n- `$gte` - is greater than or equal to\n- `$sw` - Finds items where the field value begins with the specified term.\n\n**Eventually Consistent Operators** = These advanced operators support multiple-term matching and **require the `x-eventually-consistent` API request header** to be set as `true`. Terms within the `value` must be separated by the `|` character.\n- `$sw` - Matches any item where the field value **begins** with **any one** of the provided terms. E.g `<field>:$sw:<term one>|<term two>`\n- `$ew` - Matches any item where the field value **ends** with **any one** of the provided terms. E.g `<field>:$ew:<term one>|<term two>`\n- `$co` - Matches any item where the field value **contains** **any one** of the provided terms. E.g `<field>:$co:<term one>|<term two>`\n- `$nco` - Matches any item where the field value **does not contain** any of the provided terms. E.g `<field>:$nco:<term one>|<term two>`\n\n_Note: v1 operators differ from v2 operators._\n\n_Note: For v1 operators, excluding the `$` will result in undefined behavior **and is not recommended.**_\n\n**value** = Populate with the value you want to search for. **Case sensitive**.\n\n**Examples**\n- `GET /users?filter=username:$eq:testuser`\n- `GET /systemusers?filter=department:$in:Finance|IT|Shipping & Receiving` - an item with `{ department: \"IT\" }` will match\n- `GET /systemusers?filter=department:$in:Finance \\| Sales|IT` - an item with `{ department: \"Finance | Sales\" }` will match\n- `GET /systemusers?filter=department:$ne:Accounting`\n- `GET /systemusers?filter=department:$nin:Finance|IT|Shipping & Receiving` - an item with `{ department: \"HR\" }` will match\n- `GET /systemusers?filter=password_expiration_date:$lte:2021-10-24`\n- `GET /systems?filter[0]=firstname:$eq:foo&filter[1]=lastname:$eq:bar` - this will AND the filters together.\n- `GET /systems?filter[or][0]=lastname:$eq:foo&filter[or][1]=lastname:$eq:bar` - this will OR the filters together.\n- `GET /systemusers?filter=department:$sw:Shipping` - an item with `{ department: \"Shipping & Receiving\" }` will match\n- `GET /systemusers?filter=department:$sw:Shipping\\|Receiving` - an item with `{ department: \"Shipping|Receiving Item\" }` will match\n- `GET /systemusers?filter=department:$sw:Shipping|Receiving` - an item with `{ department: \"Shipping Item\" }` will match or an item with `{ department: \"Receiving Item\" }` will match. **Use it with `x-eventually-consistent` header set to `true`:**",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "allowReserved": true
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/applicationslist"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "applications",
          "applications.readonly"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request GET \\\n  --url 'https://console.jumpcloud.com/api/applications?fields=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE&filter=SOME_STRING_VALUE' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/applications\"\n\nquerystring = {\"fields\":\"SOME_STRING_VALUE\",\"limit\":\"SOME_INTEGER_VALUE\",\"skip\":\"SOME_INTEGER_VALUE\",\"sort\":\"SOME_STRING_VALUE\",\"filter\":\"SOME_STRING_VALUE\"}\n\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/applications?fields=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE&filter=SOME_STRING_VALUE' -Method GET -Headers $headers"
          }
        ]
      },
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Create an Application",
        "description": "The endpoint adds a new SSO / SAML Applications.",
        "operationId": "applications_post",
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/application"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/application"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "applications",
          "applications.create"
        ],
        "x-codegen-request-body-name": "body",
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request POST \\\n  --url https://console.jumpcloud.com/api/applications \\\n  --header 'content-type: application/json' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE' \\\n  --data '{\"_id\":\"string\",\"active\":true,\"beta\":true,\"color\":\"\",\"config\":{\"spErrorFlow\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":true,\"visible\":true},\"signAssertion\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":true,\"visible\":true},\"signResponse\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":true,\"visible\":true},\"acsUrl\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":\"string\",\"visible\":true},\"constantAttributes\":{\"label\":\"string\",\"mutable\":true,\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":[{\"name\":\"string\",\"readOnly\":true,\"required\":true,\"value\":\"string\",\"visible\":true}],\"visible\":true},\"databaseAttributes\":{\"position\":0},\"idpCertificate\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":\"string\",\"visible\":true},\"idpEntityId\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":\"string\",\"visible\":true},\"idpPrivateKey\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":\"string\",\"visible\":true},\"spEntityId\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":\"string\",\"visible\":true},\"authClaimConfiguration\":{\"type\":\"string\",\"visible\":true,\"sendAmrClaim\":{\"type\":\"string\",\"value\":true,\"readOnly\":true},\"authnContextMode\":{\"type\":\"string\",\"value\":\"string\"},\"singleAuthnContextValue\":{\"type\":\"string\",\"value\":\"string\"},\"authnContextMappings\":{\"type\":\"string\",\"value\":[{}]}}},\"created\":\"string\",\"databaseAttributes\":[{}],\"description\":\"string\",\"displayLabel\":\"string\",\"displayName\":\"string\",\"learnMore\":\"string\",\"logo\":{\"color\":\"\",\"url\":\"string\"},\"name\":\"string\",\"organization\":\"string\",\"sso\":{\"type\":\"string\",\"beta\":true,\"jit\":true,\"idpCertExpirationAt\":\"2019-08-24T14:15:22Z\",\"hidden\":true},\"ssoUrl\":\"string\",\"parentApp\":\"string\"}'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/applications\"\n\npayload = {\n    \"_id\": \"string\",\n    \"active\": True,\n    \"beta\": True,\n    \"color\": \"\",\n    \"config\": {\n        \"spErrorFlow\": {\n            \"label\": \"string\",\n            \"position\": 0,\n            \"readOnly\": True,\n            \"required\": True,\n            \"tooltip\": {\n                \"template\": \"string\",\n                \"variables\": {\n                    \"icon\": \"string\",\n                    \"message\": \"string\"\n                }\n            },\n            \"type\": \"string\",\n            \"value\": True,\n            \"visible\": True\n        },\n        \"signAssertion\": {\n            \"label\": \"string\",\n            \"position\": 0,\n            \"readOnly\": True,\n            \"required\": True,\n            \"tooltip\": {\n                \"template\": \"string\",\n                \"variables\": {\n                    \"icon\": \"string\",\n                    \"message\": \"string\"\n                }\n            },\n            \"type\": \"string\",\n            \"value\": True,\n            \"visible\": True\n        },\n        \"signResponse\": {\n            \"label\": \"string\",\n            \"position\": 0,\n            \"readOnly\": True,\n            \"required\": True,\n            \"tooltip\": {\n                \"template\": \"string\",\n                \"variables\": {\n                    \"icon\": \"string\",\n                    \"message\": \"string\"\n                }\n            },\n            \"type\": \"string\",\n            \"value\": True,\n            \"visible\": True\n        },\n        \"acsUrl\": {\n            \"label\": \"string\",\n            \"position\": 0,\n            \"readOnly\": True,\n            \"required\": True,\n            \"tooltip\": {\n                \"template\": \"string\",\n                \"variables\": {\n                    \"icon\": \"string\",\n                    \"message\": \"string\"\n                }\n            },\n            \"type\": \"string\",\n            \"value\": \"string\",\n            \"visible\": True\n        },\n        \"constantAttributes\": {\n            \"label\": \"string\",\n            \"mutable\": True,\n            \"position\": 0,\n            \"readOnly\": True,\n            \"required\": True,\n            \"tooltip\": {\n                \"template\": \"string\",\n                \"variables\": {\n                    \"icon\": \"string\",\n                    \"message\": \"string\"\n                }\n            },\n            \"type\": \"string\",\n            \"value\": [\n                {\n                    \"name\": \"string\",\n                    \"readOnly\": True,\n                    \"required\": True,\n                    \"value\": \"string\",\n                    \"visible\": True\n                }\n            ],\n            \"visible\": True\n        },\n        \"databaseAttributes\": {\"position\": 0},\n        \"idpCertificate\": {\n            \"label\": \"string\",\n            \"position\": 0,\n            \"readOnly\": True,\n            \"required\": True,\n            \"tooltip\": {\n                \"template\": \"string\",\n                \"variables\": {\n                    \"icon\": \"string\",\n                    \"message\": \"string\"\n                }\n            },\n            \"type\": \"string\",\n            \"value\": \"string\",\n            \"visible\": True\n        },\n        \"idpEntityId\": {\n            \"label\": \"string\",\n            \"position\": 0,\n            \"readOnly\": True,\n            \"required\": True,\n            \"tooltip\": {\n                \"template\": \"string\",\n                \"variables\": {\n                    \"icon\": \"string\",\n                    \"message\": \"string\"\n                }\n            },\n            \"type\": \"string\",\n            \"value\": \"string\",\n            \"visible\": True\n        },\n        \"idpPrivateKey\": {\n            \"label\": \"string\",\n            \"position\": 0,\n            \"readOnly\": True,\n            \"required\": True,\n            \"tooltip\": {\n                \"template\": \"string\",\n                \"variables\": {\n                    \"icon\": \"string\",\n                    \"message\": \"string\"\n                }\n            },\n            \"type\": \"string\",\n            \"value\": \"string\",\n            \"visible\": True\n        },\n        \"spEntityId\": {\n            \"label\": \"string\",\n            \"position\": 0,\n            \"readOnly\": True,\n            \"required\": True,\n            \"tooltip\": {\n                \"template\": \"string\",\n                \"variables\": {\n                    \"icon\": \"string\",\n                    \"message\": \"string\"\n                }\n            },\n            \"type\": \"string\",\n            \"value\": \"string\",\n            \"visible\": True\n        },\n        \"authClaimConfiguration\": {\n            \"type\": \"string\",\n            \"visible\": True,\n            \"sendAmrClaim\": {\n                \"type\": \"string\",\n                \"value\": True,\n                \"readOnly\": True\n            },\n            \"authnContextMode\": {\n                \"type\": \"string\",\n                \"value\": \"string\"\n            },\n            \"singleAuthnContextValue\": {\n                \"type\": \"string\",\n                \"value\": \"string\"\n            },\n            \"authnContextMappings\": {\n                \"type\": \"string\",\n                \"value\": [{}]\n            }\n        }\n    },\n    \"created\": \"string\",\n    \"databaseAttributes\": [{}],\n    \"description\": \"string\",\n    \"displayLabel\": \"string\",\n    \"displayName\": \"string\",\n    \"learnMore\": \"string\",\n    \"logo\": {\n        \"color\": \"\",\n        \"url\": \"string\"\n    },\n    \"name\": \"string\",\n    \"organization\": \"string\",\n    \"sso\": {\n        \"type\": \"string\",\n        \"beta\": True,\n        \"jit\": True,\n        \"idpCertExpirationAt\": \"2019-08-24T14:15:22Z\",\n        \"hidden\": True\n    },\n    \"ssoUrl\": \"string\",\n    \"parentApp\": \"string\"\n}\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\",\n    \"content-type\": \"application/json\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$headers.Add(\"content-type\", \"application/json\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/applications' -Method POST -Headers $headers -ContentType 'application/json' -Body '{\"_id\":\"string\",\"active\":true,\"beta\":true,\"color\":\"\",\"config\":{\"spErrorFlow\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":true,\"visible\":true},\"signAssertion\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":true,\"visible\":true},\"signResponse\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":true,\"visible\":true},\"acsUrl\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":\"string\",\"visible\":true},\"constantAttributes\":{\"label\":\"string\",\"mutable\":true,\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":[{\"name\":\"string\",\"readOnly\":true,\"required\":true,\"value\":\"string\",\"visible\":true}],\"visible\":true},\"databaseAttributes\":{\"position\":0},\"idpCertificate\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":\"string\",\"visible\":true},\"idpEntityId\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":\"string\",\"visible\":true},\"idpPrivateKey\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":\"string\",\"visible\":true},\"spEntityId\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":\"string\",\"visible\":true},\"authClaimConfiguration\":{\"type\":\"string\",\"visible\":true,\"sendAmrClaim\":{\"type\":\"string\",\"value\":true,\"readOnly\":true},\"authnContextMode\":{\"type\":\"string\",\"value\":\"string\"},\"singleAuthnContextValue\":{\"type\":\"string\",\"value\":\"string\"},\"authnContextMappings\":{\"type\":\"string\",\"value\":[{}]}}},\"created\":\"string\",\"databaseAttributes\":[{}],\"description\":\"string\",\"displayLabel\":\"string\",\"displayName\":\"string\",\"learnMore\":\"string\",\"logo\":{\"color\":\"\",\"url\":\"string\"},\"name\":\"string\",\"organization\":\"string\",\"sso\":{\"type\":\"string\",\"beta\":true,\"jit\":true,\"idpCertExpirationAt\":\"2019-08-24T14:15:22Z\",\"hidden\":true},\"ssoUrl\":\"string\",\"parentApp\":\"string\"}'"
          }
        ]
      },
      "x-functionalities-tags": [
        "applications"
      ]
    },
    "/applications/{id}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get an Application",
        "description": "The endpoint retrieves an SSO / SAML Application.",
        "operationId": "applications_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/application"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "applications",
          "applications.readonly"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request GET \\\n  --url https://console.jumpcloud.com/api/applications/{id} \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/applications/{id}\"\n\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"GET\", url, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/applications/{id}' -Method GET -Headers $headers"
          }
        ]
      },
      "put": {
        "tags": [
          "Applications"
        ],
        "summary": "Update an Application",
        "description": "The endpoint updates a SSO / SAML Application. Any fields not provided will be reset or created with default values.",
        "operationId": "applications_put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/application"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/application"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "applications",
          "applications.update"
        ],
        "x-codegen-request-body-name": "body",
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request PUT \\\n  --url https://console.jumpcloud.com/api/applications/{id} \\\n  --header 'content-type: application/json' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE' \\\n  --data '{\"_id\":\"string\",\"active\":true,\"beta\":true,\"color\":\"\",\"config\":{\"spErrorFlow\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":true,\"visible\":true},\"signAssertion\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":true,\"visible\":true},\"signResponse\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":true,\"visible\":true},\"acsUrl\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":\"string\",\"visible\":true},\"constantAttributes\":{\"label\":\"string\",\"mutable\":true,\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":[{\"name\":\"string\",\"readOnly\":true,\"required\":true,\"value\":\"string\",\"visible\":true}],\"visible\":true},\"databaseAttributes\":{\"position\":0},\"idpCertificate\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":\"string\",\"visible\":true},\"idpEntityId\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":\"string\",\"visible\":true},\"idpPrivateKey\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":\"string\",\"visible\":true},\"spEntityId\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":\"string\",\"visible\":true},\"authClaimConfiguration\":{\"type\":\"string\",\"visible\":true,\"sendAmrClaim\":{\"type\":\"string\",\"value\":true,\"readOnly\":true},\"authnContextMode\":{\"type\":\"string\",\"value\":\"string\"},\"singleAuthnContextValue\":{\"type\":\"string\",\"value\":\"string\"},\"authnContextMappings\":{\"type\":\"string\",\"value\":[{}]}}},\"created\":\"string\",\"databaseAttributes\":[{}],\"description\":\"string\",\"displayLabel\":\"string\",\"displayName\":\"string\",\"learnMore\":\"string\",\"logo\":{\"color\":\"\",\"url\":\"string\"},\"name\":\"string\",\"organization\":\"string\",\"sso\":{\"type\":\"string\",\"beta\":true,\"jit\":true,\"idpCertExpirationAt\":\"2019-08-24T14:15:22Z\",\"hidden\":true},\"ssoUrl\":\"string\",\"parentApp\":\"string\"}'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/applications/{id}\"\n\npayload = {\n    \"_id\": \"string\",\n    \"active\": True,\n    \"beta\": True,\n    \"color\": \"\",\n    \"config\": {\n        \"spErrorFlow\": {\n            \"label\": \"string\",\n            \"position\": 0,\n            \"readOnly\": True,\n            \"required\": True,\n            \"tooltip\": {\n                \"template\": \"string\",\n                \"variables\": {\n                    \"icon\": \"string\",\n                    \"message\": \"string\"\n                }\n            },\n            \"type\": \"string\",\n            \"value\": True,\n            \"visible\": True\n        },\n        \"signAssertion\": {\n            \"label\": \"string\",\n            \"position\": 0,\n            \"readOnly\": True,\n            \"required\": True,\n            \"tooltip\": {\n                \"template\": \"string\",\n                \"variables\": {\n                    \"icon\": \"string\",\n                    \"message\": \"string\"\n                }\n            },\n            \"type\": \"string\",\n            \"value\": True,\n            \"visible\": True\n        },\n        \"signResponse\": {\n            \"label\": \"string\",\n            \"position\": 0,\n            \"readOnly\": True,\n            \"required\": True,\n            \"tooltip\": {\n                \"template\": \"string\",\n                \"variables\": {\n                    \"icon\": \"string\",\n                    \"message\": \"string\"\n                }\n            },\n            \"type\": \"string\",\n            \"value\": True,\n            \"visible\": True\n        },\n        \"acsUrl\": {\n            \"label\": \"string\",\n            \"position\": 0,\n            \"readOnly\": True,\n            \"required\": True,\n            \"tooltip\": {\n                \"template\": \"string\",\n                \"variables\": {\n                    \"icon\": \"string\",\n                    \"message\": \"string\"\n                }\n            },\n            \"type\": \"string\",\n            \"value\": \"string\",\n            \"visible\": True\n        },\n        \"constantAttributes\": {\n            \"label\": \"string\",\n            \"mutable\": True,\n            \"position\": 0,\n            \"readOnly\": True,\n            \"required\": True,\n            \"tooltip\": {\n                \"template\": \"string\",\n                \"variables\": {\n                    \"icon\": \"string\",\n                    \"message\": \"string\"\n                }\n            },\n            \"type\": \"string\",\n            \"value\": [\n                {\n                    \"name\": \"string\",\n                    \"readOnly\": True,\n                    \"required\": True,\n                    \"value\": \"string\",\n                    \"visible\": True\n                }\n            ],\n            \"visible\": True\n        },\n        \"databaseAttributes\": {\"position\": 0},\n        \"idpCertificate\": {\n            \"label\": \"string\",\n            \"position\": 0,\n            \"readOnly\": True,\n            \"required\": True,\n            \"tooltip\": {\n                \"template\": \"string\",\n                \"variables\": {\n                    \"icon\": \"string\",\n                    \"message\": \"string\"\n                }\n            },\n            \"type\": \"string\",\n            \"value\": \"string\",\n            \"visible\": True\n        },\n        \"idpEntityId\": {\n            \"label\": \"string\",\n            \"position\": 0,\n            \"readOnly\": True,\n            \"required\": True,\n            \"tooltip\": {\n                \"template\": \"string\",\n                \"variables\": {\n                    \"icon\": \"string\",\n                    \"message\": \"string\"\n                }\n            },\n            \"type\": \"string\",\n            \"value\": \"string\",\n            \"visible\": True\n        },\n        \"idpPrivateKey\": {\n            \"label\": \"string\",\n            \"position\": 0,\n            \"readOnly\": True,\n            \"required\": True,\n            \"tooltip\": {\n                \"template\": \"string\",\n                \"variables\": {\n                    \"icon\": \"string\",\n                    \"message\": \"string\"\n                }\n            },\n            \"type\": \"string\",\n            \"value\": \"string\",\n            \"visible\": True\n        },\n        \"spEntityId\": {\n            \"label\": \"string\",\n            \"position\": 0,\n            \"readOnly\": True,\n            \"required\": True,\n            \"tooltip\": {\n                \"template\": \"string\",\n                \"variables\": {\n                    \"icon\": \"string\",\n                    \"message\": \"string\"\n                }\n            },\n            \"type\": \"string\",\n            \"value\": \"string\",\n            \"visible\": True\n        },\n        \"authClaimConfiguration\": {\n            \"type\": \"string\",\n            \"visible\": True,\n            \"sendAmrClaim\": {\n                \"type\": \"string\",\n                \"value\": True,\n                \"readOnly\": True\n            },\n            \"authnContextMode\": {\n                \"type\": \"string\",\n                \"value\": \"string\"\n            },\n            \"singleAuthnContextValue\": {\n                \"type\": \"string\",\n                \"value\": \"string\"\n            },\n            \"authnContextMappings\": {\n                \"type\": \"string\",\n                \"value\": [{}]\n            }\n        }\n    },\n    \"created\": \"string\",\n    \"databaseAttributes\": [{}],\n    \"description\": \"string\",\n    \"displayLabel\": \"string\",\n    \"displayName\": \"string\",\n    \"learnMore\": \"string\",\n    \"logo\": {\n        \"color\": \"\",\n        \"url\": \"string\"\n    },\n    \"name\": \"string\",\n    \"organization\": \"string\",\n    \"sso\": {\n        \"type\": \"string\",\n        \"beta\": True,\n        \"jit\": True,\n        \"idpCertExpirationAt\": \"2019-08-24T14:15:22Z\",\n        \"hidden\": True\n    },\n    \"ssoUrl\": \"string\",\n    \"parentApp\": \"string\"\n}\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\",\n    \"content-type\": \"application/json\"\n}\n\nresponse = requests.request(\"PUT\", url, json=payload, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$headers.Add(\"content-type\", \"application/json\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/applications/{id}' -Method PUT -Headers $headers -ContentType 'application/json' -Body '{\"_id\":\"string\",\"active\":true,\"beta\":true,\"color\":\"\",\"config\":{\"spErrorFlow\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":true,\"visible\":true},\"signAssertion\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":true,\"visible\":true},\"signResponse\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":true,\"visible\":true},\"acsUrl\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":\"string\",\"visible\":true},\"constantAttributes\":{\"label\":\"string\",\"mutable\":true,\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":[{\"name\":\"string\",\"readOnly\":true,\"required\":true,\"value\":\"string\",\"visible\":true}],\"visible\":true},\"databaseAttributes\":{\"position\":0},\"idpCertificate\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":\"string\",\"visible\":true},\"idpEntityId\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":\"string\",\"visible\":true},\"idpPrivateKey\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":\"string\",\"visible\":true},\"spEntityId\":{\"label\":\"string\",\"position\":0,\"readOnly\":true,\"required\":true,\"tooltip\":{\"template\":\"string\",\"variables\":{\"icon\":\"string\",\"message\":\"string\"}},\"type\":\"string\",\"value\":\"string\",\"visible\":true},\"authClaimConfiguration\":{\"type\":\"string\",\"visible\":true,\"sendAmrClaim\":{\"type\":\"string\",\"value\":true,\"readOnly\":true},\"authnContextMode\":{\"type\":\"string\",\"value\":\"string\"},\"singleAuthnContextValue\":{\"type\":\"string\",\"value\":\"string\"},\"authnContextMappings\":{\"type\":\"string\",\"value\":[{}]}}},\"created\":\"string\",\"databaseAttributes\":[{}],\"description\":\"string\",\"displayLabel\":\"string\",\"displayName\":\"string\",\"learnMore\":\"string\",\"logo\":{\"color\":\"\",\"url\":\"string\"},\"name\":\"string\",\"organization\":\"string\",\"sso\":{\"type\":\"string\",\"beta\":true,\"jit\":true,\"idpCertExpirationAt\":\"2019-08-24T14:15:22Z\",\"hidden\":true},\"ssoUrl\":\"string\",\"parentApp\":\"string\"}'"
          }
        ]
      },
      "delete": {
        "tags": [
          "Applications"
        ],
        "summary": "Delete an Application",
        "description": "The endpoint deletes an SSO / SAML Application.",
        "operationId": "applications_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/application"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "applications",
          "applications.delete"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request DELETE \\\n  --url https://console.jumpcloud.com/api/applications/{id} \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/applications/{id}\"\n\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"DELETE\", url, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/applications/{id}' -Method DELETE -Headers $headers"
          }
        ]
      },
      "x-functionalities-tags": [
        "applications"
      ]
    },
    "/cases": {
      "x-functionalities-tags": [
        "cases"
      ]
    },
    "/command/trigger/{triggername}": {
      "post": {
        "tags": [
          "Command Triggers"
        ],
        "summary": "Launch a command via a Trigger",
        "description": "This endpoint allows you to launch a command based on a defined trigger.\n\n#### Sample Requests\n\n**Launch a Command via a Trigger**\n\n```\ncurl --silent \\\n     -X 'POST' \\\n     -H \"x-api-key: {API_KEY}\" \\\n     \"https://console.jumpcloud.com/api/command/trigger/{TriggerName}\"\n```\n**Launch a Command via a Trigger passing a JSON object to the command**\n```\ncurl --silent \\\n     -X 'POST' \\\n     -H \"x-api-key: {API_KEY}\" \\\n     -H 'Accept: application/json' \\\n     -H 'Content-Type: application/json' \\\n     -d '{ \"srcip\":\"192.168.2.32\", \"attack\":\"Cross Site Scripting Attempt\" }' \\\n     \"https://console.jumpcloud.com/api/command/trigger/{TriggerName}\"\n```",
        "operationId": "command_trigger_webhook_post",
        "parameters": [
          {
            "name": "triggername",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/triggerreturn"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {}
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "commands",
          "commands.schedule"
        ],
        "x-codegen-request-body-name": "body",
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request POST \\\n  --url https://console.jumpcloud.com/api/command/trigger/{triggername} \\\n  --header 'content-type: application/json' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE' \\\n  --data '{}'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/command/trigger/{triggername}\"\n\npayload = {}\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\",\n    \"content-type\": \"application/json\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$headers.Add(\"content-type\", \"application/json\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/command/trigger/{triggername}' -Method POST -Headers $headers -ContentType 'application/json' -Body '{}'"
          }
        ]
      },
      "x-functionalities-tags": [
        "devices-windows-commands-execution",
        "devices-darwin-commands-execution",
        "devices-linux-commands-execution"
      ]
    },
    "/commandresults": {
      "get": {
        "tags": [
          "Command Results"
        ],
        "summary": "List all Command Results",
        "description": "This endpoint returns all command results.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/commandresults \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key:{API_KEY}'\n  ```\n\nTo filter command results use the [**Search API**](#tag/Search/operation/search_commandresults_post)",
        "operationId": "command_results_list",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Use a space seperated string of field parameters to include the data in the response. If omitted, the default list of fields will be returned.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return at once. Limited to 100.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The offset into the records to return.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Use space separated sort parameters to sort the collection.\nDefault sort is ascending. Prefix with `-` to sort descending.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/commandresultslist"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "commands",
          "commands.readonly"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request GET \\\n  --url 'https://console.jumpcloud.com/api/commandresults?fields=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/commandresults\"\n\nquerystring = {\"fields\":\"SOME_STRING_VALUE\",\"limit\":\"SOME_INTEGER_VALUE\",\"skip\":\"SOME_INTEGER_VALUE\",\"sort\":\"SOME_STRING_VALUE\"}\n\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/commandresults?fields=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE' -Method GET -Headers $headers"
          }
        ]
      }
    },
    "/commandresults/{id}": {
      "get": {
        "tags": [
          "Command Results"
        ],
        "summary": "List an individual Command result",
        "description": "This endpoint returns a specific command result.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/commandresults/{CommandResultID} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "operationId": "command_results_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Use a space seperated string of field parameters to include the data in the response. If omitted, the default list of fields will be returned.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "A filter to apply to the query. See the supported operators below. For more complex searches,\nsee the related `/search/<domain>` endpoints,\ne.g. `/search/systems`.\n\n**Filter structure**: The filter syntax follows a consistent pattern of `<field>:<operator>:<value>` (e.g. `department:$eq:Finance`)\n\n**field** = Populate with a valid field from an endpoint response.\n\n**operator** = Supported operators are:\n- `$eq` - equals (exact match)\n- `$in` - equals (multiple match terms). Separate terms by `|` character: `<field>:$in:<term one>|<term two>`\n  - any item with `<field>` that matches ANY of the match terms will be returned\n  - to use a literal `|` character inside a match term, it must be \"escaped\" using a backslash `\\` (`\"\\|\"`)\n    - for `GET` endpoints, only ONE backslash is needed: `costCenter:$in:Atlanta\\|Tampa|Chicago`\n    - for `POST` endpoints, TWO backslashes are needed due to the nature of JSON: `costCenter:$in:Atlanta\\\\|Tampa|Chicago`\n    - resulting match terms: `\"Atlanta|Tampa\", \"Chicago\"`\n- `$ne` - does not equal\n- `$nin` - does not equal (multiple match terms). Separate terms by `|` character: `<field>:$nin:<term one>|<term two>`\n  - any item with `<field>` that DOES NOT match ANY of the match terms will be returned\n  - refer to above `$in` documentation on using literal `|` character in match terms\n- `$lt` - is less than\n- `$lte` - is less than or equal to\n- `$gt` - is greater than\n- `$gte` - is greater than or equal to\n- `$sw` - Finds items where the field value begins with the specified term.\n\n**Eventually Consistent Operators** = These advanced operators support multiple-term matching and **require the `x-eventually-consistent` API request header** to be set as `true`. Terms within the `value` must be separated by the `|` character.\n- `$sw` - Matches any item where the field value **begins** with **any one** of the provided terms. E.g `<field>:$sw:<term one>|<term two>`\n- `$ew` - Matches any item where the field value **ends** with **any one** of the provided terms. E.g `<field>:$ew:<term one>|<term two>`\n- `$co` - Matches any item where the field value **contains** **any one** of the provided terms. E.g `<field>:$co:<term one>|<term two>`\n- `$nco` - Matches any item where the field value **does not contain** any of the provided terms. E.g `<field>:$nco:<term one>|<term two>`\n\n_Note: v1 operators differ from v2 operators._\n\n_Note: For v1 operators, excluding the `$` will result in undefined behavior **and is not recommended.**_\n\n**value** = Populate with the value you want to search for. **Case sensitive**.\n\n**Examples**\n- `GET /users?filter=username:$eq:testuser`\n- `GET /systemusers?filter=department:$in:Finance|IT|Shipping & Receiving` - an item with `{ department: \"IT\" }` will match\n- `GET /systemusers?filter=department:$in:Finance \\| Sales|IT` - an item with `{ department: \"Finance | Sales\" }` will match\n- `GET /systemusers?filter=department:$ne:Accounting`\n- `GET /systemusers?filter=department:$nin:Finance|IT|Shipping & Receiving` - an item with `{ department: \"HR\" }` will match\n- `GET /systemusers?filter=password_expiration_date:$lte:2021-10-24`\n- `GET /systems?filter[0]=firstname:$eq:foo&filter[1]=lastname:$eq:bar` - this will AND the filters together.\n- `GET /systems?filter[or][0]=lastname:$eq:foo&filter[or][1]=lastname:$eq:bar` - this will OR the filters together.\n- `GET /systemusers?filter=department:$sw:Shipping` - an item with `{ department: \"Shipping & Receiving\" }` will match\n- `GET /systemusers?filter=department:$sw:Shipping\\|Receiving` - an item with `{ department: \"Shipping|Receiving Item\" }` will match\n- `GET /systemusers?filter=department:$sw:Shipping|Receiving` - an item with `{ department: \"Shipping Item\" }` will match or an item with `{ department: \"Receiving Item\" }` will match. **Use it with `x-eventually-consistent` header set to `true`:**",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "allowReserved": true
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/commandresult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "commands",
          "commands.readonly"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request GET \\\n  --url 'https://console.jumpcloud.com/api/commandresults/{id}?fields=SOME_STRING_VALUE&filter=SOME_STRING_VALUE' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/commandresults/{id}\"\n\nquerystring = {\"fields\":\"SOME_STRING_VALUE\",\"filter\":\"SOME_STRING_VALUE\"}\n\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/commandresults/{id}?fields=SOME_STRING_VALUE&filter=SOME_STRING_VALUE' -Method GET -Headers $headers"
          }
        ]
      },
      "delete": {
        "tags": [
          "Command Results"
        ],
        "summary": "Delete a Command result",
        "description": "This endpoint deletes a specific command result.\n\n#### Sample Request\n```\ncurl -X DELETE https://console.jumpcloud.com/api/commandresults/{id} \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ````",
        "operationId": "command_results_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/commandresult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "commands"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request DELETE \\\n  --url https://console.jumpcloud.com/api/commandresults/{id} \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/commandresults/{id}\"\n\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"DELETE\", url, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/commandresults/{id}' -Method DELETE -Headers $headers"
          }
        ]
      },
      "x-functionalities-tags": [
        "command-results"
      ]
    },
    "/commands": {
      "get": {
        "tags": [
          "Commands"
        ],
        "summary": "List All Commands",
        "description": "This endpoint returns all commands.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/commands/ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n\n```",
        "operationId": "commands_list",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Use a space seperated string of field parameters to include the data in the response. If omitted, the default list of fields will be returned.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "A filter to apply to the query. See the supported operators below. For more complex searches,\nsee the related `/search/<domain>` endpoints,\ne.g. `/search/systems`.\n\n**Filter structure**: The filter syntax follows a consistent pattern of `<field>:<operator>:<value>` (e.g. `department:$eq:Finance`)\n\n**field** = Populate with a valid field from an endpoint response.\n\n**operator** = Supported operators are:\n- `$eq` - equals (exact match)\n- `$in` - equals (multiple match terms). Separate terms by `|` character: `<field>:$in:<term one>|<term two>`\n  - any item with `<field>` that matches ANY of the match terms will be returned\n  - to use a literal `|` character inside a match term, it must be \"escaped\" using a backslash `\\` (`\"\\|\"`)\n    - for `GET` endpoints, only ONE backslash is needed: `costCenter:$in:Atlanta\\|Tampa|Chicago`\n    - for `POST` endpoints, TWO backslashes are needed due to the nature of JSON: `costCenter:$in:Atlanta\\\\|Tampa|Chicago`\n    - resulting match terms: `\"Atlanta|Tampa\", \"Chicago\"`\n- `$ne` - does not equal\n- `$nin` - does not equal (multiple match terms). Separate terms by `|` character: `<field>:$nin:<term one>|<term two>`\n  - any item with `<field>` that DOES NOT match ANY of the match terms will be returned\n  - refer to above `$in` documentation on using literal `|` character in match terms\n- `$lt` - is less than\n- `$lte` - is less than or equal to\n- `$gt` - is greater than\n- `$gte` - is greater than or equal to\n- `$sw` - Finds items where the field value begins with the specified term.\n\n**Eventually Consistent Operators** = These advanced operators support multiple-term matching and **require the `x-eventually-consistent` API request header** to be set as `true`. Terms within the `value` must be separated by the `|` character.\n- `$sw` - Matches any item where the field value **begins** with **any one** of the provided terms. E.g `<field>:$sw:<term one>|<term two>`\n- `$ew` - Matches any item where the field value **ends** with **any one** of the provided terms. E.g `<field>:$ew:<term one>|<term two>`\n- `$co` - Matches any item where the field value **contains** **any one** of the provided terms. E.g `<field>:$co:<term one>|<term two>`\n- `$nco` - Matches any item where the field value **does not contain** any of the provided terms. E.g `<field>:$nco:<term one>|<term two>`\n\n_Note: v1 operators differ from v2 operators._\n\n_Note: For v1 operators, excluding the `$` will result in undefined behavior **and is not recommended.**_\n\n**value** = Populate with the value you want to search for. **Case sensitive**.\n\n**Examples**\n- `GET /users?filter=username:$eq:testuser`\n- `GET /systemusers?filter=department:$in:Finance|IT|Shipping & Receiving` - an item with `{ department: \"IT\" }` will match\n- `GET /systemusers?filter=department:$in:Finance \\| Sales|IT` - an item with `{ department: \"Finance | Sales\" }` will match\n- `GET /systemusers?filter=department:$ne:Accounting`\n- `GET /systemusers?filter=department:$nin:Finance|IT|Shipping & Receiving` - an item with `{ department: \"HR\" }` will match\n- `GET /systemusers?filter=password_expiration_date:$lte:2021-10-24`\n- `GET /systems?filter[0]=firstname:$eq:foo&filter[1]=lastname:$eq:bar` - this will AND the filters together.\n- `GET /systems?filter[or][0]=lastname:$eq:foo&filter[or][1]=lastname:$eq:bar` - this will OR the filters together.\n- `GET /systemusers?filter=department:$sw:Shipping` - an item with `{ department: \"Shipping & Receiving\" }` will match\n- `GET /systemusers?filter=department:$sw:Shipping\\|Receiving` - an item with `{ department: \"Shipping|Receiving Item\" }` will match\n- `GET /systemusers?filter=department:$sw:Shipping|Receiving` - an item with `{ department: \"Shipping Item\" }` will match or an item with `{ department: \"Receiving Item\" }` will match. **Use it with `x-eventually-consistent` header set to `true`:**",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "allowReserved": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return at once. Limited to 100.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The offset into the records to return.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Use space separated sort parameters to sort the collection.\nDefault sort is ascending. Prefix with `-` to sort descending.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/commandslist"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "commands",
          "commands.readonly"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request GET \\\n  --url 'https://console.jumpcloud.com/api/commands?fields=SOME_STRING_VALUE&filter=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE'"
          },
          {
            "lang": "Python",
[...]
