{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://console.jumpcloud.com/api/v2"
    }
  ],
  "info": {
    "contact": {
      "name": "JumpCloud Support",
      "url": "https://jumpcloud.com/support/contact-jumpcloud-support"
    },
    "description": "# Overview\n\nJumpCloud's V2 API. This set of endpoints allows JumpCloud customers to manage objects, groupings and mappings and interact with the JumpCloud Graph.\n\n> **Note:** See [JumpCloud Data Centers: Login URLs and Service Endpoints](https://jumpcloud.com/support/jumpcloud-data-centers-login-urls-and-service-endpoints) to learn more.\n\n## API Best Practices\n\nRead the linked Help Article below for guidance on retrying failed requests to JumpCloud's REST API, as well as best practices for structuring subsequent retry requests. Customizing retry mechanisms based on these recommendations will increase the reliability and dependability of your API calls.\n\nCovered topics include:\n1. Important Considerations\n2. Supported HTTP Request Methods\n3. Response codes\n4. API Key rotation\n5. Paginating\n6. Error handling\n7. Retry rates\n\n[JumpCloud Help Center - API Best Practices](https://support.jumpcloud.com/support/s/article/JumpCloud-API-Best-Practices)\n\n# Directory Objects\n\nThis API offers the ability to interact with some of our core features; otherwise known as Directory Objects. The Directory Objects are:\n\n* Commands\n* Policies\n* Policy Groups\n* Applications\n* Systems\n* Users\n* User Groups\n* System Groups\n* Radius Servers\n* Directories: Office 365, LDAP,G-Suite, Active Directory\n* Duo accounts and applications.\n\nThe Directory Object is an important concept to understand in order to successfully use JumpCloud API.\n\n## JumpCloud Graph\n\nWe've also introduced the concept of the JumpCloud Graph along with  Directory Objects. The Graph is a powerful aspect of our platform which will enable you to associate objects with each other, or establish membership for certain objects to become members of other objects.\n\nSpecific `GET` endpoints will allow you to traverse the JumpCloud Graph to return all indirect and directly bound objects in your organization.\n\n| ![alt text](https://s3.amazonaws.com/jumpcloud-kb/Knowledge+Base+Photos/API+Docs/jumpcloud_graph.png \"JumpCloud Graph Model Example\") |\n|:--:|\n| **This diagram highlights our association and membership model as it relates to Directory Objects.** |\n\n# API Key\n\n## Access Your API Key\n\nTo locate your API Key:\n\n1. Log into the [JumpCloud Admin Console](https://console.jumpcloud.com/).\n2. Go to the username drop down located in the top-right of the Console.\n3. Retrieve your API key from API Settings.\n\n## API Key Considerations\n\nThis API key is associated to the currently logged in administrator. Other admins will have different API keys.\n\n**WARNING** Please keep this API key secret, as it grants full access to any data accessible via your JumpCloud console account.\n\nYou can also reset your API key in the same location in the JumpCloud Admin Console.\n\n## Recycling or Resetting Your API Key\n\nIn order to revoke access with the current API key, simply reset your API key. This will render all calls using the previous API key inaccessible.\n\nYour API key will be passed in as a header with the header name \"x-api-key\".\n\n```bash\ncurl -H \"x-api-key: [YOUR_API_KEY_HERE]\" \"https://console.jumpcloud.com/api/v2/systemgroups\"\n```\n\n# System Context\n\n* [Introduction](#introduction)\n* [Supported endpoints](#supported-endpoints)\n* [Response codes](#response-codes)\n* [Authentication](#authentication)\n* [Additional examples](#additional-examples)\n* [Third party](#third-party)\n\n## Introduction\n\nJumpCloud System Context Authorization is an alternative way to authenticate with a subset of JumpCloud's REST APIs. Using this method, a system can manage its information and resource associations, allowing modern auto provisioning environments to scale as needed.\n\n**Notes:**\n\n * The following documentation applies to Linux Operating Systems only.\n * Systems that have been automatically enrolled using Apple's Device Enrollment Program (DEP) or systems enrolled using the User Portal install are not eligible to use the System Context API to prevent unauthorized access to system groups and resources. If a script that utilizes the System Context API is invoked on a system enrolled in this way, it will display an error.\n\n## Supported Endpoints\n\nJumpCloud System Context Authorization can be used in conjunction with Systems endpoints found in the V1 API and certain System Group endpoints found in the v2 API.\n\n* A system may fetch, alter, and delete metadata about itself, including manipulating a system's Group and Systemuser associations,\n  * `/api/systems/{system_id}` | [`GET`](https://docs.jumpcloud.com/api/1.0/index.html#operation/systems_get) [`PUT`](https://docs.jumpcloud.com/api/1.0/index.html#operation/systems_put)\n* A system may delete itself from your JumpCloud organization\n  * `/api/systems/{system_id}` | [`DELETE`](https://docs.jumpcloud.com/api/1.0/index.html#operation/systems_delete)\n* A system may fetch its direct resource associations under v2 (Groups)\n  * `/api/v2/systems/{system_id}/memberof` | [`GET`](https://docs.jumpcloud.com/api/2.0/index.html#operation/graph_systemGroupMembership)\n  * `/api/v2/systems/{system_id}/associations` | [`GET`](https://docs.jumpcloud.com/api/2.0/index.html#operation/graph_systemAssociationsList)\n  * `/api/v2/systems/{system_id}/users` | [`GET`](https://docs.jumpcloud.com/api/2.0/index.html#operation/graph_systemTraverseUser)\n* A system may alter its direct resource associations under v2 (Groups)\n  * `/api/v2/systems/{system_id}/associations` | [`POST`](https://docs.jumpcloud.com/api/2.0/index.html#operation/graph_systemAssociationsPost)\n* A system may alter its System Group associations\n  * `/api/v2/systemgroups/{group_id}/members` | [`POST`](https://docs.jumpcloud.com/api/2.0/index.html#operation/graph_systemGroupMembersPost)\n    * _NOTE_ If a system attempts to alter the system group membership of a different system the request will be rejected\n\n## Response Codes\n\nIf endpoints other than those described above are called using the System Context API, the server will return a `401` response.\n\n## Authentication\n\nTo allow for secure access to our APIs, you must authenticate each API request.\nJumpCloud System Context Authorization uses [HTTP Signatures](https://tools.ietf.org/html/draft-cavage-http-signatures-00) to authenticate API requests.\nThe HTTP Signatures sent with each request are similar to the signatures used by the Amazon Web Services REST API.\nTo help with the request-signing process, we have provided an [example bash script](https://github.com/TheJumpCloud/SystemContextAPI/blob/master/examples/shell/SigningExample.sh). This example API request simply requests the entire system record. You must be root, or have permissions to access the contents of the `/opt/jc` directory to generate a signature.\n\nHere is a breakdown of the example script with explanations.\n\nFirst, the script extracts the systemKey from the JSON formatted `/opt/jc/jcagent.conf` file.\n\n```bash\n#!/bin/bash\nconf=\"`cat /opt/jc/jcagent.conf`\"\nregex=\"systemKey\\\":\\\"(\\w+)\\\"\"\n\nif [[ $conf =~ $regex ]] ; then\n  systemKey=\"${BASH_REMATCH[1]}\"\nfi\n```\n\nThen, the script retrieves the current date in the correct format.\n\n```bash\nnow=`date -u \"+%a, %d %h %Y %H:%M:%S GMT\"`;\n```\n\nNext, we build a signing string to demonstrate the expected signature format. The signed string must consist of the [request-line](https://tools.ietf.org/html/rfc2616#page-35) and the date header, separated by a newline character.\n\n```bash\nsignstr=\"GET /api/systems/${systemKey} HTTP/1.1\\ndate: ${now}\"\n```\n\nThe next step is to calculate and apply the signature. This is a two-step process:\n\n1. Create a signature from the signing string using the JumpCloud Agent private key: ``printf \"$signstr\" | openssl dgst -sha256 -sign /opt/jc/client.key``\n2. Then Base64-encode the signature string and trim off the newline characters: ``| openssl enc -e -a | tr -d '\\n'``\n\nThe combined steps above result in:\n\n```bash\nsignature=`printf \"$signstr\" | openssl dgst -sha256 -sign /opt/jc/client.key | openssl enc -e -a | tr -d '\\n'` ;\n```\n\nFinally, we make sure the API call sending the signature has the same Authorization and Date header values, HTTP method, and URL that were used in the signing string.\n\n```bash\ncurl -iq \\\n  -H \"Accept: application/json\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Date: ${now}\" \\\n  -H \"Authorization: Signature keyId=\\\"system/${systemKey}\\\",headers=\\\"request-line date\\\",algorithm=\\\"rsa-sha256\\\",signature=\\\"${signature}\\\"\" \\\n  --url https://console.jumpcloud.com/api/systems/${systemKey}\n```\n\n### Input Data\n\nAll PUT and POST methods should use the HTTP Content-Type header with a value of 'application/json'. PUT methods are used for updating a record. POST methods are used to create a record.\n\nThe following example demonstrates how to update the `displayName` of the system.\n\n```bash\nsignstr=\"PUT /api/systems/${systemKey} HTTP/1.1\\ndate: ${now}\"\nsignature=`printf \"$signstr\" | openssl dgst -sha256 -sign /opt/jc/client.key | openssl enc -e -a | tr -d '\\n'` ;\n\ncurl -iq \\\n  -d \"{\\\"displayName\\\" : \\\"updated-system-name-1\\\"}\" \\\n  -X \"PUT\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Accept: application/json\" \\\n  -H \"Date: ${now}\" \\\n  -H \"Authorization: Signature keyId=\\\"system/${systemKey}\\\",headers=\\\"request-line date\\\",algorithm=\\\"rsa-sha256\\\",signature=\\\"${signature}\\\"\" \\\n  --url https://console.jumpcloud.com/api/systems/${systemKey}\n```\n\n### Output Data\n\nAll results will be formatted as JSON.\n\nHere is an abbreviated example of response output:\n\n```json\n{\n  \"_id\": \"625ee96f52e144993e000015\",\n  \"agentServer\": \"lappy386\",\n  \"agentVersion\": \"0.9.42\",\n  \"arch\": \"x86_64\",\n  \"displayName\": \"ubuntu-1204\",\n  \"firstContact\": \"2013-10-16T19:30:55.611Z\",\n  \"hostname\": \"ubuntu-1204\"\n  ...\n```\n\n## Additional Examples\n\n### Signing Authentication Example\n\nThis example demonstrates how to make an authenticated request to fetch the JumpCloud record for this system.\n\n[SigningExample.sh](https://github.com/TheJumpCloud/SystemContextAPI/blob/master/examples/shell/SigningExample.sh)\n\n### Shutdown Hook\n\nThis example demonstrates how to make an authenticated request on system shutdown.\nUsing an init.d script registered at run level 0, you can call the System Context API as the system is shutting down.\n\n[Instance-shutdown-initd](https://github.com/TheJumpCloud/SystemContextAPI/blob/master/examples/instance-shutdown-initd) is an example of an init.d script that only runs at system shutdown.\n\nAfter customizing the [instance-shutdown-initd](https://github.com/TheJumpCloud/SystemContextAPI/blob/master/examples/instance-shutdown-initd) script, you should install it on the system(s) running the JumpCloud agent.\n\n1. Copy the modified [instance-shutdown-initd](https://github.com/TheJumpCloud/SystemContextAPI/blob/master/examples/instance-shutdown-initd) to `/etc/init.d/instance-shutdown`.\n2. On Ubuntu systems, run `update-rc.d instance-shutdown defaults`. On RedHat/CentOS systems, run `chkconfig --add instance-shutdown`.\n\n## Third Party\n\n### Chef Cookbooks\n\n[https://github.com/nshenry03/jumpcloud](https://github.com/nshenry03/jumpcloud)\n\n[https://github.com/cjs226/jumpcloud](https://github.com/cjs226/jumpcloud)\n\n# Multi-Tenant Portal Headers\n\nMulti-Tenant Organization API Headers are available for JumpCloud Admins to use when making API requests from Organizations that have multiple managed organizations.\nThe `x-org-id` is a required header for all multi-tenant admins when making API requests to JumpCloud. This header will define to which organization you would like to make the request.\n\n**NOTE** Single Tenant Admins do not need to provide this header when making an API request.\n\n## Header Value\n\n`x-org-id`\n\n## API Response Codes\n\n* `400` Malformed ID.\n* `400` x-org-id and Organization path ID do not match.\n* `401` ID not included for multi-tenant admin\n* `403` ID included on unsupported route.\n* `404` Organization ID Not Found.\n\n```bash\ncurl -X GET https://console.jumpcloud.com/api/v2/directories \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -H 'x-org-id: {ORG_ID}'\n\n```\n\n## To Obtain an Individual Organization ID via the UI\n\nAs a prerequisite, your Primary Organization will need to be setup for Multi-Tenancy. This provides access to the Multi-Tenant Organization Admin Portal.\n\n1. Log into JumpCloud [Admin Console](https://console.jumpcloud.com). If you are a multi-tenant Admin, you will automatically be routed to the Multi-Tenant Admin Portal.\n2. From the Multi-Tenant Portal's primary navigation bar, select the Organization you'd like to access.\n3. You will automatically be routed to that Organization's Admin Console.\n4. Go to Settings in the sub-tenant's primary navigation.\n5. You can obtain your Organization ID below your Organization's Contact Information on the Settings page.\n\n## To Obtain All Organization IDs via the API\n\n* You can make an API request to this endpoint using the API key of your Primary Organization.  `https://console.jumpcloud.com/api/organizations/` This will return all your managed organizations.\n\n```bash\ncurl -X GET \\\n  https://console.jumpcloud.com/api/organizations/ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```\n\n# SDKs\n\nYou can find language specific SDKs that can help you kickstart your Integration with JumpCloud in the following GitHub repositories:\n\n* [Python](https://github.com/TheJumpCloud/jcapi-python)\n* [Go](https://github.com/TheJumpCloud/jcapi-go)\n* [Ruby](https://github.com/TheJumpCloud/jcapi-ruby)\n* [Java](https://github.com/TheJumpCloud/jcapi-java)\n",
    "title": "JumpCloud API",
    "version": "2.0"
  },
  "paths": {
    "/activedirectories": {
      "get": {
        "tags": [
          "Active Directory"
        ],
        "summary": "List Active Directories",
        "description": "This endpoint allows you to list all your Active Directory Instances.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "operationId": "activedirectories_list",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "The comma separated fields included in the returned records.\nIf omitted, the default list of fields will be returned.\n",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "A filter to apply to the query.\n\n**Filter structure**: `<field>:<operator>:<value>`.\n\n**field** = Populate with a valid field from an endpoint response.\n\n**operator** =  Supported operators are: eq, ne, gt, ge, lt, le, between, search, in.\n_Note: v1 operators differ from v2 operators._\n\n**value** = Populate with the value you want to search for. Is case sensitive. Supports wild cards.\n\n**EX:** `GET /api/v2/groups?filter=name:eq:Test+Group`",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "allowReserved": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return at once. Limited to 100.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The offset into the records to return.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The comma separated fields used to sort the collection.\nDefault sort is ascending, prefix with `-` to sort descending.\n",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "allowReserved": true
          },
          {
            "name": "x-org-id",
            "in": "header",
            "description": "Organization identifier that can be obtained from console settings.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/active-directory"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "directories",
          "directories.readonly"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request GET \\\n  --url 'https://console.jumpcloud.com/api/v2/activedirectories?fields=SOME_ARRAY_VALUE&filter=SOME_ARRAY_VALUE&limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE&sort=SOME_ARRAY_VALUE' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/v2/activedirectories\"\n\nquerystring = {\"fields\":\"SOME_ARRAY_VALUE\",\"filter\":\"SOME_ARRAY_VALUE\",\"limit\":\"SOME_INTEGER_VALUE\",\"skip\":\"SOME_INTEGER_VALUE\",\"sort\":\"SOME_ARRAY_VALUE\"}\n\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories?fields=SOME_ARRAY_VALUE&filter=SOME_ARRAY_VALUE&limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE&sort=SOME_ARRAY_VALUE' -Method GET -Headers $headers"
          }
        ]
      },
      "post": {
        "tags": [
          "Active Directory"
        ],
        "summary": "Create a new Active Directory",
        "description": "This endpoint allows you to create a new Active Directory.\n\n\n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/activedirectories/ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"domain\": \"{DC=AD_domain_name;DC=com}\"\n  }'\n```",
        "operationId": "activedirectories_post",
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "description": "Organization identifier that can be obtained from console settings.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/active-directory"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/active-directory"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "directories"
        ],
        "x-codegen-request-body-name": "body",
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request POST \\\n  --url https://console.jumpcloud.com/api/v2/activedirectories \\\n  --header 'content-type: application/json' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE' \\\n  --data '{\"domain\":\"string\",\"useCase\":\"UNSET\",\"groupsEnabled\":true,\"delegationState\":\"ENABLED\"}'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/v2/activedirectories\"\n\npayload = {\n    \"domain\": \"string\",\n    \"useCase\": \"UNSET\",\n    \"groupsEnabled\": True,\n    \"delegationState\": \"ENABLED\"\n}\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\",\n    \"content-type\": \"application/json\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$headers.Add(\"content-type\", \"application/json\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories' -Method POST -Headers $headers -ContentType 'application/json' -Body '{\"domain\":\"string\",\"useCase\":\"UNSET\",\"groupsEnabled\":true,\"delegationState\":\"ENABLED\"}'"
          }
        ]
      },
      "x-functionalities-tags": [
        "active-directory"
      ]
    },
    "/activedirectories/{activedirectory_id}/agents": {
      "get": {
        "tags": [
          "Active Directory"
        ],
        "summary": "List Active Directory Agents",
        "description": "This endpoint allows you to list all your Active Directory Agents for a given Instance.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "operationId": "activedirectories_agentsList",
        "parameters": [
          {
            "name": "activedirectory_id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return at once. Limited to 100.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The offset into the records to return.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The comma separated fields used to sort the collection.\nDefault sort is ascending, prefix with `-` to sort descending.\n",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "allowReserved": true
          },
          {
            "name": "x-org-id",
            "in": "header",
            "description": "Organization identifier that can be obtained from console settings.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/active-directory-agent-list"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "directories",
          "directories.readonly"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request GET \\\n  --url 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents?limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE&sort=SOME_ARRAY_VALUE' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents\"\n\nquerystring = {\"limit\":\"SOME_INTEGER_VALUE\",\"skip\":\"SOME_INTEGER_VALUE\",\"sort\":\"SOME_ARRAY_VALUE\"}\n\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents?limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE&sort=SOME_ARRAY_VALUE' -Method GET -Headers $headers"
          }
        ]
      },
      "post": {
        "tags": [
          "Active Directory"
        ],
        "summary": "Create a new Active Directory Agent",
        "description": "This endpoint allows you to create a new Active Directory Agent.\n\n\n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{ \"agent_type\":\"{SYNC}\" }'\n```",
        "operationId": "activedirectories_agentsPost",
        "parameters": [
          {
            "name": "activedirectory_id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "description": "Organization identifier that can be obtained from console settings.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/active-directory-agent"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/active-directory-agent-get"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "directories"
        ],
        "x-codegen-request-body-name": "body",
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request POST \\\n  --url https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents \\\n  --header 'content-type: application/json' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE' \\\n  --data '{\"agentType\":\"SYNC\"}'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents\"\n\npayload = {\"agentType\": \"SYNC\"}\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\",\n    \"content-type\": \"application/json\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$headers.Add(\"content-type\", \"application/json\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents' -Method POST -Headers $headers -ContentType 'application/json' -Body '{\"agentType\":\"SYNC\"}'"
          }
        ]
      },
      "x-functionalities-tags": [
        "active-directory"
      ]
    },
    "/activedirectories/{activedirectory_id}/agents/{agent_id}": {
      "get": {
        "tags": [
          "Active Directory"
        ],
        "summary": "Get Active Directory Agent",
        "description": "This endpoint returns an Active Directory agent.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents/{agent_id} \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "operationId": "activedirectories_agentsGet",
        "parameters": [
          {
            "name": "activedirectory_id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "description": "Organization identifier that can be obtained from console settings.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/active-directory-agent-list"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "directories",
          "directories.readonly"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request GET \\\n  --url https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents/{agent_id} \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents/{agent_id}\"\n\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"GET\", url, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents/{agent_id}' -Method GET -Headers $headers"
          }
        ]
      },
      "delete": {
        "tags": [
          "Active Directory"
        ],
        "summary": "Delete Active Directory Agent",
        "description": "This endpoint deletes an Active Directory agent.\n\n#### Sample Request\n```\ncurl -X DELETE https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents/{agent_id} \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "operationId": "activedirectories_agentsDelete",
        "parameters": [
          {
            "name": "activedirectory_id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "description": "Organization identifier that can be obtained from console settings.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "directories"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request DELETE \\\n  --url https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents/{agent_id} \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents/{agent_id}\"\n\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"DELETE\", url, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents/{agent_id}' -Method DELETE -Headers $headers"
          }
        ]
      },
      "x-functionalities-tags": [
        "active-directory"
      ]
    },
    "/activedirectories/{activedirectory_id}/associations": {
      "get": {
        "tags": [
          "Graph",
          "Active Directory"
        ],
        "summary": "List the associations of an Active Directory instance",
        "description": "This endpoint returns the direct associations of this Active Directory instance.\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example Active Directory and Users.\n\n\n#### Sample Request\n```\ncurl -X GET 'https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}/associations?targets=user \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "operationId": "graph_activeDirectoryAssociationsList",
        "parameters": [
          {
            "name": "activedirectory_id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "targets",
            "in": "query",
            "description": "Targets which a \"active_directory\" can be associated to.",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "user",
                  "user_group"
                ]
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return at once. Limited to 100.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The offset into the records to return.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "description": "Organization identifier that can be obtained from console settings.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GraphConnection"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "associations.directories",
          "associations.directories.readonly",
          "associations",
          "associations.readonly"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request GET \\\n  --url 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/associations?targets=SOME_ARRAY_VALUE&limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/associations\"\n\nquerystring = {\"targets\":\"SOME_ARRAY_VALUE\",\"limit\":\"SOME_INTEGER_VALUE\",\"skip\":\"SOME_INTEGER_VALUE\"}\n\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/associations?targets=SOME_ARRAY_VALUE&limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE' -Method GET -Headers $headers"
          }
        ]
      },
      "post": {
        "tags": [
          "Graph",
          "Active Directory"
        ],
        "summary": "Manage the associations of an Active Directory instance",
        "description": "This endpoint allows you to manage the _direct_ associations of an Active Directory instance.\n\nA direct association can be a non-homogeneous relationship between 2 different objects, for example Active Directory and Users.\n\n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/activedirectories/{AD_Instance_ID}/associations \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"op\": \"add\",\n    \"type\": \"user\",\n    \"id\": \"{User_ID}\"\n  }'\n```",
        "operationId": "graph_activeDirectoryAssociationsPost",
        "parameters": [
          {
            "name": "activedirectory_id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "description": "Organization identifier that can be obtained from console settings.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphOperation-ActiveDirectory"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "",
            "content": {}
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "associations.directories",
          "associations"
        ],
        "x-codegen-request-body-name": "body",
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request POST \\\n  --url https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/associations \\\n  --header 'content-type: application/json' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE' \\\n  --data '{\"id\":\"string\",\"op\":\"add\",\"attributes\":{},\"type\":\"user\"}'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/associations\"\n\npayload = {\n    \"id\": \"string\",\n    \"op\": \"add\",\n    \"attributes\": {},\n    \"type\": \"user\"\n}\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\",\n    \"content-type\": \"application/json\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$headers.Add(\"content-type\", \"application/json\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/associations' -Method POST -Headers $headers -ContentType 'application/json' -Body '{\"id\":\"string\",\"op\":\"add\",\"attributes\":{},\"type\":\"user\"}'"
          }
        ]
      },
      "x-functionalities-tags": [
        "active-directory"
      ]
    },
    "/activedirectories/{activedirectory_id}/usergroups": {
      "get": {
        "tags": [
          "Graph",
          "Active Directory"
        ],
        "summary": "List the User Groups bound to an Active Directory instance",
        "description": "This endpoint will return all Users Groups bound to an Active Directory instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the group's type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this Active Directory instance to the corresponding User Group; this array represents all grouping and/or associations that would have to be removed to deprovision the User Group from this Active Directory instance.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}/usergroups \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "operationId": "graph_activeDirectoryTraverseUserGroup",
        "parameters": [
          {
            "name": "activedirectory_id",
            "in": "path",
            "description": "ObjectID of the Active Directory instance.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return at once. Limited to 100.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "description": "Organization identifier that can be obtained from console settings.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The offset into the records to return.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "A filter to apply to the query.\n\n**Filter structure**: `<field>:<operator>:<value>`.\n\n**field** = Populate with a valid field from an endpoint response.\n\n**operator** =  Supported operators are: eq, ne, gt, ge, lt, le, between, search, in.\n_Note: v1 operators differ from v2 operators._\n\n**value** = Populate with the value you want to search for. Is case sensitive. Supports wild cards.\n\n**EX:** `GET /api/v2/groups?filter=name:eq:Test+Group`",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GraphObjectWithPaths"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "groups",
          "groups.readonly"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request GET \\\n  --url 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/usergroups?limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE&filter=SOME_ARRAY_VALUE' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/usergroups\"\n\nquerystring = {\"limit\":\"SOME_INTEGER_VALUE\",\"skip\":\"SOME_INTEGER_VALUE\",\"filter\":\"SOME_ARRAY_VALUE\"}\n\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/usergroups?limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE&filter=SOME_ARRAY_VALUE' -Method GET -Headers $headers"
          }
        ]
      },
      "x-functionalities-tags": [
        "active-directory"
      ]
    },
    "/activedirectories/{activedirectory_id}/user/update": {
      "x-functionalities-tags": [
        "active-directory"
      ]
    },
    "/activedirectories/{activedirectory_id}/group/update": {
      "x-functionalities-tags": [
        "active-directory"
      ]
    },
    "/activedirectories/{activedirectory_id}/users": {
      "get": {
        "tags": [
          "Graph",
          "Active Directory"
        ],
        "summary": "List the Users bound to an Active Directory instance",
        "description": "This endpoint will return all Users bound to an Active Directory instance, either directly or indirectly, essentially traversing the JumpCloud Graph for your Organization.\n\nEach element will contain the type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates each path from this Active Directory instance to the corresponding User; this array represents all grouping and/or associations that would have to be removed to deprovision the User from this Active Directory instance.\n\nSee `/members` and `/associations` endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}/users \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```",
        "operationId": "graph_activeDirectoryTraverseUser",
        "parameters": [
          {
            "name": "activedirectory_id",
            "in": "path",
            "description": "ObjectID of the Active Directory instance.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "A filter to apply to the query.\n\n**Filter structure**: `<field>:<operator>:<value>`.\n\n**field** = Populate with a valid field from an endpoint response.\n\n**operator** =  Supported operators are: eq, ne, gt, ge, lt, le, between, search, in.\n_Note: v1 operators differ from v2 operators._\n\n**value** = Populate with the value you want to search for. Is case sensitive. Supports wild cards.\n\n**EX:** `GET /api/v2/groups?filter=name:eq:Test+Group`",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "allowReserved": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return at once. Limited to 100.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "description": "Organization identifier that can be obtained from console settings.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The offset into the records to return.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "syncStatus",
            "in": "query",
            "description": "Include sync status for users",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GraphObjectWithPaths"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "users",
          "users.readonly"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request GET \\\n  --url 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/users?filter=SOME_ARRAY_VALUE&limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE&syncStatus=SOME_BOOLEAN_VALUE' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/users\"\n\nquerystring = {\"filter\":\"SOME_ARRAY_VALUE\",\"limit\":\"SOME_INTEGER_VALUE\",\"skip\":\"SOME_INTEGER_VALUE\",\"syncStatus\":\"SOME_BOOLEAN_VALUE\"}\n\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/users?filter=SOME_ARRAY_VALUE&limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE&syncStatus=SOME_BOOLEAN_VALUE' -Method GET -Headers $headers"
          }
        ]
      },
      "x-functionalities-tags": [
        "active-directory"
      ]
    },
    "/activedirectories/{id}": {
      "get": {
        "tags": [
          "Active Directory"
        ],
        "summary": "Get an Active Directory",
        "description": "This endpoint returns a specific Active Directory.\n\n#### Sample Request\n\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID} \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "operationId": "activedirectories_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ObjectID of this Active Directory instance.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "description": "Organization identifier that can be obtained from console settings.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/active-directory"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "directories",
          "directories.readonly"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request GET \\\n  --url https://console.jumpcloud.com/api/v2/activedirectories/{id} \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/v2/activedirectories/{id}\"\n\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"GET\", url, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{id}' -Method GET -Headers $headers"
          }
        ]
      },
      "delete": {
        "tags": [
          "Active Directory"
        ],
        "summary": "Delete an Active Directory",
        "description": "This endpoint allows you to delete an Active Directory Instance.\n\n#### Sample Request\n```\ncurl -X DELETE https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID} \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\n  ```",
        "operationId": "activedirectories_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ObjectID of this Active Directory instance.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "description": "Organization identifier that can be obtained from console settings.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/active-directory"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "directories"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request DELETE \\\n  --url https://console.jumpcloud.com/api/v2/activedirectories/{id} \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/v2/activedirectories/{id}\"\n\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"DELETE\", url, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{id}' -Method DELETE -Headers $headers"
          }
        ]
      },
      "patch": {
        "tags": [
          "Active Directory"
        ],
        "summary": "Update Active Directory",
        "description": "This endpoint allows you to update Active Directory.\nHere use case can be one of:\n- AD as Authority - password in AD - 2-way sync use case is selected.\n- JC as Authority - one-way sync from AD.\n- Two way sync -  2-way sync use case is selected\n\n\n#### Sample Request\n```\ncurl -X PATCH https://console.jumpcloud.com/api/v2/activedirectories/{Domain_ID} \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n        \"domain\": \"{DC=DOMAIN;DC=COM}\",\n        \"use_case\": \"{ADASAUTHORITY}\",\n        \"delegation_state\": \"{ENABLED}\"\n    }' \\\n```",
        "operationId": "activedirectories_patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ObjectID of this Active Directory instance.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "description": "Organization identifier that can be obtained from console settings.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/active-directory"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/active-directory"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "directories"
        ],
        "x-codegen-request-body-name": "body",
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request PATCH \\\n  --url https://console.jumpcloud.com/api/v2/activedirectories/{id} \\\n  --header 'content-type: application/json' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE' \\\n  --data '{\"domain\":\"string\",\"useCase\":\"UNSET\",\"groupsEnabled\":true,\"delegationState\":\"ENABLED\"}'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/v2/activedirectories/{id}\"\n\npayload = {\n    \"domain\": \"string\",\n    \"useCase\": \"UNSET\",\n    \"groupsEnabled\": True,\n    \"delegationState\": \"ENABLED\"\n}\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\",\n    \"content-type\": \"application/json\"\n}\n\nresponse = requests.request(\"PATCH\", url, json=payload, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$headers.Add(\"content-type\", \"application/json\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{id}' -Method PATCH -Headers $headers -ContentType 'application/json' -Body '{\"domain\":\"string\",\"useCase\":\"UNSET\",\"groupsEnabled\":true,\"delegationState\":\"ENABLED\"}'"
          }
        ]
      },
      "x-functionalities-tags": [
        "active-directory"
      ]
    },
    "/activedirectories/{activedirectory_id}/translation-rules/bulk": {
      "post": {
        "tags": [
          "Translation Rules",
          "Active Directory"
        ],
        "summary": "Bulk Translation Rules Operations",
        "description": "This endpoint allows performing multiple translation rule operations (insert, update, delete) in a single request.\n\n#### Sample Request\n```\ncurl -X POST '[https://console.jumpcloud.com/api/v2/activedirectories/](https://console.jumpcloud.com/api/v2/activedirectories/){activedirectory_id}/translationrules/bulk' \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -H 'x-org-id: {ORG_ID}' \\\n  -d '{\n    \"insertTranslationRule\": [\n      {\n        \"source\": \"title\",\n        \"destination\": \"jobTitle\",\n        \"sourceType\": \"PATH\",\n        \"direction\": \"EXPORT\",\n        \"appliedOn\": [\n          \"CREATE\",\n          \"UPDATE\"\n        ]\n      }\n    ],\n    \"updateTranslationRule\": [\n      {\n        \"objectId\": \"{RULE_ID_BASE64_1}\",\n        \"source\": \"department\",\n        \"destination\": \"customDepartmentV3\",\n        \"sourceType\": \"GOLANG_TEMPLATE\",\n        \"appliedOn\": [\n          \"UPDATE\"\n        ]\n      }\n    ],\n    \"deleteTranslationRuleObjectIds\": [\n      \"{RULE_ID_BASE64_2}\",\n      \"{RULE_ID_BASE64_3}\"\n    ]\n  }'\n```\n",
        "operationId": "activedirectoriesTranslationRules_bulk",
        "parameters": [
          {
            "name": "activedirectory_id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "description": "Organization identifier that can be obtained from console settings.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActiveDirectoriesTranslationRulesBulkRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Result of the bulk operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/jumpcloud.idm.TranslationRulesBulkResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "directories"
        ],
        "x-codegen-request-body-name": "body",
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request POST \\\n  --url https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules/bulk \\\n  --header 'content-type: application/json' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE' \\\n  --data '{\"insertTranslationRules\":[{\"appliedOn\":[\"CREATE\"],\"destination\":\"string\",\"direction\":\"UNSPECIFIED\",\"source\":\"string\",\"sourceType\":\"PATH\"}],\"updateTranslationRules\":[{\"objectId\":\"string\",\"source\":\"string\",\"destination\":\"string\",\"direction\":\"UNSPECIFIED\",\"sourceType\":\"PATH\",\"appliedOn\":[\"CREATE\"]}],\"deleteTranslationRuleObjectIds\":[\"string\"]}'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules/bulk\"\n\npayload = {\n    \"insertTranslationRules\": [\n        {\n            \"appliedOn\": [\"CREATE\"],\n            \"destination\": \"string\",\n            \"direction\": \"UNSPECIFIED\",\n            \"source\": \"string\",\n            \"sourceType\": \"PATH\"\n        }\n    ],\n    \"updateTranslationRules\": [\n        {\n            \"objectId\": \"string\",\n            \"source\": \"string\",\n            \"destination\": \"string\",\n            \"direction\": \"UNSPECIFIED\",\n            \"sourceType\": \"PATH\",\n            \"appliedOn\": [\"CREATE\"]\n        }\n    ],\n    \"deleteTranslationRuleObjectIds\": [\"string\"]\n}\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\",\n    \"content-type\": \"application/json\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$headers.Add(\"content-type\", \"application/json\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules/bulk' -Method POST -Headers $headers -ContentType 'application/json' -Body '{\"insertTranslationRules\":[{\"appliedOn\":[\"CREATE\"],\"destination\":\"string\",\"direction\":\"UNSPECIFIED\",\"source\":\"string\",\"sourceType\":\"PATH\"}],\"updateTranslationRules\":[{\"objectId\":\"string\",\"source\":\"string\",\"destination\":\"string\",\"direction\":\"UNSPECIFIED\",\"sourceType\":\"PATH\",\"appliedOn\":[\"CREATE\"]}],\"deleteTranslationRuleObjectIds\":[\"string\"]}'"
          }
        ]
      }
    },
    "/activedirectories/{activedirectory_id}/translation-rules": {
      "get": {
        "tags": [
          "Translation Rules",
          "Active Directory"
        ],
        "summary": "List Translation Rules of the given active directory",
        "description": "This endpoint allows you to list all translation rules for a given Active Directory domain instance.\n\n#### Sample Request\n```\ncurl -X GET '[https://console.jumpcloud.com/api/v2/activedirectories/](https://console.jumpcloud.com/api/v2/activedirectories/){activedirectory_id}/translationrules?limit=100&skip=0' \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -H 'x-org-id: {ORG_ID}'\n```\n",
        "operationId": "activedirectoriesTranslationRules_list",
        "parameters": [
          {
            "name": "activedirectory_id",
            "in": "path",
            "description": "ObjectID of the Active Directory instance.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "A filter to apply to the query.\n\n**Filter structure**: `<field>:<operator>:<value>`.\n\n**field** = Populate with a valid field from an endpoint response.\n\n**operator** =  Supported operators are: eq, ne, gt, ge, lt, le, between, search, in.\n_Note: v1 operators differ from v2 operators._\n\n**value** = Populate with the value you want to search for. Is case sensitive. Supports wild cards.\n\n**EX:** `GET /api/v2/groups?filter=name:eq:Test+Group`",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "allowReserved": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return at once. Limited to 100.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "description": "Organization identifier that can be obtained from console settings.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The offset into the records to return.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of translation rules.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveDirectoriesTranslationRulesListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "directories",
          "directories.readonly"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request GET \\\n  --url 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules?filter=SOME_ARRAY_VALUE&limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules\"\n\nquerystring = {\"filter\":\"SOME_ARRAY_VALUE\",\"limit\":\"SOME_INTEGER_VALUE\",\"skip\":\"SOME_INTEGER_VALUE\"}\n\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules?filter=SOME_ARRAY_VALUE&limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE' -Method GET -Headers $headers"
          }
        ]
      },
      "post": {
        "tags": [
          "Translation Rules",
          "Active Directory"
        ],
        "summary": "Create Translation Rule",
        "description": "This endpoint allows you to create a new translation rule for a given Active Directory domain instance.\n\n#### Sample Request\n```\ncurl -X POST '[https://console.jumpcloud.com/api/v2/activedirectories/](https://console.jumpcloud.com/api/v2/activedirectories/){activedirectory_id}/translationrules' \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -H 'x-org-id: {ORG_ID}' \\\n  -d '{\n    \"organization_object_id\": \"{ORG_ID_BASE64}\",\n    \"domain_object_id\": \"{AD_ID_BASE64}\",\n    \"translation_rule\": {\n      \"source\": \"department\",\n      \"destination\": \"customDepartment\",\n      \"source_type\": \"PATH\",\n      \"direction\": \"EXPORT\",\n      \"applied_on\": [\n        \"CREATE\",\n        \"UPDATE\"\n      ]\n    }\n  }'\n```\n",
        "operationId": "activedirectoriesTranslationRules_post",
        "parameters": [
          {
            "name": "activedirectory_id",
            "in": "path",
            "description": "ObjectID of the Active Directory instance.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "description": "Organization identifier that can be obtained from console settings.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/jumpcloud.idm.IdmTranslationRulesInsertRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "The created translation rule's object ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveDirectoriesTranslationRulesInsertResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "directories"
        ],
        "x-codegen-request-body-name": "body",
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request POST \\\n  --url https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules \\\n  --header 'content-type: application/json' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE' \\\n  --data '{\"appliedOn\":[\"CREATE\"],\"destination\":\"string\",\"direction\":\"UNSPECIFIED\",\"source\":\"string\",\"sourceType\":\"PATH\"}'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules\"\n\npayload = {\n    \"appliedOn\": [\"CREATE\"],\n    \"destination\": \"string\",\n    \"direction\": \"UNSPECIFIED\",\n    \"source\": \"string\",\n    \"sourceType\": \"PATH\"\n}\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\",\n    \"content-type\": \"application/json\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$headers.Add(\"content-type\", \"application/json\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules' -Method POST -Headers $headers -ContentType 'application/json' -Body '{\"appliedOn\":[\"CREATE\"],\"destination\":\"string\",\"direction\":\"UNSPECIFIED\",\"source\":\"string\",\"sourceType\":\"PATH\"}'"
          }
        ]
      }
    },
    "/activedirectories/{provider_name}/translation-rules/recommendation": {
      "get": {
        "tags": [
          "Translation Rules",
          "Active Directory"
        ],
        "summary": "List Recommendation Translation Rules of the given active directory",
        "description": "This endpoint allows you to list all translation rules for a given Active Directory domain instance.\n\n#### Sample Request\n```\ncurl -X GET '[https://console.jumpcloud.com/api/v2/activedirectories/](https://console.jumpcloud.com/api/v2/activedirectories/){provider_name}/translationrules/recommendations?limit=100&skip=0' \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -H 'x-org-id: {ORG_ID}'\n```\n",
        "operationId": "activedirectoriesTranslationRules_recommendations",
        "parameters": [
          {
            "name": "provider_name",
            "in": "path",
            "description": "Provider name.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "A filter to apply to the query.\n\n**Filter structure**: `<field>:<operator>:<value>`.\n\n**field** = Populate with a valid field from an endpoint response.\n\n**operator** =  Supported operators are: eq, ne, gt, ge, lt, le, between, search, in.\n_Note: v1 operators differ from v2 operators._\n\n**value** = Populate with the value you want to search for. Is case sensitive. Supports wild cards.\n\n**EX:** `GET /api/v2/groups?filter=name:eq:Test+Group`",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "allowReserved": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return at once. Limited to 100.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "description": "Organization identifier that can be obtained from console settings.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The offset into the records to return.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of translation rules.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveDirectoriesTranslationRulesListResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "directories",
          "directories.readonly"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request GET \\\n  --url 'https://console.jumpcloud.com/api/v2/activedirectories/{provider_name}/translation-rules/recommendation?filter=SOME_ARRAY_VALUE&limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/v2/activedirectories/{provider_name}/translation-rules/recommendation\"\n\nquerystring = {\"filter\":\"SOME_ARRAY_VALUE\",\"limit\":\"SOME_INTEGER_VALUE\",\"skip\":\"SOME_INTEGER_VALUE\"}\n\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{provider_name}/translation-rules/recommendation?filter=SOME_ARRAY_VALUE&limit=SOME_INTEGER_VALUE&skip=SOME_INTEGER_VALUE' -Method GET -Headers $headers"
          }
        ]
      }
    },
    "/activedirectories/{activedirectory_id}/translation-rules/{translation_rule_object_id}": {
      "put": {
        "tags": [
          "Translation Rules",
          "Active Directory"
        ],
        "summary": "Update Translation Rule",
        "description": "This endpoint allows you to update an existing translation rule. It supports partial updates using PATCH.\n\n#### Sample Request\n```\ncurl -X PUT '[https://console.jumpcloud.com/api/v2/activedirectories/](https://console.jumpcloud.com/api/v2/activedirectories/){activedirectory_id}/translationrules/{translation_rule_object_id}' \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -H 'x-org-id: {ORG_ID}' \\\n  -d '{\n    \"organization_object_id\": \"{ORG_ID_BASE64}\",\n    \"domain_object_id\": \"{AD_ID_BASE64}\",\n    \"translation_rule_object_id\": \"{RULE_ID_BASE64}\",\n    \"translation_rule\": {\n      \"source\": \"department\",\n      \"destination\": \"customDepartmentV2\",\n      \"source_type\": \"PATH\",\n      \"applied_on\": [\n        \"UPDATE\"\n      ]\n    }\n  }'\n```\n",
        "operationId": "activedirectoriesTranslationRules_update",
        "parameters": [
          {
            "name": "activedirectory_id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "translation_rule_object_id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "description": "Organization identifier that can be obtained from console settings.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/jumpcloud.idm.IdmTranslationRulesUpdateRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "The updated translation rule's object ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveDirectoriesTranslationRulesUpdateResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "directories"
        ],
        "x-codegen-request-body-name": "body",
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request PUT \\\n  --url https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules/{translation_rule_object_id} \\\n  --header 'content-type: application/json' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE' \\\n  --data '{\"appliedOn\":[\"CREATE\"],\"destination\":\"string\",\"source\":\"string\",\"sourceType\":\"PATH\"}'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules/{translation_rule_object_id}\"\n\npayload = {\n    \"appliedOn\": [\"CREATE\"],\n    \"destination\": \"string\",\n    \"source\": \"string\",\n    \"sourceType\": \"PATH\"\n}\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\",\n    \"content-type\": \"application/json\"\n}\n\nresponse = requests.request(\"PUT\", url, json=payload, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$headers.Add(\"content-type\", \"application/json\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules/{translation_rule_object_id}' -Method PUT -Headers $headers -ContentType 'application/json' -Body '{\"appliedOn\":[\"CREATE\"],\"destination\":\"string\",\"source\":\"string\",\"sourceType\":\"PATH\"}'"
          }
        ]
      },
      "delete": {
        "tags": [
          "Translation Rules",
          "Active Directory"
        ],
        "summary": "Delete Translation Rule",
        "description": "This endpoint allows you to delete a specific translation rule.\n\n#### Sample Request\n```\ncurl -X DELETE '[https://console.jumpcloud.com/api/v2/activedirectories/](https://console.jumpcloud.com/api/v2/activedirectories/){activedirectory_id}/translationrules/{translation_rule_object_id}' \\\n  -H 'accept: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -H 'x-org-id: {ORG_ID}'\n```\n",
        "operationId": "activedirectoriesTranslationRules_delete",
        "parameters": [
          {
            "name": "activedirectory_id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "translation_rule_object_id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-org-id",
            "in": "header",
            "description": "Organization identifier that can be obtained from console settings.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Translation rule deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "directories"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request DELETE \\\n  --url https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules/{translation_rule_object_id} \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules/{translation_rule_object_id}\"\n\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"DELETE\", url, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/translation-rules/{translation_rule_object_id}' -Method DELETE -Headers $headers"
          }
        ]
      }
    },
    "/activedirectories/translation-rules/preview": {
      "post": {
        "tags": [
          "Translation Rules",
          "Active Directory"
        ],
        "summary": "Preview of Translation Rules",
        "description": "This endpoint previews the translation rules for a user.\n\n#### Sample Request\n```\ncurl -X POST '[https://console.jumpcloud.com/api/v2/activedirectories/](https://console.jumpcloud.com/api/v2/activedirectories/){activedirectory_id}/translationrules/preview' \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\n  -H 'x-org-id: {ORG_ID}' \\\n  -d '{\n    \"userObjectId\": \"{USER_ID_HEX}\",\n    \"idmTranslationRules\": [\n      {\n        \"source\": \"department\",\n        \"destination\": \"customDepartment\",\n        \"sourceType\": \"PATH\",\n        \"direction\": \"IMPORT\",\n        \"appliedOn\": [\n          \"CREATE\"\n        ]\n      }\n    ]\n  }'\n```\n",
        "operationId": "activedirectoriesTranslationRules_preview",
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "description": "Organization identifier that can be obtained from console settings.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActiveDirectoriesTranslationRulesPreviewRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Result of the preview operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveDirectoriesTranslationRulesPreviewResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "x-scopes": [
          "directories",
          "directories.readonly"
        ],
        "x-codegen-request-body-name": "body",
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl --request POST \\\n  --url https://console.jumpcloud.com/api/v2/activedirectories/translation-rules/preview \\\n  --header 'content-type: application/json' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --header 'x-org-id: SOME_STRING_VALUE' \\\n  --data '{\"translationRules\":[{\"appliedOn\":[\"CREATE\"],\"default\":true,\"destination\":\"string\",\"direction\":\"UNSPECIFIED\",\"editable\":true,\"id\":\"string\",\"required\":true,\"source\":\"string\",\"sourceType\":\"PATH\"}],\"userObjectId\":\"string\",\"activeDirectoryId\":\"string\"}'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://console.jumpcloud.com/api/v2/activedirectories/translation-rules/preview\"\n\npayload = {\n    \"translationRules\": [\n        {\n            \"appliedOn\": [\"CREATE\"],\n            \"default\": True,\n            \"destination\": \"string\",\n            \"direction\": \"UNSPECIFIED\",\n            \"editable\": True,\n            \"id\": \"string\",\n            \"required\": True,\n            \"source\": \"string\",\n            \"sourceType\": \"PATH\"\n        }\n    ],\n    \"userObjectId\": \"string\",\n    \"activeDirectoryId\": \"string\"\n}\nheaders = {\n    \"x-org-id\": \"SOME_STRING_VALUE\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\",\n    \"content-type\": \"application/json\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Powershell",
            "source": "$headers=@{}\n$headers.Add(\"x-org-id\", \"SOME_STRING_VALUE\")\n$headers.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n$headers.Add(\"content-type\", \"application/json\")\n$response = Invoke-RestMethod -Uri 'https://console.jumpcloud.com/api/v2/activedirectories/translation-rules/preview' -Method POST -Headers $headers -ContentType 'application/json' -Body '{\"translationRules\":[{\"appliedOn\":[\"CREATE\"],\"default\":true,\"destination\":\"string\",\"direction\":\"UNSPECIFIED\",\"editable\":true,\"id\":\"string\",\"required\":true,\"source\":\"string\",\"sourceType\":\"PATH\"}],\"userObjectId\":\"string\",\"activeDirectoryId\":\"string\"}'"
          }
        ]
      }
    },
    "/administrators/{id}/organizationlinks": {
      "get": {
[...]
